-- ELIMINA AS TABELAS -------------------------------------------------------------------------------------------------------

-- clientes
if exists (select * from sysobjects where id = object_id(N'[dbo].[TBS002]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TBS002]
GO

-- outros enderecos de clientes
if exists (select * from sysobjects where id = object_id(N'[dbo].[TBS003]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TBS003]
GO

-- vendedores
if exists (select * from sysobjects where id = object_id(N'[dbo].[TBS004]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TBS004]
GO

-- transportadoras
if exists (select * from sysobjects where id = object_id(N'[dbo].[TBS005]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TBS005]
GO

-- fornecedores
if exists (select * from sysobjects where id = object_id(N'[dbo].[TBS006]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TBS006]
GO

-- produtos
if exists (select * from sysobjects where id = object_id(N'[dbo].[TBS010]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TBS010]
GO

-- unidades de medidas
if exists (select * from sysobjects where id = object_id(N'[dbo].[TBS011]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TBS011]
GO

-- marcas de produtos
if exists (select * from sysobjects where id = object_id(N'[dbo].[TBS014]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TBS014]
GO

-- politica de precos
if exists (select * from sysobjects where id = object_id(N'[dbo].[TBS015]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TBS015]
GO


-- RECRIA AS TABELAS --------------------------------------------------------------------------------------------------------

-- clientes
CREATE TABLE [dbo].[TBS002] (
	[CLIEMPCOD] [smallint] NOT NULL ,
	[CLICOD] [int] NOT NULL ,
	[CLINOM] [char] (50) NULL ,
	[CLINOMFAN] [char] (25) NULL ,
	[CLIEND] [char] (50) NULL ,
	[CLICEP] [char] (9) NULL ,
	[CLIBAI] [char] (30) NULL ,
	[CLICID] [char] (35) NULL ,
	[CLICONTAT] [char] (30) NULL ,
	[CLITEL] [char] (15) NULL ,
	[CLIFAX] [char] (15) NULL ,
	[RAMCOD] [smallint] NULL ,
	[RAMEMPCOD] [smallint] NULL ,
	[CLICGC] [char] (14) NULL ,
	[CLICPF] [char] (11) NULL ,
	[CLIIES] [char] (18) NULL ,
	[CLIIMU] [char] (18) NULL ,
	[CLIDATCAD] [datetime] NULL ,
	[CLISTATUS] [char] (1) NULL ,
	[CLIEMAIL] [char] (40) NULL ,
	[CLIURL] [char] (30) NULL ,
	[CPGCOD] [smallint] NULL ,
	[CPGEMPCOD] [smallint] NULL ,
	[VENCOD] [smallint] NULL ,
	[VENEMPCOD] [smallint] NULL ,
	[CLIBLCRED] [char] (1) NULL ,
	[CLIUCPDAT] [datetime] NULL ,
	[CLIUCPVAL] [money] NULL ,
	[CLICLA] [char] (1) NULL ,
	[CLILIC] [money] NULL ,
	[CLILICVEN] [datetime] NULL ,
	[TRNCOD] [int] NULL ,
	[TRNEMPCOD] [smallint] NULL ,
	[UFESIG] [char] (2) NULL ,
	[CLITIPPES] [char] (1) NULL ,
	[CLITIPCLI] [char] (1) NULL ,
	[CLIPRICOM] [datetime] NULL ,
	[CLIMCPDAT] [datetime] NULL ,
	[CLIMCPVAL] [money] NULL ,
	[CLIPEDLIB] [money] NULL ,
	[CLIPEDBLQ] [money] NULL ,
	[CLITITABT] [money] NULL ,
	[CLIPSTCOD] [int] NULL ,
	[CLIDATFUN] [datetime] NULL ,
	[CLIINTENT] [char] (3) NULL ,
	[CLIOBS] [char] (254) NULL ,
	[CLIDIAE11] [smallint] NULL ,
	[CLIINTDIA1] [char] (2) NULL ,
	[CLIDIAE12] [smallint] NULL ,
	[CLIHORE11] [char] (5) NULL ,
	[CLIINTHOR1] [char] (3) NULL ,
	[CLIHORE12] [char] (5) NULL ,
	[CLIDIAE21] [smallint] NULL ,
	[CLIINTDIA2] [char] (2) NULL ,
	[CLIDIAE22] [smallint] NULL ,
	[CLIHORE21] [char] (5) NULL ,
	[CLIINTHOR2] [char] (3) NULL ,
	[CLIHORE22] [char] (5) NULL ,
	[CLIDIAE31] [smallint] NULL ,
	[CLIINTDIA3] [char] (2) NULL ,
	[CLIDIAE32] [smallint] NULL ,
	[CLIHORE31] [char] (5) NULL ,
	[CLIINTHOR3] [char] (3) NULL ,
	[CLIHORE32] [char] (5) NULL ,
	[CLIRECENT] [char] (15) NULL ,
	[CLITELREC] [char] (15) NULL ,
	[CLIRAMREC] [smallint] NULL ,
	[CLICARREC] [char] (15) NULL ,
	[TESCOD] [smallint] NULL ,
	[TESEMPCOD] [smallint] NULL ,
	[CLIISEICMS] [char] (1) NULL ,
	[CLIBLQTRN] [char] (1) NULL ,
	[CLITIPFRE] [smallint] NULL ,
	[CLIPCPVAL] [money] NULL ,
	[CLIMAIATR] [smallint] NULL ,
	[CLIACUATR] [int] NULL ,
	[CLIQTDBAI] [int] NULL ,
	[CLIACUCOM] [money] NULL ,
	[CLIACUTIT] [money] NULL ,
	[CLIQTDCOM] [int] NULL ,
	[CLIQTDTIT] [int] NULL ,
	[CLIPCPNFS] [int] NULL ,
	[CLIMCPNFS] [int] NULL ,
	[CLIUCPNFS] [int] NULL 
)
GO

-- outros enderecos de clientes
CREATE TABLE [dbo].[TBS003] (
	[ENDEMPCOD] [smallint] NOT NULL ,
	[ENDTIP] [smallint] NOT NULL ,
	[ENDCOD] [int] NOT NULL ,
	[ENDEND] [char] (50) NULL ,
	[ENDBAI] [char] (30) NULL ,
	[ENDCID] [char] (30) NULL ,
	[ENDCEP] [char] (9) NULL ,
	[ENDCGC] [char] (14) NULL ,
	[ENDCPF] [char] (11) NULL ,
	[ENDIES] [char] (18) NULL ,
	[ENDIMU] [char] (18) NULL ,
	[ENDCONTAT] [char] (30) NULL ,
	[ENDTEL] [char] (15) NULL ,
	[ENDFAX] [char] (15) NULL ,
	[ENDMAIL] [char] (40) NULL ,
	[UFESIG] [char] (2) NULL ,
	[ENDTIPPES] [char] (1) NULL ,
	[ENDDATCAD] [datetime] NULL 
)
GO

-- vendedores
CREATE TABLE [dbo].[TBS004] (
	[VENEMPCOD] [smallint] NOT NULL ,
	[VENCOD] [smallint] NOT NULL ,
	[VENNOM] [char] (50) NULL ,
	[VENNOMRED] [char] (30) NULL ,
	[VENEND] [char] (50) NULL ,
	[VENBAI] [char] (30) NULL ,
	[VENCID] [char] (35) NULL ,
	[VENCEP] [char] (9) NULL ,
	[VENCPF] [char] (11) NULL ,
	[VENTEL] [char] (15) NULL ,
	[VENFAX] [char] (15) NULL ,
	[VENRAM] [smallint] NULL ,
	[VENEMAIL] [char] (40) NULL ,
	[VENURL] [char] (30) NULL ,
	[VENLOC] [char] (1) NULL ,
	[VENUFESIG] [char] (2) NULL ,
	[VENDATCAD] [datetime] NULL ,
	[VENCALCOM] [char] (1) NULL ,
	[VENPERCOM] [smallmoney] NULL 
)
GO

-- transportadoras
CREATE TABLE [dbo].[TBS005] (
	[TRNEMPCOD] [smallint] NOT NULL ,
	[TRNCOD] [int] NOT NULL ,
	[TRNNOM] [char] (50) NULL ,
	[TRNNOMFAN] [char] (15) NULL ,
	[TRNEND] [char] (40) NULL ,
	[TRNBAI] [char] (30) NULL ,
	[TRNCEP] [char] (9) NULL ,
	[TRNCID] [char] (15) NULL ,
	[TRNCGC] [char] (14) NULL ,
	[TRNIES] [char] (18) NULL ,
	[TRNTEL] [char] (15) NULL ,
	[TRNFAX] [char] (15) NULL ,
	[TRNEMAIL] [char] (40) NULL ,
	[TRNURL] [char] (30) NULL ,
	[TRNCONTAT] [char] (15) NULL ,
	[TRNUFESIG] [char] (2) NULL ,
	[TRNDATCAD] [datetime] NULL 
)
GO

-- fornecedores
CREATE TABLE [dbo].[TBS006] (
	[FOREMPCOD] [smallint] NOT NULL ,
	[FORCOD] [int] NOT NULL ,
	[FORNOM] [char] (50) NULL ,
	[FORNOMFAN] [char] (25) NULL ,
	[FOREND] [char] (50) NULL ,
	[FORBAI] [char] (30) NULL ,
	[FORCEP] [char] (9) NULL ,
	[FORCID] [char] (35) NULL ,
	[UFESIG] [char] (2) NULL ,
	[FORCGC] [char] (14) NULL ,
	[FORCPF] [char] (11) NULL ,
	[FORIES] [char] (18) NULL ,
	[FORIMU] [char] (18) NULL ,
	[FORTEL] [char] (15) NULL ,
	[FORFAX] [char] (15) NULL ,
	[FOREMAIL] [char] (40) NULL ,
	[FORURL] [char] (30) NULL ,
	[FORCONTAT] [char] (30) NULL ,
	[FORDATCAD] [datetime] NULL ,
	[FORLIC] [money] NULL ,
	[FORLICVEN] [datetime] NULL ,
	[FORPRICOM] [datetime] NULL ,
	[FORMCPDAT] [datetime] NULL ,
	[FORMCPVAL] [money] NULL ,
	[FORUCPDAT] [datetime] NULL ,
	[FORUCPVAL] [money] NULL ,
	[FORPEDLIB] [money] NULL ,
	[FORPEDBLQ] [money] NULL ,
	[FORTITABT] [money] NULL ,
	[FORTIPPES] [char] (1) NULL ,
	[CPGCOD] [smallint] NULL ,
	[CPGEMPCOD] [smallint] NULL ,
	[FORIPI] [decimal](8, 5) NULL ,
	[FORDIFICM] [decimal](8, 5) NULL ,
	[FORPIS] [decimal](8, 5) NULL ,
	[FORCOF] [decimal](8, 5) NULL ,
	[FORFRE] [decimal](8, 5) NULL ,
	[FORCUSADM] [decimal](8, 5) NULL ,
	[FORMKPCOR1] [decimal](8, 5) NULL ,
	[FORMKPCOR2] [decimal](8, 5) NULL ,
	[FORMKPLOJ1] [decimal](8, 5) NULL ,
	[FORMKPLOJ2] [decimal](8, 5) NULL ,
	[FORMKPREV1] [decimal](8, 5) NULL ,
	[FORMKPREV2] [decimal](8, 5) NULL ,
	[FORMKPWE11] [decimal](8, 5) NULL ,
	[FORMKPWE12] [decimal](8, 5) NULL ,
	[FORMKPWE21] [decimal](8, 5) NULL ,
	[FORMKPWE22] [decimal](8, 5) NULL ,
	[FORREDCOR1] [decimal](8, 5) NULL ,
	[FORREDCOR2] [decimal](8, 5) NULL ,
	[FORREDCOR3] [decimal](8, 5) NULL ,
	[FORREDCOR4] [decimal](8, 5) NULL ,
	[FORREDLOJ1] [decimal](8, 5) NULL ,
	[FORREDLOJ2] [decimal](8, 5) NULL ,
	[FORREDLOJ3] [decimal](8, 5) NULL ,
	[FORREDLOJ4] [decimal](8, 5) NULL ,
	[FORREDREV1] [decimal](8, 5) NULL ,
	[FORREDREV2] [decimal](8, 5) NULL ,
	[FORREDREV3] [decimal](8, 5) NULL ,
	[FORREDREV4] [decimal](8, 5) NULL ,
	[FORREDWE11] [decimal](8, 5) NULL ,
	[FORREDWE12] [decimal](8, 5) NULL ,
	[FORREDWE13] [decimal](8, 5) NULL ,
	[FORREDWE14] [decimal](8, 5) NULL ,
	[FORREDWE21] [decimal](8, 5) NULL ,
	[FORREDWE22] [decimal](8, 5) NULL ,
	[FORREDWE23] [decimal](8, 5) NULL ,
	[FORREDWE24] [decimal](8, 5) NULL ,
	[FORCMS] [decimal](8, 5) NULL ,
	[FORPDD1] [decimal](8, 5) NULL ,
	[FORPDD2] [decimal](8, 5) NULL ,
	[FORPDD3] [decimal](8, 5) NULL ,
	[FORPDD4] [decimal](8, 5) NULL ,
	[FORPDD5] [decimal](8, 5) NULL ,
	[FORDATFUN] [datetime] NULL ,
	[FOROBS] [char] (254) NULL ,
	[TRNCOD] [int] NULL ,
	[TRNEMPCOD] [smallint] NULL ,
	[FORTESCOD] [smallint] NULL ,
	[FORTESEMP] [smallint] NULL ,
	[FORSINHAB] [char] (1) NULL ,
	[FORRECATI] [char] (1) NULL ,
	[FORCONRES] [datetime] NULL ,
	[FORPCPVAL] [money] NULL ,
	[FORPCPNFE] [int] NULL ,
	[FORMCPNFE] [int] NULL ,
	[FORUCPNFE] [int] NULL 
)
GO

-- produtos
CREATE TABLE [dbo].[TBS010] (
	[PROEMPCOD] [smallint] NOT NULL ,
	[PROCOD] [char] (15) NOT NULL ,
	[PRODES] [char] (50) NULL ,
	[PROCODBAR1] [char] (15) NULL ,
	[PROCODBAR2] [char] (15) NULL ,
	[PROCODBAR3] [char] (15) NULL ,
	[PROCODBAR4] [char] (15) NULL ,
	[PROSTATUS] [char] (1) NULL ,
	[PROPESLIQ] [money] NULL ,
	[PROPESBRU] [money] NULL ,
	[PROEMPUM] [smallint] NULL ,
	[PROUM1] [char] (2) NULL ,
	[PROUM1QTD] [money] NULL ,
	[PROUM2] [char] (2) NULL ,
	[PROUM2QTD] [money] NULL ,
	[PROUM3] [char] (2) NULL ,
	[PROUM3QTD] [money] NULL ,
	[PROUM4] [char] (2) NULL ,
	[PROUM4QTD] [money] NULL ,
	[GRUCOD] [smallint] NULL ,
	[GRUEMPCOD] [smallint] NULL ,
	[PRODATVAL] [datetime] NULL ,
	[FORCOD] [int] NULL ,
	[FOREMPCOD] [smallint] NULL ,
	[MARCOD] [smallint] NULL ,
	[MAREMPCOD] [smallint] NULL ,
	[PROICMSSAI] [smallmoney] NULL ,
	[PROICMSENT] [smallmoney] NULL ,
	[PROPBISAI] [decimal](8, 5) NULL ,
	[PROPBIENT] [decimal](8, 5) NULL ,
	[PROIPI] [smallmoney] NULL ,
	[PRODATCAD] [datetime] NULL ,
	[FABCOD] [smallint] NULL ,
	[FABEMPCOD] [smallint] NULL ,
	[PROLOCFIS] [char] (20) NULL ,
	[PROREFFOR] [char] (15) NULL ,
	[PROISS] [smallmoney] NULL ,
	[PROSTBA] [char] (1) NULL ,
	[PROSTBB] [char] (2) NULL ,
	[PROPRIVEN] [datetime] NULL ,
	[PROMVDDAT] [datetime] NULL ,
	[PROMVDVAL] [money] NULL ,
	[PROUVDDAT] [datetime] NULL ,
	[PROUVDVAL] [money] NULL ,
	[PROPRICOM] [datetime] NULL ,
	[PROMCPDAT] [datetime] NULL ,
	[PROMCPVAL] [money] NULL ,
	[PROUCPDAT] [datetime] NULL ,
	[PROUCPVAL] [money] NULL ,
	[PROGERPEN] [char] (1) NULL ,
	[MARNOM] [char] (30) NULL ,
	[PROSAIEMP] [smallint] NULL ,
	[PROSAICOD] [smallint] NULL ,
	[PROENTEMP] [smallint] NULL ,
	[PROENTCOD] [smallint] NULL ,
	[PROPVDVAL] [money] NULL ,
	[PROPVDNFS] [int] NULL ,
	[PROUVDNFS] [int] NULL ,
	[PROMVDNFS] [int] NULL ,
	[PROPCPVAL] [money] NULL ,
	[PROPCPNFE] [int] NULL ,
	[PROUCPNFE] [int] NULL ,
	[PROMCPNFE] [int] NULL 
)
GO

-- unidades de medidas
CREATE TABLE [dbo].[TBS011] (
	[UNIEMPCOD] [smallint] NOT NULL ,
	[UNICOD] [char] (2) NOT NULL ,
	[UNIDES] [char] (20) NULL ,
	[UNIDATCAD] [datetime] NULL 
)
GO

-- marcas de produtos
CREATE TABLE [dbo].[TBS014] (
	[MAREMPCOD] [smallint] NOT NULL ,
	[MARCOD] [smallint] NOT NULL ,
	[MARNOM] [char] (30) NULL ,
	[MARSEQPRO] [smallint] NULL ,
	[MARDATCAD] [datetime] NULL 
)
GO

-- politica de precos
CREATE TABLE [dbo].[TBS015] (
	[PDPEMPCOD] [smallint] NOT NULL ,
	[PDPCOD] [char] (15) NOT NULL ,
	[PDPPROEMP] [smallint] NULL ,
	[PDPIPI] [decimal](8, 5) NULL ,
	[PDPDIFICM] [decimal](8, 5) NULL ,
	[PDPPIS] [decimal](8, 5) NULL ,
	[PDPCOF] [decimal](8, 5) NULL ,
	[PDPFRE] [decimal](8, 5) NULL ,
	[PDPCUSADM] [decimal](8, 5) NULL ,
	[PDPCMS] [decimal](8, 5) NULL ,
	[PDPMKPCOR1] [decimal](8, 5) NULL ,
	[PDPMKPCOR2] [decimal](8, 5) NULL ,
	[PDPMKPLOJ1] [decimal](8, 5) NULL ,
	[PDPMKPLOJ2] [decimal](8, 5) NULL ,
	[PDPMKPREV1] [decimal](8, 5) NULL ,
	[PDPMKPREV2] [decimal](8, 5) NULL ,
	[PDPMKPWE11] [decimal](8, 5) NULL ,
	[PDPMKPWE12] [decimal](8, 5) NULL ,
	[PDPMKPWE21] [decimal](8, 5) NULL ,
	[PDPMKPWE22] [decimal](8, 5) NULL ,
	[PDPMKPPRO1] [decimal](8, 5) NULL ,
	[PDPMKPPRO2] [decimal](8, 5) NULL ,
	[PDPVALPROI] [datetime] NULL ,
	[PDPVALPROF] [datetime] NULL ,
	[PDPPROCOR] [char] (1) NULL ,
	[PDPPROLOJ] [char] (1) NULL ,
	[PDPPROWE1] [char] (1) NULL ,
	[PDPPROWE2] [char] (1) NULL ,
	[PDPPROREV] [char] (1) NULL ,
	[PDPPDD1] [decimal](8, 5) NULL ,
	[PDPPDD2] [decimal](8, 5) NULL ,
	[PDPPDD3] [decimal](8, 5) NULL ,
	[PDPPDD4] [decimal](8, 5) NULL ,
	[PDPPDD5] [decimal](8, 5) NULL ,
	[PDPPREFOR] [money] NULL ,
	[PDPUNI] [char] (2) NULL ,
	[PDPQTDEMB] [money] NULL ,
	[PDPPREUNI] [decimal](11, 4) NULL ,
	[PDPSEGFOR] [char] (1) NULL ,
	[PDPREDCOR1] [decimal](8, 5) NULL ,
	[PDPREDCOR2] [decimal](8, 5) NULL ,
	[PDPREDCOR3] [decimal](8, 5) NULL ,
	[PDPREDCOR4] [decimal](8, 5) NULL ,
	[PDPREDLOJ1] [decimal](8, 5) NULL ,
	[PDPREDLOJ2] [decimal](8, 5) NULL ,
	[PDPREDLOJ3] [decimal](8, 5) NULL ,
	[PDPREDLOJ4] [decimal](8, 5) NULL ,
	[PDPREDREV1] [decimal](8, 5) NULL ,
	[PDPREDREV2] [decimal](8, 5) NULL ,
	[PDPREDREV3] [decimal](8, 5) NULL ,
	[PDPREDREV4] [decimal](8, 5) NULL ,
	[PDPREDWE11] [decimal](8, 5) NULL ,
	[PDPREDWE12] [decimal](8, 5) NULL ,
	[PDPREDWE13] [decimal](8, 5) NULL ,
	[PDPREDWE14] [decimal](8, 5) NULL ,
	[PDPREDWE21] [decimal](8, 5) NULL ,
	[PDPREDWE22] [decimal](8, 5) NULL ,
	[PDPREDWE23] [decimal](8, 5) NULL ,
	[PDPREDWE24] [decimal](8, 5) NULL ,
	[PDPREDPRO1] [decimal](8, 5) NULL ,
	[PDPREDPRO2] [decimal](8, 5) NULL ,
	[PDPREDPRO3] [decimal](8, 5) NULL ,
	[PDPREDPRO4] [decimal](8, 5) NULL ,
	[PDPDATALT] [datetime] NULL ,
	[PDPDATATU] [datetime] NULL ,
	[PDPSEL] [char] (1) NULL ,
	[PDPDATCAD] [datetime] NULL ,
	[MOEEMPCOD] [smallint] NULL ,
	[MOECOD] [smallint] NULL 
)
GO


-- SETA OS VALORES DEFAULT DOS ATRIBUTOS ------------------------------------------------------------------------------------

-- clientes
ALTER TABLE [dbo].[TBS002] WITH NOCHECK ADD 
	CONSTRAINT [DF_TBS002_CLIEMPCOD] DEFAULT (0) FOR [CLIEMPCOD],
	CONSTRAINT [DF_TBS002_CLICOD] DEFAULT (0) FOR [CLICOD],
	CONSTRAINT [DF_TBS002_CLINOM] DEFAULT ('') FOR [CLINOM],
	CONSTRAINT [DF_TBS002_CLINOMFAN] DEFAULT ('') FOR [CLINOMFAN],
	CONSTRAINT [DF_TBS002_CLIEND] DEFAULT ('') FOR [CLIEND],
	CONSTRAINT [DF_TBS002_CLICEP] DEFAULT ('') FOR [CLICEP],
	CONSTRAINT [DF_TBS002_CLIBAI] DEFAULT ('') FOR [CLIBAI],
	CONSTRAINT [DF_TBS002_CLICID] DEFAULT ('') FOR [CLICID],
	CONSTRAINT [DF_TBS002_CLICONTAT] DEFAULT ('') FOR [CLICONTAT],
	CONSTRAINT [DF_TBS002_CLITEL] DEFAULT ('') FOR [CLITEL],
	CONSTRAINT [DF_TBS002_CLIFAX] DEFAULT ('') FOR [CLIFAX],
	CONSTRAINT [DF_TBS002_RAMCOD] DEFAULT (0) FOR [RAMCOD],
	CONSTRAINT [DF_TBS002_RAMEMPCOD] DEFAULT (0) FOR [RAMEMPCOD],
	CONSTRAINT [DF_TBS002_CLICGC] DEFAULT ('') FOR [CLICGC],
	CONSTRAINT [DF_TBS002_CLICPF] DEFAULT ('') FOR [CLICPF],
	CONSTRAINT [DF_TBS002_CLIIES] DEFAULT ('') FOR [CLIIES],
	CONSTRAINT [DF_TBS002_CLIIMU] DEFAULT ('') FOR [CLIIMU],
	CONSTRAINT [DF_TBS002_CLIDATCAD] DEFAULT ('1/1/1753') FOR [CLIDATCAD],
	CONSTRAINT [DF_TBS002_CLISTATUS] DEFAULT ('') FOR [CLISTATUS],
	CONSTRAINT [DF_TBS002_CLIEMAIL] DEFAULT ('') FOR [CLIEMAIL],
	CONSTRAINT [DF_TBS002_CLIURL] DEFAULT ('') FOR [CLIURL],
	CONSTRAINT [DF_TBS002_CPGCOD] DEFAULT (0) FOR [CPGCOD],
	CONSTRAINT [DF_TBS002_CPGEMPCOD] DEFAULT (0) FOR [CPGEMPCOD],
	CONSTRAINT [DF_TBS002_VENCOD] DEFAULT (0) FOR [VENCOD],
	CONSTRAINT [DF_TBS002_VENEMPCOD] DEFAULT (0) FOR [VENEMPCOD],
	CONSTRAINT [DF_TBS002_CLIBLCRED] DEFAULT ('') FOR [CLIBLCRED],
	CONSTRAINT [DF_TBS002_CLIUCPDAT] DEFAULT ('1/1/1753') FOR [CLIUCPDAT],
	CONSTRAINT [DF_TBS002_CLIUCPVAL] DEFAULT (0) FOR [CLIUCPVAL],
	CONSTRAINT [DF_TBS002_CLICLA] DEFAULT ('') FOR [CLICLA],
	CONSTRAINT [DF_TBS002_CLILIC] DEFAULT (0) FOR [CLILIC],
	CONSTRAINT [DF_TBS002_CLILICVEN] DEFAULT ('1/1/1753') FOR [CLILICVEN],
	CONSTRAINT [DF_TBS002_TRNCOD] DEFAULT (0) FOR [TRNCOD],
	CONSTRAINT [DF_TBS002_TRNEMPCOD] DEFAULT (0) FOR [TRNEMPCOD],
	CONSTRAINT [DF_TBS002_UFESIG] DEFAULT ('') FOR [UFESIG],
	CONSTRAINT [DF_TBS002_CLITIPPES] DEFAULT ('') FOR [CLITIPPES],
	CONSTRAINT [DF_TBS002_CLITIPCLI] DEFAULT ('') FOR [CLITIPCLI],
	CONSTRAINT [DF_TBS002_CLIPRICOM] DEFAULT ('1/1/1753') FOR [CLIPRICOM],
	CONSTRAINT [DF_TBS002_CLIMCPDAT] DEFAULT ('1/1/1753') FOR [CLIMCPDAT],
	CONSTRAINT [DF_TBS002_CLIMCPVAL] DEFAULT (0) FOR [CLIMCPVAL],
	CONSTRAINT [DF_TBS002_CLIPEDLIB] DEFAULT (0) FOR [CLIPEDLIB],
	CONSTRAINT [DF_TBS002_CLIPEDBLQ] DEFAULT (0) FOR [CLIPEDBLQ],
	CONSTRAINT [DF_TBS002_CLITITABT] DEFAULT (0) FOR [CLITITABT],
	CONSTRAINT [DF_TBS002_CLIPSTCOD] DEFAULT (0) FOR [CLIPSTCOD],
	CONSTRAINT [DF_TBS002_CLIDATFUN] DEFAULT ('1/1/1753') FOR [CLIDATFUN],
	CONSTRAINT [DF_TBS002_CLIINTENT] DEFAULT ('') FOR [CLIINTENT],
	CONSTRAINT [DF_TBS002_CLIOBS] DEFAULT ('') FOR [CLIOBS],
	CONSTRAINT [DF_TBS002_CLIDIAE11] DEFAULT (0) FOR [CLIDIAE11],
	CONSTRAINT [DF_TBS002_CLIINTDIA1] DEFAULT ('') FOR [CLIINTDIA1],
	CONSTRAINT [DF_TBS002_CLIDIAE12] DEFAULT (0) FOR [CLIDIAE12],
	CONSTRAINT [DF_TBS002_CLIHORE11] DEFAULT ('') FOR [CLIHORE11],
	CONSTRAINT [DF_TBS002_CLIINTHOR1] DEFAULT ('') FOR [CLIINTHOR1],
	CONSTRAINT [DF_TBS002_CLIHORE12] DEFAULT ('') FOR [CLIHORE12],
	CONSTRAINT [DF_TBS002_CLIDIAE21] DEFAULT (0) FOR [CLIDIAE21],
	CONSTRAINT [DF_TBS002_CLIINTDIA2] DEFAULT ('') FOR [CLIINTDIA2],
	CONSTRAINT [DF_TBS002_CLIDIAE22] DEFAULT (0) FOR [CLIDIAE22],
	CONSTRAINT [DF_TBS002_CLIHORE21] DEFAULT ('') FOR [CLIHORE21],
	CONSTRAINT [DF_TBS002_CLIINTHOR2] DEFAULT ('') FOR [CLIINTHOR2],
	CONSTRAINT [DF_TBS002_CLIHORE22] DEFAULT ('') FOR [CLIHORE22],
	CONSTRAINT [DF_TBS002_CLIDIAE31] DEFAULT (0) FOR [CLIDIAE31],
	CONSTRAINT [DF_TBS002_CLIINTDIA3] DEFAULT ('') FOR [CLIINTDIA3],
	CONSTRAINT [DF_TBS002_CLIDIAE32] DEFAULT (0) FOR [CLIDIAE32],
	CONSTRAINT [DF_TBS002_CLIHORE31] DEFAULT ('') FOR [CLIHORE31],
	CONSTRAINT [DF_TBS002_CLIINTHOR3] DEFAULT ('') FOR [CLIINTHOR3],
	CONSTRAINT [DF_TBS002_CLIHORE32] DEFAULT ('') FOR [CLIHORE32],
	CONSTRAINT [DF_TBS002_CLIRECENT] DEFAULT ('') FOR [CLIRECENT],
	CONSTRAINT [DF_TBS002_CLITELREC] DEFAULT ('') FOR [CLITELREC],
	CONSTRAINT [DF_TBS002_CLIRAMREC] DEFAULT (0) FOR [CLIRAMREC],
	CONSTRAINT [DF_TBS002_CLICARREC] DEFAULT ('') FOR [CLICARREC],
	CONSTRAINT [DF_TBS002_TESCOD] DEFAULT (0) FOR [TESCOD],
	CONSTRAINT [DF_TBS002_TESEMPCOD] DEFAULT (0) FOR [TESEMPCOD],
	CONSTRAINT [DF_TBS002_CLIISEICMS] DEFAULT ('') FOR [CLIISEICMS],
	CONSTRAINT [DF_TBS002_CLIBLQTRN] DEFAULT ('') FOR [CLIBLQTRN],
	CONSTRAINT [DF_TBS002_CLITIPFRE] DEFAULT (0) FOR [CLITIPFRE],
	CONSTRAINT [DF_TBS002_CLIPCPVAL] DEFAULT (0) FOR [CLIPCPVAL],
	CONSTRAINT [DF_TBS002_CLIMAIATR] DEFAULT (0) FOR [CLIMAIATR],
	CONSTRAINT [DF_TBS002_CLIACUATR] DEFAULT (0) FOR [CLIACUATR],
	CONSTRAINT [DF_TBS002_CLIQTDBAI] DEFAULT (0) FOR [CLIQTDBAI],
	CONSTRAINT [DF_TBS002_CLIACUCOM] DEFAULT (0) FOR [CLIACUCOM],
	CONSTRAINT [DF_TBS002_CLIACUTIT] DEFAULT (0) FOR [CLIACUTIT],
	CONSTRAINT [DF_TBS002_CLIQTDCOM] DEFAULT (0) FOR [CLIQTDCOM],
	CONSTRAINT [DF_TBS002_CLIQTDTIT] DEFAULT (0) FOR [CLIQTDTIT],
	CONSTRAINT [DF_TBS002_CLIPCPNFS] DEFAULT (0) FOR [CLIPCPNFS],
	CONSTRAINT [DF_TBS002_CLIMCPNFS] DEFAULT (0) FOR [CLIMCPNFS],
	CONSTRAINT [DF_TBS002_CLIUCPNFS] DEFAULT (0) FOR [CLIUCPNFS]
GO

-- outros enderecos de clientes
ALTER TABLE [dbo].[TBS003] WITH NOCHECK ADD 
	CONSTRAINT [DF_TBS003_ENDEMPCOD] DEFAULT (0) FOR [ENDEMPCOD],
	CONSTRAINT [DF_TBS003_ENDTIP] DEFAULT (0) FOR [ENDTIP],
	CONSTRAINT [DF_TBS003_ENDCOD] DEFAULT (0) FOR [ENDCOD],
	CONSTRAINT [DF_TBS003_ENDEND] DEFAULT ('') FOR [ENDEND],
	CONSTRAINT [DF_TBS003_ENDBAI] DEFAULT ('') FOR [ENDBAI],
	CONSTRAINT [DF_TBS003_ENDCID] DEFAULT ('') FOR [ENDCID],
	CONSTRAINT [DF_TBS003_ENDCEP] DEFAULT ('') FOR [ENDCEP],
	CONSTRAINT [DF_TBS003_ENDCGC] DEFAULT ('') FOR [ENDCGC],
	CONSTRAINT [DF_TBS003_ENDCPF] DEFAULT ('') FOR [ENDCPF],
	CONSTRAINT [DF_TBS003_ENDIES] DEFAULT ('') FOR [ENDIES],
	CONSTRAINT [DF_TBS003_ENDIMU] DEFAULT ('') FOR [ENDIMU],
	CONSTRAINT [DF_TBS003_ENDCONTAT] DEFAULT ('') FOR [ENDCONTAT],
	CONSTRAINT [DF_TBS003_ENDTEL] DEFAULT ('') FOR [ENDTEL],
	CONSTRAINT [DF_TBS003_ENDFAX] DEFAULT ('') FOR [ENDFAX],
	CONSTRAINT [DF_TBS003_ENDMAIL] DEFAULT ('') FOR [ENDMAIL],
	CONSTRAINT [DF_TBS003_UFESIG] DEFAULT ('') FOR [UFESIG],
	CONSTRAINT [DF_TBS003_ENDTIPPES] DEFAULT ('') FOR [ENDTIPPES],
	CONSTRAINT [DF_TBS003_ENDDATCAD] DEFAULT ('1/1/1753') FOR [ENDDATCAD]
GO

-- vendedores
ALTER TABLE [dbo].[TBS004] WITH NOCHECK ADD 
	CONSTRAINT [DF_TBS004_VENEMPCOD] DEFAULT (0) FOR [VENEMPCOD],
	CONSTRAINT [DF_TBS004_VENCOD] DEFAULT (0) FOR [VENCOD],
	CONSTRAINT [DF_TBS004_VENNOM] DEFAULT ('') FOR [VENNOM],
	CONSTRAINT [DF_TBS004_VENNOMRED] DEFAULT ('') FOR [VENNOMRED],
	CONSTRAINT [DF_TBS004_VENEND] DEFAULT ('') FOR [VENEND],
	CONSTRAINT [DF_TBS004_VENBAI] DEFAULT ('') FOR [VENBAI],
	CONSTRAINT [DF_TBS004_VENCID] DEFAULT ('') FOR [VENCID],
	CONSTRAINT [DF_TBS004_VENCEP] DEFAULT ('') FOR [VENCEP],
	CONSTRAINT [DF_TBS004_VENCPF] DEFAULT ('') FOR [VENCPF],
	CONSTRAINT [DF_TBS004_VENTEL] DEFAULT ('') FOR [VENTEL],
	CONSTRAINT [DF_TBS004_VENFAX] DEFAULT ('') FOR [VENFAX],
	CONSTRAINT [DF_TBS004_VENRAM] DEFAULT (0) FOR [VENRAM],
	CONSTRAINT [DF_TBS004_VENEMAIL] DEFAULT ('') FOR [VENEMAIL],
	CONSTRAINT [DF_TBS004_VENURL] DEFAULT ('') FOR [VENURL],
	CONSTRAINT [DF_TBS004_VENLOC] DEFAULT ('') FOR [VENLOC],
	CONSTRAINT [DF_TBS004_VENUFESIG] DEFAULT ('') FOR [VENUFESIG],
	CONSTRAINT [DF_TBS004_VENDATCAD] DEFAULT ('1/1/1753') FOR [VENDATCAD],
	CONSTRAINT [DF_TBS004_VENCALCOM] DEFAULT ('') FOR [VENCALCOM],
	CONSTRAINT [DF_TBS004_VENPERCOM] DEFAULT (0) FOR [VENPERCOM]
GO

-- transportadoras
ALTER TABLE [dbo].[TBS005] WITH NOCHECK ADD 
	CONSTRAINT [DF_TBS005_TRNEMPCOD] DEFAULT (0) FOR [TRNEMPCOD],
	CONSTRAINT [DF_TBS005_TRNCOD] DEFAULT (0) FOR [TRNCOD],
	CONSTRAINT [DF_TBS005_TRNNOM] DEFAULT ('') FOR [TRNNOM],
	CONSTRAINT [DF_TBS005_TRNNOMFAN] DEFAULT ('') FOR [TRNNOMFAN],
	CONSTRAINT [DF_TBS005_TRNEND] DEFAULT ('') FOR [TRNEND],
	CONSTRAINT [DF_TBS005_TRNBAI] DEFAULT ('') FOR [TRNBAI],
	CONSTRAINT [DF_TBS005_TRNCEP] DEFAULT ('') FOR [TRNCEP],
	CONSTRAINT [DF_TBS005_TRNCID] DEFAULT ('') FOR [TRNCID],
	CONSTRAINT [DF_TBS005_TRNCGC] DEFAULT ('') FOR [TRNCGC],
	CONSTRAINT [DF_TBS005_TRNIES] DEFAULT ('') FOR [TRNIES],
	CONSTRAINT [DF_TBS005_TRNTEL] DEFAULT ('') FOR [TRNTEL],
	CONSTRAINT [DF_TBS005_TRNFAX] DEFAULT ('') FOR [TRNFAX],
	CONSTRAINT [DF_TBS005_TRNEMAIL] DEFAULT ('') FOR [TRNEMAIL],
	CONSTRAINT [DF_TBS005_TRNURL] DEFAULT ('') FOR [TRNURL],
	CONSTRAINT [DF_TBS005_TRNCONTAT] DEFAULT ('') FOR [TRNCONTAT],
	CONSTRAINT [DF_TBS005_TRNUFESIG] DEFAULT ('') FOR [TRNUFESIG],
	CONSTRAINT [DF_TBS005_TRNDATCAD] DEFAULT ('1/1/1753') FOR [TRNDATCAD]
GO

-- fornecedores
ALTER TABLE [dbo].[TBS006] WITH NOCHECK ADD 
	CONSTRAINT [DF_TBS006_FOREMPCOD] DEFAULT (0) FOR [FOREMPCOD],
	CONSTRAINT [DF_TBS006_FORCOD] DEFAULT (0) FOR [FORCOD],
	CONSTRAINT [DF_TBS006_FORNOM] DEFAULT ('') FOR [FORNOM],
	CONSTRAINT [DF_TBS006_FORNOMFAN] DEFAULT ('') FOR [FORNOMFAN],
	CONSTRAINT [DF_TBS006_FOREND] DEFAULT ('') FOR [FOREND],
	CONSTRAINT [DF_TBS006_FORBAI] DEFAULT ('') FOR [FORBAI],
	CONSTRAINT [DF_TBS006_FORCEP] DEFAULT ('') FOR [FORCEP],
	CONSTRAINT [DF_TBS006_FORCID] DEFAULT ('') FOR [FORCID],
	CONSTRAINT [DF_TBS006_UFESIG] DEFAULT ('') FOR [UFESIG],
	CONSTRAINT [DF_TBS006_FORCGC] DEFAULT ('') FOR [FORCGC],
	CONSTRAINT [DF_TBS006_FORCPF] DEFAULT ('') FOR [FORCPF],
	CONSTRAINT [DF_TBS006_FORIES] DEFAULT ('') FOR [FORIES],
	CONSTRAINT [DF_TBS006_FORIMU] DEFAULT ('') FOR [FORIMU],
	CONSTRAINT [DF_TBS006_FORTEL] DEFAULT ('') FOR [FORTEL],
	CONSTRAINT [DF_TBS006_FORFAX] DEFAULT ('') FOR [FORFAX],
	CONSTRAINT [DF_TBS006_FOREMAIL] DEFAULT ('') FOR [FOREMAIL],
	CONSTRAINT [DF_TBS006_FORURL] DEFAULT ('') FOR [FORURL],
	CONSTRAINT [DF_TBS006_FORCONTAT] DEFAULT ('') FOR [FORCONTAT],
	CONSTRAINT [DF_TBS006_FORDATCAD] DEFAULT ('1/1/1753') FOR [FORDATCAD],
	CONSTRAINT [DF_TBS006_FORLIC] DEFAULT (0) FOR [FORLIC],
	CONSTRAINT [DF_TBS006_FORLICVEN] DEFAULT ('1/1/1753') FOR [FORLICVEN],
	CONSTRAINT [DF_TBS006_FORPRICOM] DEFAULT ('1/1/1753') FOR [FORPRICOM],
	CONSTRAINT [DF_TBS006_FORMCPDAT] DEFAULT ('1/1/1753') FOR [FORMCPDAT],
	CONSTRAINT [DF_TBS006_FORMCPVAL] DEFAULT (0) FOR [FORMCPVAL],
	CONSTRAINT [DF_TBS006_FORUCPDAT] DEFAULT ('1/1/1753') FOR [FORUCPDAT],
	CONSTRAINT [DF_TBS006_FORUCPVAL] DEFAULT (0) FOR [FORUCPVAL],
	CONSTRAINT [DF_TBS006_FORPEDLIB] DEFAULT (0) FOR [FORPEDLIB],
	CONSTRAINT [DF_TBS006_FORPEDBLQ] DEFAULT (0) FOR [FORPEDBLQ],
	CONSTRAINT [DF_TBS006_FORTITABT] DEFAULT (0) FOR [FORTITABT],
	CONSTRAINT [DF_TBS006_FORTIPPES] DEFAULT ('') FOR [FORTIPPES],
	CONSTRAINT [DF_TBS006_CPGCOD] DEFAULT (0) FOR [CPGCOD],
	CONSTRAINT [DF_TBS006_CPGEMPCOD] DEFAULT (0) FOR [CPGEMPCOD],
	CONSTRAINT [DF_TBS006_FORIPI] DEFAULT (0) FOR [FORIPI],
	CONSTRAINT [DF_TBS006_FORDIFICM] DEFAULT (0) FOR [FORDIFICM],
	CONSTRAINT [DF_TBS006_FORPIS] DEFAULT (0) FOR [FORPIS],
	CONSTRAINT [DF_TBS006_FORCOF] DEFAULT (0) FOR [FORCOF],
	CONSTRAINT [DF_TBS006_FORFRE] DEFAULT (0) FOR [FORFRE],
	CONSTRAINT [DF_TBS006_FORCUSADM] DEFAULT (0) FOR [FORCUSADM],
	CONSTRAINT [DF_TBS006_FORMKPCOR1] DEFAULT (0) FOR [FORMKPCOR1],
	CONSTRAINT [DF_TBS006_FORMKPCOR2] DEFAULT (0) FOR [FORMKPCOR2],
	CONSTRAINT [DF_TBS006_FORMKPLOJ1] DEFAULT (0) FOR [FORMKPLOJ1],
	CONSTRAINT [DF_TBS006_FORMKPLOJ2] DEFAULT (0) FOR [FORMKPLOJ2],
	CONSTRAINT [DF_TBS006_FORMKPREV1] DEFAULT (0) FOR [FORMKPREV1],
	CONSTRAINT [DF_TBS006_FORMKPREV2] DEFAULT (0) FOR [FORMKPREV2],
	CONSTRAINT [DF_TBS006_FORMKPWE11] DEFAULT (0) FOR [FORMKPWE11],
	CONSTRAINT [DF_TBS006_FORMKPWE12] DEFAULT (0) FOR [FORMKPWE12],
	CONSTRAINT [DF_TBS006_FORMKPWE21] DEFAULT (0) FOR [FORMKPWE21],
	CONSTRAINT [DF_TBS006_FORMKPWE22] DEFAULT (0) FOR [FORMKPWE22],
	CONSTRAINT [DF_TBS006_FORREDCOR1] DEFAULT (0) FOR [FORREDCOR1],
	CONSTRAINT [DF_TBS006_FORREDCOR2] DEFAULT (0) FOR [FORREDCOR2],
	CONSTRAINT [DF_TBS006_FORREDCOR3] DEFAULT (0) FOR [FORREDCOR3],
	CONSTRAINT [DF_TBS006_FORREDCOR4] DEFAULT (0) FOR [FORREDCOR4],
	CONSTRAINT [DF_TBS006_FORREDLOJ1] DEFAULT (0) FOR [FORREDLOJ1],
	CONSTRAINT [DF_TBS006_FORREDLOJ2] DEFAULT (0) FOR [FORREDLOJ2],
	CONSTRAINT [DF_TBS006_FORREDLOJ3] DEFAULT (0) FOR [FORREDLOJ3],
	CONSTRAINT [DF_TBS006_FORREDLOJ4] DEFAULT (0) FOR [FORREDLOJ4],
	CONSTRAINT [DF_TBS006_FORREDREV1] DEFAULT (0) FOR [FORREDREV1],
	CONSTRAINT [DF_TBS006_FORREDREV2] DEFAULT (0) FOR [FORREDREV2],
	CONSTRAINT [DF_TBS006_FORREDREV3] DEFAULT (0) FOR [FORREDREV3],
	CONSTRAINT [DF_TBS006_FORREDREV4] DEFAULT (0) FOR [FORREDREV4],
	CONSTRAINT [DF_TBS006_FORREDWE11] DEFAULT (0) FOR [FORREDWE11],
	CONSTRAINT [DF_TBS006_FORREDWE12] DEFAULT (0) FOR [FORREDWE12],
	CONSTRAINT [DF_TBS006_FORREDWE13] DEFAULT (0) FOR [FORREDWE13],
	CONSTRAINT [DF_TBS006_FORREDWE14] DEFAULT (0) FOR [FORREDWE14],
	CONSTRAINT [DF_TBS006_FORREDWE21] DEFAULT (0) FOR [FORREDWE21],
	CONSTRAINT [DF_TBS006_FORREDWE22] DEFAULT (0) FOR [FORREDWE22],
	CONSTRAINT [DF_TBS006_FORREDWE23] DEFAULT (0) FOR [FORREDWE23],
	CONSTRAINT [DF_TBS006_FORREDWE24] DEFAULT (0) FOR [FORREDWE24],
	CONSTRAINT [DF_TBS006_FORCMS] DEFAULT (0) FOR [FORCMS],
	CONSTRAINT [DF_TBS006_FORPDD1] DEFAULT (0) FOR [FORPDD1],
	CONSTRAINT [DF_TBS006_FORPDD2] DEFAULT (0) FOR [FORPDD2],
	CONSTRAINT [DF_TBS006_FORPDD3] DEFAULT (0) FOR [FORPDD3],
	CONSTRAINT [DF_TBS006_FORPDD4] DEFAULT (0) FOR [FORPDD4],
	CONSTRAINT [DF_TBS006_FORPDD5] DEFAULT (0) FOR [FORPDD5],
	CONSTRAINT [DF_TBS006_FORDATFUN] DEFAULT ('1/1/1753') FOR [FORDATFUN],
	CONSTRAINT [DF_TBS006_FOROBS] DEFAULT ('') FOR [FOROBS],
	CONSTRAINT [DF_TBS006_TRNCOD] DEFAULT (0) FOR [TRNCOD],
	CONSTRAINT [DF_TBS006_TRNEMPCOD] DEFAULT (0) FOR [TRNEMPCOD],
	CONSTRAINT [DF_TBS006_FORTESCOD] DEFAULT (0) FOR [FORTESCOD],
	CONSTRAINT [DF_TBS006_FORTESEMP] DEFAULT (0) FOR [FORTESEMP],
	CONSTRAINT [DF_TBS006_FORSINHAB] DEFAULT ('') FOR [FORSINHAB],
	CONSTRAINT [DF_TBS006_FORRECATI] DEFAULT ('') FOR [FORRECATI],
	CONSTRAINT [DF_TBS006_FORCONRES] DEFAULT ('1/1/1753') FOR [FORCONRES],
	CONSTRAINT [DF_TBS006_FORPCPVAL] DEFAULT (0) FOR [FORPCPVAL],
	CONSTRAINT [DF_TBS006_FORPCPNFE] DEFAULT (0) FOR [FORPCPNFE],
	CONSTRAINT [DF_TBS006_FORMCPNFE] DEFAULT (0) FOR [FORMCPNFE],
	CONSTRAINT [DF_TBS006_FORUCPNFE] DEFAULT (0) FOR [FORUCPNFE]
GO

-- produtos
ALTER TABLE [dbo].[TBS010] WITH NOCHECK ADD 
	CONSTRAINT [DF_TBS010_PROEMPCOD] DEFAULT (0) FOR [PROEMPCOD],
	CONSTRAINT [DF_TBS010_PROCOD] DEFAULT ('') FOR [PROCOD],
	CONSTRAINT [DF_TBS010_PRODES] DEFAULT ('') FOR [PRODES],
	CONSTRAINT [DF_TBS010_PROCODBAR1] DEFAULT ('') FOR [PROCODBAR1],
	CONSTRAINT [DF_TBS010_PROCODBAR2] DEFAULT ('') FOR [PROCODBAR2],
	CONSTRAINT [DF_TBS010_PROCODBAR3] DEFAULT ('') FOR [PROCODBAR3],
	CONSTRAINT [DF_TBS010_PROCODBAR4] DEFAULT ('') FOR [PROCODBAR4],
	CONSTRAINT [DF_TBS010_PROSTATUS] DEFAULT ('') FOR [PROSTATUS],
	CONSTRAINT [DF_TBS010_PROPESLIQ] DEFAULT (0) FOR [PROPESLIQ],
	CONSTRAINT [DF_TBS010_PROPESBRU] DEFAULT (0) FOR [PROPESBRU],
	CONSTRAINT [DF_TBS010_PROEMPUM] DEFAULT (0) FOR [PROEMPUM],
	CONSTRAINT [DF_TBS010_PROUM1] DEFAULT ('') FOR [PROUM1],
	CONSTRAINT [DF_TBS010_PROUM1QTD] DEFAULT (0) FOR [PROUM1QTD],
	CONSTRAINT [DF_TBS010_PROUM2] DEFAULT ('') FOR [PROUM2],
	CONSTRAINT [DF_TBS010_PROUM2QTD] DEFAULT (0) FOR [PROUM2QTD],
	CONSTRAINT [DF_TBS010_PROUM3] DEFAULT ('') FOR [PROUM3],
	CONSTRAINT [DF_TBS010_PROUM3QTD] DEFAULT (0) FOR [PROUM3QTD],
	CONSTRAINT [DF_TBS010_PROUM4] DEFAULT ('') FOR [PROUM4],
	CONSTRAINT [DF_TBS010_PROUM4QTD] DEFAULT (0) FOR [PROUM4QTD],
	CONSTRAINT [DF_TBS010_GRUCOD] DEFAULT (0) FOR [GRUCOD],
	CONSTRAINT [DF_TBS010_GRUEMPCOD] DEFAULT (0) FOR [GRUEMPCOD],
	CONSTRAINT [DF_TBS010_PRODATVAL] DEFAULT ('1/1/1753') FOR [PRODATVAL],
	CONSTRAINT [DF_TBS010_FORCOD] DEFAULT (0) FOR [FORCOD],
	CONSTRAINT [DF_TBS010_FOREMPCOD] DEFAULT (0) FOR [FOREMPCOD],
	CONSTRAINT [DF_TBS010_MARCOD] DEFAULT (0) FOR [MARCOD],
	CONSTRAINT [DF_TBS010_MAREMPCOD] DEFAULT (0) FOR [MAREMPCOD],
	CONSTRAINT [DF_TBS010_PROICMSSAI] DEFAULT (0) FOR [PROICMSSAI],
	CONSTRAINT [DF_TBS010_PROICMSENT] DEFAULT (0) FOR [PROICMSENT],
	CONSTRAINT [DF_TBS010_PROPBISAI] DEFAULT (0) FOR [PROPBISAI],
	CONSTRAINT [DF_TBS010_PROPBIENT] DEFAULT (0) FOR [PROPBIENT],
	CONSTRAINT [DF_TBS010_PROIPI] DEFAULT (0) FOR [PROIPI],
	CONSTRAINT [DF_TBS010_PRODATCAD] DEFAULT ('1/1/1753') FOR [PRODATCAD],
	CONSTRAINT [DF_TBS010_FABCOD] DEFAULT (0) FOR [FABCOD],
	CONSTRAINT [DF_TBS010_FABEMPCOD] DEFAULT (0) FOR [FABEMPCOD],
	CONSTRAINT [DF_TBS010_PROLOCFIS] DEFAULT ('') FOR [PROLOCFIS],
	CONSTRAINT [DF_TBS010_PROREFFOR] DEFAULT ('') FOR [PROREFFOR],
	CONSTRAINT [DF_TBS010_PROISS] DEFAULT (0) FOR [PROISS],
	CONSTRAINT [DF_TBS010_PROSTBA] DEFAULT ('') FOR [PROSTBA],
	CONSTRAINT [DF_TBS010_PROSTBB] DEFAULT ('') FOR [PROSTBB],
	CONSTRAINT [DF_TBS010_PROPRIVEN] DEFAULT ('1/1/1753') FOR [PROPRIVEN],
	CONSTRAINT [DF_TBS010_PROMVDDAT] DEFAULT ('1/1/1753') FOR [PROMVDDAT],
	CONSTRAINT [DF_TBS010_PROMVDVAL] DEFAULT (0) FOR [PROMVDVAL],
	CONSTRAINT [DF_TBS010_PROUVDDAT] DEFAULT ('1/1/1753') FOR [PROUVDDAT],
	CONSTRAINT [DF_TBS010_PROUVDVAL] DEFAULT (0) FOR [PROUVDVAL],
	CONSTRAINT [DF_TBS010_PROPRICOM] DEFAULT ('1/1/1753') FOR [PROPRICOM],
	CONSTRAINT [DF_TBS010_PROMCPDAT] DEFAULT ('1/1/1753') FOR [PROMCPDAT],
	CONSTRAINT [DF_TBS010_PROMCPVAL] DEFAULT (0) FOR [PROMCPVAL],
	CONSTRAINT [DF_TBS010_PROUCPDAT] DEFAULT ('1/1/1753') FOR [PROUCPDAT],
	CONSTRAINT [DF_TBS010_PROUCPVAL] DEFAULT (0) FOR [PROUCPVAL],
	CONSTRAINT [DF_TBS010_PROGERPEN] DEFAULT ('') FOR [PROGERPEN],
	CONSTRAINT [DF_TBS010_MARNOM] DEFAULT ('') FOR [MARNOM],
	CONSTRAINT [DF_TBS010_PROSAIEMP] DEFAULT (0) FOR [PROSAIEMP],
	CONSTRAINT [DF_TBS010_PROSAICOD] DEFAULT (0) FOR [PROSAICOD],
	CONSTRAINT [DF_TBS010_PROENTEMP] DEFAULT (0) FOR [PROENTEMP],
	CONSTRAINT [DF_TBS010_PROENTCOD] DEFAULT (0) FOR [PROENTCOD],
	CONSTRAINT [DF_TBS010_PROPVDVAL] DEFAULT (0) FOR [PROPVDVAL],
	CONSTRAINT [DF_TBS010_PROPVDNFS] DEFAULT (0) FOR [PROPVDNFS],
	CONSTRAINT [DF_TBS010_PROUVDNFS] DEFAULT (0) FOR [PROUVDNFS],
	CONSTRAINT [DF_TBS010_PROMVDNFS] DEFAULT (0) FOR [PROMVDNFS],
	CONSTRAINT [DF_TBS010_PROPCPVAL] DEFAULT (0) FOR [PROPCPVAL],
	CONSTRAINT [DF_TBS010_PROPCPNFE] DEFAULT (0) FOR [PROPCPNFE],
	CONSTRAINT [DF_TBS010_PROUCPNFE] DEFAULT (0) FOR [PROUCPNFE],
	CONSTRAINT [DF_TBS010_PROMCPNFE] DEFAULT (0) FOR [PROMCPNFE]
GO

-- unidades de medidas
ALTER TABLE [dbo].[TBS011] WITH NOCHECK ADD 
	CONSTRAINT [DF_TBS011_UNIEMPCOD] DEFAULT (0) FOR [UNIEMPCOD],
	CONSTRAINT [DF_TBS011_UNICOD] DEFAULT ('') FOR [UNICOD],
	CONSTRAINT [DF_TBS011_UNIDES] DEFAULT ('') FOR [UNIDES],
	CONSTRAINT [DF_TBS011_UNIDATCAD] DEFAULT ('1/1/1753') FOR [UNIDATCAD]
GO

-- marcas de produtos
ALTER TABLE [dbo].[TBS014] WITH NOCHECK ADD 
	CONSTRAINT [DF_TBS014_MAREMPCOD] DEFAULT (0) FOR [MAREMPCOD],
	CONSTRAINT [DF_TBS014_MARCOD] DEFAULT (0) FOR [MARCOD],
	CONSTRAINT [DF_TBS014_MARNOM] DEFAULT ('') FOR [MARNOM],
	CONSTRAINT [DF_TBS014_MARSEQPRO] DEFAULT (0) FOR [MARSEQPRO],
	CONSTRAINT [DF_TBS014_MARDATCAD] DEFAULT ('1/1/1753') FOR [MARDATCAD]
GO

-- politica de precos
ALTER TABLE [dbo].[TBS015] WITH NOCHECK ADD 
	CONSTRAINT [DF_TBS015_PDPEMPCOD] DEFAULT (0) FOR [PDPEMPCOD],
	CONSTRAINT [DF_TBS015_PDPCOD] DEFAULT ('') FOR [PDPCOD],
	CONSTRAINT [DF_TBS015_PDPPROEMP] DEFAULT (0) FOR [PDPPROEMP],
	CONSTRAINT [DF_TBS015_PDPIPI] DEFAULT (0) FOR [PDPIPI],
	CONSTRAINT [DF_TBS015_PDPDIFICM] DEFAULT (0) FOR [PDPDIFICM],
	CONSTRAINT [DF_TBS015_PDPPIS] DEFAULT (0) FOR [PDPPIS],
	CONSTRAINT [DF_TBS015_PDPCOF] DEFAULT (0) FOR [PDPCOF],
	CONSTRAINT [DF_TBS015_PDPFRE] DEFAULT (0) FOR [PDPFRE],
	CONSTRAINT [DF_TBS015_PDPCUSADM] DEFAULT (0) FOR [PDPCUSADM],
	CONSTRAINT [DF_TBS015_PDPCMS] DEFAULT (0) FOR [PDPCMS],
	CONSTRAINT [DF_TBS015_PDPMKPCOR1] DEFAULT (0) FOR [PDPMKPCOR1],
	CONSTRAINT [DF_TBS015_PDPMKPCOR2] DEFAULT (0) FOR [PDPMKPCOR2],
	CONSTRAINT [DF_TBS015_PDPMKPLOJ1] DEFAULT (0) FOR [PDPMKPLOJ1],
	CONSTRAINT [DF_TBS015_PDPMKPLOJ2] DEFAULT (0) FOR [PDPMKPLOJ2],
	CONSTRAINT [DF_TBS015_PDPMKPREV1] DEFAULT (0) FOR [PDPMKPREV1],
	CONSTRAINT [DF_TBS015_PDPMKPREV2] DEFAULT (0) FOR [PDPMKPREV2],
	CONSTRAINT [DF_TBS015_PDPMKPWE11] DEFAULT (0) FOR [PDPMKPWE11],
	CONSTRAINT [DF_TBS015_PDPMKPWE12] DEFAULT (0) FOR [PDPMKPWE12],
	CONSTRAINT [DF_TBS015_PDPMKPWE21] DEFAULT (0) FOR [PDPMKPWE21],
	CONSTRAINT [DF_TBS015_PDPMKPWE22] DEFAULT (0) FOR [PDPMKPWE22],
	CONSTRAINT [DF_TBS015_PDPMKPPRO1] DEFAULT (0) FOR [PDPMKPPRO1],
	CONSTRAINT [DF_TBS015_PDPMKPPRO2] DEFAULT (0) FOR [PDPMKPPRO2],
	CONSTRAINT [DF_TBS015_PDPVALPROI] DEFAULT ('1/1/1753') FOR [PDPVALPROI],
	CONSTRAINT [DF_TBS015_PDPVALPROF] DEFAULT ('1/1/1753') FOR [PDPVALPROF],
	CONSTRAINT [DF_TBS015_PDPPROCOR] DEFAULT ('') FOR [PDPPROCOR],
	CONSTRAINT [DF_TBS015_PDPPROLOJ] DEFAULT ('') FOR [PDPPROLOJ],
	CONSTRAINT [DF_TBS015_PDPPROWE1] DEFAULT ('') FOR [PDPPROWE1],
	CONSTRAINT [DF_TBS015_PDPPROWE2] DEFAULT ('') FOR [PDPPROWE2],
	CONSTRAINT [DF_TBS015_PDPPROREV] DEFAULT ('') FOR [PDPPROREV],
	CONSTRAINT [DF_TBS015_PDPPDD1] DEFAULT (0) FOR [PDPPDD1],
	CONSTRAINT [DF_TBS015_PDPPDD2] DEFAULT (0) FOR [PDPPDD2],
	CONSTRAINT [DF_TBS015_PDPPDD3] DEFAULT (0) FOR [PDPPDD3],
	CONSTRAINT [DF_TBS015_PDPPDD4] DEFAULT (0) FOR [PDPPDD4],
	CONSTRAINT [DF_TBS015_PDPPDD5] DEFAULT (0) FOR [PDPPDD5],
	CONSTRAINT [DF_TBS015_PDPPREFOR] DEFAULT (0) FOR [PDPPREFOR],
	CONSTRAINT [DF_TBS015_PDPUNI] DEFAULT ('') FOR [PDPUNI],
	CONSTRAINT [DF_TBS015_PDPQTDEMB] DEFAULT (0) FOR [PDPQTDEMB],
	CONSTRAINT [DF_TBS015_PDPPREUNI] DEFAULT (0) FOR [PDPPREUNI],
	CONSTRAINT [DF_TBS015_PDPSEGFOR] DEFAULT ('') FOR [PDPSEGFOR],
	CONSTRAINT [DF_TBS015_PDPREDCOR1] DEFAULT (0) FOR [PDPREDCOR1],
	CONSTRAINT [DF_TBS015_PDPREDCOR2] DEFAULT (0) FOR [PDPREDCOR2],
	CONSTRAINT [DF_TBS015_PDPREDCOR3] DEFAULT (0) FOR [PDPREDCOR3],
	CONSTRAINT [DF_TBS015_PDPREDCOR4] DEFAULT (0) FOR [PDPREDCOR4],
	CONSTRAINT [DF_TBS015_PDPREDLOJ1] DEFAULT (0) FOR [PDPREDLOJ1],
	CONSTRAINT [DF_TBS015_PDPREDLOJ2] DEFAULT (0) FOR [PDPREDLOJ2],
	CONSTRAINT [DF_TBS015_PDPREDLOJ3] DEFAULT (0) FOR [PDPREDLOJ3],
	CONSTRAINT [DF_TBS015_PDPREDLOJ4] DEFAULT (0) FOR [PDPREDLOJ4],
	CONSTRAINT [DF_TBS015_PDPREDREV1] DEFAULT (0) FOR [PDPREDREV1],
	CONSTRAINT [DF_TBS015_PDPREDREV2] DEFAULT (0) FOR [PDPREDREV2],
	CONSTRAINT [DF_TBS015_PDPREDREV3] DEFAULT (0) FOR [PDPREDREV3],
	CONSTRAINT [DF_TBS015_PDPREDREV4] DEFAULT (0) FOR [PDPREDREV4],
	CONSTRAINT [DF_TBS015_PDPREDWE11] DEFAULT (0) FOR [PDPREDWE11],
	CONSTRAINT [DF_TBS015_PDPREDWE12] DEFAULT (0) FOR [PDPREDWE12],
	CONSTRAINT [DF_TBS015_PDPREDWE13] DEFAULT (0) FOR [PDPREDWE13],
	CONSTRAINT [DF_TBS015_PDPREDWE14] DEFAULT (0) FOR [PDPREDWE14],
	CONSTRAINT [DF_TBS015_PDPREDWE21] DEFAULT (0) FOR [PDPREDWE21],
	CONSTRAINT [DF_TBS015_PDPREDWE22] DEFAULT (0) FOR [PDPREDWE22],
	CONSTRAINT [DF_TBS015_PDPREDWE23] DEFAULT (0) FOR [PDPREDWE23],
	CONSTRAINT [DF_TBS015_PDPREDWE24] DEFAULT (0) FOR [PDPREDWE24],
	CONSTRAINT [DF_TBS015_PDPREDPRO1] DEFAULT (0) FOR [PDPREDPRO1],
	CONSTRAINT [DF_TBS015_PDPREDPRO2] DEFAULT (0) FOR [PDPREDPRO2],
	CONSTRAINT [DF_TBS015_PDPREDPRO3] DEFAULT (0) FOR [PDPREDPRO3],
	CONSTRAINT [DF_TBS015_PDPREDPRO4] DEFAULT (0) FOR [PDPREDPRO4],
	CONSTRAINT [DF_TBS015_PDPDATALT] DEFAULT ('1/1/1753') FOR [PDPDATALT],
	CONSTRAINT [DF_TBS015_PDPDATATU] DEFAULT ('1/1/1753') FOR [PDPDATATU],
	CONSTRAINT [DF_TBS015_PDPSEL] DEFAULT ('') FOR [PDPSEL],
	CONSTRAINT [DF_TBS015_PDPDATCAD] DEFAULT ('1/1/1753') FOR [PDPDATCAD],
	CONSTRAINT [DF_TBS015_MOEEMPCOD] DEFAULT (0) FOR [MOEEMPCOD],
	CONSTRAINT [DF_TBS015_MOECOD] DEFAULT (0) FOR [MOECOD]
GO