/****** Object:  Table [dbo].[TBS002]    Script Date: 9/5/2007 12:35:48 ******/
ALTER TABLE [dbo].[TBS002] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[CLICOD],
		[CLIEMPCOD]
	)  ON [PRIMARY] 
GO

 CREATE  INDEX [ITBS0025] ON [dbo].[TBS002]([CPGCOD], [CPGEMPCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0027] ON [dbo].[TBS002]([RAMCOD], [RAMEMPCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0024] ON [dbo].[TBS002]([TRNCOD], [TRNEMPCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0023] ON [dbo].[TBS002]([UFESIG]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0028] ON [dbo].[TBS002]([VENCOD], [VENEMPCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0026] ON [dbo].[TBS002]([TESCOD], [TESEMPCOD]) ON [PRIMARY]
GO

