CREATE TABLE [dbo].[TBS085] (
	[CSNCOD] [char] (3) COLLATE Latin1_General_BIN NOT NULL ,
	[CSNDES] [char] (60) COLLATE Latin1_General_BIN NULL ,
	[CSNICMS] [char] (1) COLLATE Latin1_General_BIN NULL ,
	[CSNMSG] [char] (254) COLLATE Latin1_General_BIN NULL ,
	[CSNDATCAD] [datetime] NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[TBS085] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[CSNCOD]
	)  ON [PRIMARY] 
GO

 CREATE  INDEX [ITBS0851] ON [dbo].[TBS085]([CSNDES]) ON [PRIMARY]
GO

