/****** Object:  Table [dbo].[TBS002]    Script Date: 9/5/2007 11:54:21 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[TBS002]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TBS002]
GO

/****** Object:  Table [dbo].[TBS002]    Script Date: 9/5/2007 11:54:22 ******/
CREATE TABLE [dbo].[TBS002] (
	[CLICOD] [int] NOT NULL ,
	[CLIEMPCOD] [smallint] NOT NULL ,
	[CLINOM] [char] (50) NULL ,
	[CLINOMFAN] [char] (25) NULL ,
	[CLIEND] [char] (50) NULL ,
	[CLICEP] [char] (9) NULL ,
	[CLIBAI] [char] (30) NULL ,
	[CLICID] [char] (35) NULL ,
	[CLICONTAT] [char] (30) NULL ,
	[CLITEL] [char] (15) NULL ,
	[CLIFAX] [char] (15) NULL ,
	[RAMCOD] [smallint] NULL ,
	[CLICGC] [char] (14) NULL ,
	[CLICPF] [char] (11) NULL ,
	[CLIIES] [char] (18) NULL ,
	[CLIIMU] [char] (18) NULL ,
	[CLIDATCAD] [datetime] NULL ,
	[CLISTATUS] [char] (1) NULL ,
	[CLIEMAIL] [char] (40) NULL ,
	[CLIURL] [char] (30) NULL ,
	[CPGCOD] [smallint] NULL ,
	[CLIBLCRED] [char] (1) NULL ,
	[CLIUCPDAT] [datetime] NULL ,
	[CLIUCPVAL] [money] NULL ,
	[CLICLA] [char] (1) NULL ,
	[CLILIC] [money] NULL ,
	[CLILICVEN] [datetime] NULL ,
	[TRNCOD] [int] NULL ,
	[CLITIPPES] [char] (1) NULL ,
	[CLIPRICOM] [datetime] NULL ,
	[CLIMCPDAT] [datetime] NULL ,
	[CLIMCPVAL] [money] NULL ,
	[CLIPEDLIB] [money] NULL ,
	[CLIPEDBLQ] [money] NULL ,
	[CLITITABT] [money] NULL ,
	[CPGEMPCOD] [smallint] NULL ,
	[RAMEMPCOD] [smallint] NULL ,
	[TRNEMPCOD] [smallint] NULL ,
	[VENCOD] [smallint] NULL ,
	[VENEMPCOD] [smallint] NULL ,
	[UFESIG] [char] (2) NULL ,
	[CLIPSTCOD] [int] NULL ,
	[CLIDATFUN] [datetime] NULL ,
	[CLIINTENT] [char] (3) NULL ,
	[CLIOBS] [char] (254) NULL ,
	[CLIINTDIA1] [char] (2) NULL ,
	[CLIINTDIA2] [char] (2) NULL ,
	[CLIINTDIA3] [char] (2) NULL ,
	[CLIRECENT] [char] (15) NULL ,
	[CLITELREC] [char] (15) NULL ,
	[CLIRAMREC] [smallint] NULL ,
	[CLICARREC] [char] (15) NULL ,
	[TESCOD] [smallint] NULL ,
	[TESEMPCOD] [smallint] NULL ,
	[CLITIPCLI] [char] (1) NULL ,
	[CLIISEICMS] [char] (1) NULL ,
	[CLIBLQTRN] [char] (1) NULL ,
	[CLITIPFRE] [smallint] NULL ,
	[CLIDIAE11] [smallint] NULL ,
	[CLIDIAE12] [smallint] NULL ,
	[CLIHORE11] [char] (5) NULL ,
	[CLIINTHOR1] [char] (3) NULL ,
	[CLIHORE12] [char] (5) NULL ,
	[CLIDIAE21] [smallint] NULL ,
	[CLIDIAE22] [smallint] NULL ,
	[CLIHORE21] [char] (5) NULL ,
	[CLIINTHOR2] [char] (3) NULL ,
	[CLIHORE22] [char] (5) NULL ,
	[CLIDIAE31] [smallint] NULL ,
	[CLIDIAE32] [smallint] NULL ,
	[CLIHORE31] [char] (5) NULL ,
	[CLIINTHOR3] [char] (3) NULL ,
	[CLIHORE32] [char] (5) NULL ,
)
GO

ALTER TABLE [dbo].[TBS002] WITH NOCHECK ADD 
	CONSTRAINT [DF_TBS002_CLINOM] DEFAULT ('') FOR [CLINOM],
	CONSTRAINT [DF_TBS002_CLINOMFAN] DEFAULT ('') FOR [CLINOMFAN],
	CONSTRAINT [DF_TBS002_CLIEND] DEFAULT ('') FOR [CLIEND],
	CONSTRAINT [DF_TBS002_CLICEP] DEFAULT ('') FOR [CLICEP],
	CONSTRAINT [DF_TBS002_CLIBAI] DEFAULT ('') FOR [CLIBAI],
	CONSTRAINT [DF_TBS002_CLICID] DEFAULT ('') FOR [CLICID],
	CONSTRAINT [DF_TBS002_CLICONTAT] DEFAULT ('') FOR [CLICONTAT],
	CONSTRAINT [DF_TBS002_CLITEL] DEFAULT ('') FOR [CLITEL],
	CONSTRAINT [DF_TBS002_CLIFAX] DEFAULT ('') FOR [CLIFAX],
	CONSTRAINT [DF_TBS002_RAMCOD] DEFAULT (0) FOR [RAMCOD],
	CONSTRAINT [DF_TBS002_CLICGC] DEFAULT ('') FOR [CLICGC],
	CONSTRAINT [DF_TBS002_CLICPF] DEFAULT ('') FOR [CLICPF],
	CONSTRAINT [DF_TBS002_CLIIES] DEFAULT ('') FOR [CLIIES],
	CONSTRAINT [DF_TBS002_CLIIMU] DEFAULT ('') FOR [CLIIMU],
	CONSTRAINT [DF_TBS002_CLIDATCAD] DEFAULT ('') FOR [CLIDATCAD],
	CONSTRAINT [DF_TBS002_CLISTATUS] DEFAULT ('') FOR [CLISTATUS],
	CONSTRAINT [DF_TBS002_CLIEMAIL] DEFAULT ('') FOR [CLIEMAIL],
	CONSTRAINT [DF_TBS002_CLIURL] DEFAULT ('') FOR [CLIURL],
	CONSTRAINT [DF_TBS002_CPGCOD] DEFAULT (0) FOR [CPGCOD],
	CONSTRAINT [DF_TBS002_CLIBLCRED] DEFAULT ('') FOR [CLIBLCRED],
	CONSTRAINT [DF_TBS002_CLIUCPDAT] DEFAULT ('') FOR [CLIUCPDAT],
	CONSTRAINT [DF_TBS002_CLIUCPVAL] DEFAULT (0) FOR [CLIUCPVAL],
	CONSTRAINT [DF_TBS002_CLICLA] DEFAULT ('') FOR [CLICLA],
	CONSTRAINT [DF_TBS002_CLILIC] DEFAULT (0) FOR [CLILIC],
	CONSTRAINT [DF_TBS002_CLILICVEN] DEFAULT ('') FOR [CLILICVEN],
	CONSTRAINT [DF_TBS002_TRNCOD] DEFAULT (0) FOR [TRNCOD],
	CONSTRAINT [DF_TBS002_CLITIPPES] DEFAULT ('') FOR [CLITIPPES],
	CONSTRAINT [DF_TBS002_CLIPRICOM] DEFAULT ('') FOR [CLIPRICOM],
	CONSTRAINT [DF_TBS002_CLIMCPDAT] DEFAULT ('') FOR [CLIMCPDAT],
	CONSTRAINT [DF_TBS002_CLIMCPVAL] DEFAULT (0) FOR [CLIMCPVAL],
	CONSTRAINT [DF_TBS002_CLIPEDLIB] DEFAULT (0) FOR [CLIPEDLIB],
	CONSTRAINT [DF_TBS002_CLIPEDBLQ] DEFAULT (0) FOR [CLIPEDBLQ],
	CONSTRAINT [DF_TBS002_CLITITABT] DEFAULT (0) FOR [CLITITABT],
	CONSTRAINT [DF_TBS002_CPGEMPCOD] DEFAULT (0) FOR [CPGEMPCOD],
	CONSTRAINT [DF_TBS002_RAMEMPCOD] DEFAULT (0) FOR [RAMEMPCOD],
	CONSTRAINT [DF_TBS002_TRNEMPCOD] DEFAULT (0) FOR [TRNEMPCOD],
	CONSTRAINT [DF_TBS002_VENCOD] DEFAULT (0) FOR [VENCOD],
	CONSTRAINT [DF_TBS002_VENEMPCOD] DEFAULT (0) FOR [VENEMPCOD],
	CONSTRAINT [DF_TBS002_UFESIG] DEFAULT ('') FOR [UFESIG],
	CONSTRAINT [DF_TBS002_CLIPSTCOD] DEFAULT (0) FOR [CLIPSTCOD],
	CONSTRAINT [DF_TBS002_CLIDATFUN] DEFAULT ('') FOR [CLIDATFUN],
	CONSTRAINT [DF_TBS002_CLIINTENT] DEFAULT ('') FOR [CLIINTENT],
	CONSTRAINT [DF_TBS002_CLIOBS] DEFAULT ('') FOR [CLIOBS],
	CONSTRAINT [DF_TBS002_CLIINTDIA1] DEFAULT ('') FOR [CLIINTDIA1],
	CONSTRAINT [DF_TBS002_CLIINTDIA2] DEFAULT ('') FOR [CLIINTDIA2],
	CONSTRAINT [DF_TBS002_CLIINTDIA3] DEFAULT ('') FOR [CLIINTDIA3],
	CONSTRAINT [DF_TBS002_CLIRECENT] DEFAULT ('') FOR [CLIRECENT],
	CONSTRAINT [DF_TBS002_CLITELREC] DEFAULT ('') FOR [CLITELREC],
	CONSTRAINT [DF_TBS002_CLIRAMREC] DEFAULT (0) FOR [CLIRAMREC],
	CONSTRAINT [DF_TBS002_CLICARREC] DEFAULT ('') FOR [CLICARREC],
	CONSTRAINT [DF_TBS002_TESCOD] DEFAULT (0) FOR [TESCOD],
	CONSTRAINT [DF_TBS002_TESEMPCOD] DEFAULT (0) FOR [TESEMPCOD],
	CONSTRAINT [DF_TBS002_CLITIPCLI] DEFAULT ('') FOR [CLITIPCLI],
	CONSTRAINT [DF_TBS002_CLIISEICMS] DEFAULT ('') FOR [CLIISEICMS],
	CONSTRAINT [DF_TBS002_CLIBLQTRN] DEFAULT ('') FOR [CLIBLQTRN],
	CONSTRAINT [DF_TBS002_CLITIPFRE] DEFAULT (0) FOR [CLITIPFRE],
	CONSTRAINT [DF_TBS002_CLIDIAE11] DEFAULT (0) FOR [CLIDIAE11],
	CONSTRAINT [DF_TBS002_CLIDIAE12] DEFAULT (0) FOR [CLIDIAE12],
	CONSTRAINT [DF_TBS002_CLIHORE11] DEFAULT ('') FOR [CLIHORE11],
	CONSTRAINT [DF_TBS002_CLIINTHOR1] DEFAULT ('') FOR [CLIINTHOR1],
	CONSTRAINT [DF_TBS002_CLIHORE12] DEFAULT ('') FOR [CLIHORE12],
	CONSTRAINT [DF_TBS002_CLIDIAE21] DEFAULT (0) FOR [CLIDIAE21],
	CONSTRAINT [DF_TBS002_CLIDIAE22] DEFAULT (0) FOR [CLIDIAE22],
	CONSTRAINT [DF_TBS002_CLIHORE21] DEFAULT ('') FOR [CLIHORE21],
	CONSTRAINT [DF_TBS002_CLIINTHOR2] DEFAULT ('') FOR [CLIINTHOR2],
	CONSTRAINT [DF_TBS002_CLIHORE22] DEFAULT ('') FOR [CLIHORE22],
	CONSTRAINT [DF_TBS002_CLIDIAE31] DEFAULT (0) FOR [CLIDIAE31],
	CONSTRAINT [DF_TBS002_CLIDIAE32] DEFAULT (0) FOR [CLIDIAE32],
	CONSTRAINT [DF_TBS002_CLIHORE31] DEFAULT ('') FOR [CLIHORE31],
	CONSTRAINT [DF_TBS002_CLIINTHOR3] DEFAULT ('') FOR [CLIINTHOR3],
	CONSTRAINT [DF_TBS002_CLIHORE32] DEFAULT ('') FOR [CLIHORE32]
GO

