ALTER TABLE [dbo].[TBS0591] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[NFEEMPCOD],
		[NFETIP],
		[NFENUM],
		[NFECOD],
		[SEREMPCOD],
		[SERCOD],
		[NFEITE]
	)  ON [PRIMARY] 
GO

 CREATE  INDEX [ITBS05912] ON [dbo].[TBS0591]([TESEMPCOD], [TESCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS05913] ON [dbo].[TBS0591]([LESEMPCOD], [LESCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS05914] ON [dbo].[TBS0591]([PROEMPCOD], [PROCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS05916] ON [dbo].[TBS0591]([NFEEMPCOD], [NFETIP], [NFENUM], [NFECOD], [SEREMPCOD], [SERCOD], [PROCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS05917] ON [dbo].[TBS0591]([NFEEMPCOD], [PROCOD], [NFENUM], [NFECOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS05918] ON [dbo].[TBS0591]([NFEEMPCOD], [NFETIP], [NFENUM], [NFECOD], [SEREMPCOD], [SERCOD], [NFEITE] DESC ) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS05919] ON [dbo].[TBS0591]([NFEEMPCOD], [NFENUM], [TESCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0591A] ON [dbo].[TBS0591]([NFEEMPCOD], [NFEDES]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0591B] ON [dbo].[TBS0591]([NFEEMPCOD], [NFENUM], [NFECFOP]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0591C] ON [dbo].[TBS0591]([NFEEMPCOD], [NFEPDCNUM] DESC ) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0591D] ON [dbo].[TBS0591]([NFEEMPCOD], [NFENFSNUM] DESC ) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0591E] ON [dbo].[TBS0591]([NFEEMPCOD], [NFEPDVNUM] DESC ) ON [PRIMARY]
GO

