ALTER TABLE [dbo].[TBS070] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[CMSEMPCOD],
		[CMSDOC]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TBS0701] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[CMSEMPCOD],
		[CMSDOC],
		[VENCOD]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TBS070] WITH NOCHECK ADD 
	CONSTRAINT [DF_TBS070_CMSEMPCOD] DEFAULT (0) FOR [CMSEMPCOD],
	CONSTRAINT [DF_TBS070_CMSDOC] DEFAULT (0) FOR [CMSDOC],
	CONSTRAINT [DF_TBS070_CMSDATPRO] DEFAULT ('17530101') FOR [CMSDATPRO],
	CONSTRAINT [DF_TBS070_CMSDATPAG] DEFAULT ('17530101') FOR [CMSDATPAG],
	CONSTRAINT [DF_TBS070_CMSDATINI] DEFAULT ('17530101') FOR [CMSDATINI],
	CONSTRAINT [DF_TBS070_CMSDATFIN] DEFAULT ('17530101') FOR [CMSDATFIN],
	CONSTRAINT [DF_TBS070_CMSOBS] DEFAULT ('') FOR [CMSOBS],
	CONSTRAINT [DF_TBS070_CMSBAI] DEFAULT ('') FOR [CMSBAI],
	CONSTRAINT [DF_TBS070_CMSDATBAI] DEFAULT ('17530101') FOR [CMSDATBAI],
	CONSTRAINT [DF_TBS070_CMSUSUBAI] DEFAULT ('') FOR [CMSUSUBAI]
GO

ALTER TABLE [dbo].[TBS0701] WITH NOCHECK ADD 
	CONSTRAINT [DF_TBS0701_CMSEMPCOD] DEFAULT (0) FOR [CMSEMPCOD],
	CONSTRAINT [DF_TBS0701_CMSDOC] DEFAULT (0) FOR [CMSDOC],
	CONSTRAINT [DF_TBS0701_VENCOD] DEFAULT (0) FOR [VENCOD],
	CONSTRAINT [DF_TBS0701_VENEMPCOD] DEFAULT (0) FOR [VENEMPCOD],
	CONSTRAINT [DF_TBS0701_CMSVALVEN] DEFAULT (0) FOR [CMSVALVEN],
	CONSTRAINT [DF_TBS0701_CMSVALABT] DEFAULT (0) FOR [CMSVALABT],
	CONSTRAINT [DF_TBS0701_CMSVALACR] DEFAULT (0) FOR [CMSVALACR],
	CONSTRAINT [DF_TBS0701_CMSPERCOM] DEFAULT (0) FOR [CMSPERCOM]
GO

 CREATE  INDEX [ITBS0702] ON [dbo].[TBS070]([CMSEMPCOD], [CMSDOC] DESC ) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0703] ON [dbo].[TBS070]([CMSEMPCOD], [CMSDATPRO] DESC , [CMSDOC] DESC ) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS07012] ON [dbo].[TBS0701]([VENEMPCOD], [VENCOD]) ON [PRIMARY]
GO

