ALTER TABLE [dbo].[TBS0593] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[NFEEMPCOD],
		[NFETIP],
		[NFENUM],
		[NFECOD],
		[SEREMPCOD],
		[SERCOD],
		[NFEDATVEN]
	)  ON [PRIMARY] 
GO

