ALTER TABLE [dbo].[TBS0592] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[NFEEMPCOD],
		[NFETIP],
		[NFENUM],
		[NFECOD],
		[SEREMPCOD],
		[SERCOD],
		[NFEITE],
		[NFETIPPED],
		[NFEPEDEMP],
		[NFEPEDNUM],
		[NFEPEDITE]
	)  ON [PRIMARY] 
GO

 CREATE  INDEX [ITBS05923] ON [dbo].[TBS0592]([NFEEMPCOD], [NFETIP], [NFENUM], [NFECOD], [SEREMPCOD], [SERCOD], [NFETIPPED], [NFEPEDEMP], [NFEPEDNUM], [NFEPEDITE]) ON [PRIMARY]
GO

