ALTER TABLE [dbo].[TBS0594] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[NFEEMPCOD],
		[NFETIP],
		[NFENUM],
		[NFECOD],
		[SEREMPCOD],
		[SERCOD],
		[NFEITE],
		[NFEDATVAL],
		[NFELOTNUM]
	)  ON [PRIMARY] 
GO

