ALTER TABLE [dbo].[TBS071] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[PAICOD],
		[PAINOM]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TBS073] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[CACEMPCOD],
		[CACDOC]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TBS0731] WITH NOCHECK ADD 
	CONSTRAINT [PK__TBS0731__0D6FE0E5] PRIMARY KEY  CLUSTERED 
	(
		[CACEMPCOD],
		[CACDOC],
		[ESPCOD],
		[ESPITE]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TBS081] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[CDAEMPCOD],
		[TBSNOM],
		[TBSATRNOM]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TBS0811] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[CDAEMPCOD],
		[TBSNOM],
		[TBSATRNOM],
		[CDATIPUSU],
		[CDAUSU]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TBS082] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[PCOEMPCOD],
		[PCOCOD]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TBS083] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[CXAEMPCOD],
		[CXANUM]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TBS0831] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[CXAEMPCOD],
		[CXANUM],
		[CXASEQLAN]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TBS050] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[OCOEMPCOD],
		[OCOCOD]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[MSL002] WITH NOCHECK ADD 
	CONSTRAINT [PK__MSL002__57BDDBAA] PRIMARY KEY  CLUSTERED 
	(
		[M2_EMPCOD],
		[M2_LOJ],
		[M2_CXA],
		[M2_DAT],
		[M2_HOR],
		[M2_NUMDOC],
		[M2_NUMPED],
		[M2_TIPDOC],
		[M2_TIPREG],
		[M2_PROCOD],
		[M2_NUMORDITE],
		[M2_FINVEN],
		[M2_CODTIT]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TBS0801] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[ENFEMPCOD],
		[ENFNUM],
		[ENFDATHOR]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TBS073] WITH NOCHECK ADD 
	CONSTRAINT [DF_TBS073_CACEMPCOD] DEFAULT (0) FOR [CACEMPCOD],
	CONSTRAINT [DF_TBS073_CACDOC] DEFAULT (0) FOR [CACDOC],
	CONSTRAINT [DF_TBS073_CACDATEMI] DEFAULT ('17530101') FOR [CACDATEMI],
	CONSTRAINT [DF_TBS073_NFSEMPCOD] DEFAULT (0) FOR [NFSEMPCOD],
	CONSTRAINT [DF_TBS073_NFSNUM] DEFAULT (0) FOR [NFSNUM],
	CONSTRAINT [DF_TBS073_CACENDER] DEFAULT ('') FOR [CACENDER],
	CONSTRAINT [DF_TBS073_CACIMPRE] DEFAULT ('') FOR [CACIMPRE]
GO

ALTER TABLE [dbo].[TBS0731] WITH NOCHECK ADD 
	CONSTRAINT [DF_TBS0731_CACEMPCOD] DEFAULT (0) FOR [CACEMPCOD],
	CONSTRAINT [DF_TBS0731_CACDOC] DEFAULT (0) FOR [CACDOC],
	CONSTRAINT [DF_TBS0731_ESPCOD] DEFAULT (0) FOR [ESPCOD],
	CONSTRAINT [DF_TBS0731_CACRET] DEFAULT ('') FOR [CACRET]
GO

ALTER TABLE [dbo].[TBS0811] WITH NOCHECK ADD 
	CONSTRAINT [DF__TBS0811__CDACTRI__7DCE75F9] DEFAULT ('N') FOR [CDACTRINS],
	CONSTRAINT [DF__TBS0811__CDACTRA__7EC29A32] DEFAULT ('S') FOR [CDACTRALT]
GO

ALTER TABLE [dbo].[MSL002] WITH NOCHECK ADD 
	CONSTRAINT [DF_MSL002_M2_EMPCOD] DEFAULT (0) FOR [M2_EMPCOD],
	CONSTRAINT [DF_MSL002_M2_NUMDOC] DEFAULT (0) FOR [M2_NUMDOC],
	CONSTRAINT [DF_MSL002_M2_NUMPED] DEFAULT ('') FOR [M2_NUMPED],
	CONSTRAINT [DF_MSL002_M2_TIPDOC] DEFAULT ('') FOR [M2_TIPDOC],
	CONSTRAINT [DF_MSL002_M2_TIPREG] DEFAULT ('') FOR [M2_TIPREG],
	CONSTRAINT [DF_MSL002_M2_PROCOD] DEFAULT ('') FOR [M2_PROCOD],
	CONSTRAINT [DF_MSL002_M2_NUMORDITE] DEFAULT (0) FOR [M2_NUMORDITE],
	CONSTRAINT [DF_MSL002_M2_TIPPRO] DEFAULT ('') FOR [M2_TIPPRO],
	CONSTRAINT [DF_MSL002_M2_QTD] DEFAULT (0) FOR [M2_QTD],
	CONSTRAINT [DF_MSL002_M2_VALUNI] DEFAULT (0) FOR [M2_VALUNI],
	CONSTRAINT [DF_MSL002_M2_VALTOT] DEFAULT (0) FOR [M2_VALTOT],
	CONSTRAINT [DF_MSL002_M2_CODVEN] DEFAULT (0) FOR [M2_CODVEN],
	CONSTRAINT [DF_MSL002_M2_CODEMP] DEFAULT (0) FOR [M2_CODEMP],
	CONSTRAINT [DF_MSL002_M2_CODCLI] DEFAULT (0) FOR [M2_CODCLI],
	CONSTRAINT [DF_MSL002_M2_TIPCLI] DEFAULT ('') FOR [M2_TIPCLI],
	CONSTRAINT [DF_MSL002_M2_LOJ] DEFAULT (0) FOR [M2_LOJ],
	CONSTRAINT [DF_MSL002_M2_CXA] DEFAULT (0) FOR [M2_CXA],
	CONSTRAINT [DF_MSL002_M2_OPE] DEFAULT (0) FOR [M2_OPE],
	CONSTRAINT [DF_MSL002_M2_DAT] DEFAULT ('17530101') FOR [M2_DAT],
	CONSTRAINT [DF_MSL002_M2_HOR] DEFAULT ('') FOR [M2_HOR],
	CONSTRAINT [DF_MSL002_M2_FINVEN] DEFAULT ('') FOR [M2_FINVEN],
	CONSTRAINT [DF_MSL002_M2_CGCCPFCHQ] DEFAULT ('') FOR [M2_CGCCPFCHQ],
	CONSTRAINT [DF_MSL002_M2_BANNUM] DEFAULT ('') FOR [M2_BANNUM],
	CONSTRAINT [DF_MSL002_M2_BANAGE] DEFAULT ('') FOR [M2_BANAGE],
	CONSTRAINT [DF_MSL002_M2_CTAANT] DEFAULT ('') FOR [M2_CTAANT],
	CONSTRAINT [DF_MSL002_M2_NUMCHQ] DEFAULT ('') FOR [M2_NUMCHQ],
	CONSTRAINT [DF_MSL002_M2_VENCHQ] DEFAULT ('17530101') FOR [M2_VENCHQ],
	CONSTRAINT [DF_MSL002_M2_RES] DEFAULT ('') FOR [M2_RES],
	CONSTRAINT [DF_MSL002_M2_CODTIT] DEFAULT (0) FOR [M2_CODTIT],
	CONSTRAINT [DF_MSL002_M2_SEQ] DEFAULT (0) FOR [M2_SEQ],
	CONSTRAINT [DF_MSL002_M2_VIA] DEFAULT (0) FOR [M2_VIA],
	CONSTRAINT [DF_MSL002_M2_NUMBOL] DEFAULT (0) FOR [M2_NUMBOL],
	CONSTRAINT [DF_MSL002_M2_CODPAG] DEFAULT (0) FOR [M2_CODPAG],
	CONSTRAINT [DF_MSL002_M2_CONPAG] DEFAULT ('') FOR [M2_CONPAG],
	CONSTRAINT [DF_MSL002_M2_TEL] DEFAULT ('') FOR [M2_TEL],
	CONSTRAINT [DF_MSL002_M2_CTAATU] DEFAULT ('') FOR [M2_CTAATU],
	CONSTRAINT [DF_MSL002_M2_CMCSETDOC] DEFAULT ('') FOR [M2_CMCSETDOC],
	CONSTRAINT [DF_MSL002_M2_REDDESTRN] DEFAULT (0) FOR [M2_REDDESTRN],
	CONSTRAINT [DF_MSL002_M2_TIPTRN] DEFAULT ('') FOR [M2_TIPTRN],
	CONSTRAINT [DF_MSL002_M2_NUMCART] DEFAULT ('') FOR [M2_NUMCART],
	CONSTRAINT [DF_MSL002_M2_TIPDOCPAG] DEFAULT (0) FOR [M2_TIPDOCPAG],
	CONSTRAINT [DF_MSL002_M2_STATRN] DEFAULT ('') FOR [M2_STATRN],
	CONSTRAINT [DF_MSL002_M2_VALTRO] DEFAULT (0) FOR [M2_VALTRO],
	CONSTRAINT [DF_MSL002_M2_TABPRE] DEFAULT ('') FOR [M2_TABPRE],
	CONSTRAINT [DF_MSL002_M2_PONCED] DEFAULT (0) FOR [M2_PONCED],
	CONSTRAINT [DF_MSL002_M2_TRB] DEFAULT ('') FOR [M2_TRB],
	CONSTRAINT [DF_MSL002_M2_PRIDOCDIG] DEFAULT ('') FOR [M2_PRIDOCDIG],
	CONSTRAINT [DF_MSL002_M2_COO] DEFAULT (0) FOR [M2_COO],
	CONSTRAINT [DF_MSL002_M2_SEGDOCDIG] DEFAULT ('') FOR [M2_SEGDOCDIG],
	CONSTRAINT [DF_MSL002_M2_TERDOCDIG] DEFAULT ('') FOR [M2_TERDOCDIG],
	CONSTRAINT [DF_MSL002_M2_QUADOCDIG] DEFAULT ('') FOR [M2_QUADOCDIG],
	CONSTRAINT [DF_MSL002_M2_NUMECF] DEFAULT (0) FOR [M2_NUMECF],
	CONSTRAINT [DF_MSL002_M2_SUP] DEFAULT (0) FOR [M2_SUP]
GO

ALTER TABLE [dbo].[TBS0801] WITH NOCHECK ADD 
	CONSTRAINT [DF_TBS0801_ENFCODPRO] DEFAULT (0) FOR [ENFCODPRO],
	CONSTRAINT [DF_TBS0801_ENFDESPRO] DEFAULT ('') FOR [ENFDESPRO]
GO

 CREATE  INDEX [ITBS0711] ON [dbo].[TBS071]([PAINOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0731] ON [dbo].[TBS073]([NFSEMPCOD], [NFSNUM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0732] ON [dbo].[TBS073]([CACEMPCOD], [NFSNUM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0733] ON [dbo].[TBS073]([CACEMPCOD], [CACDATEMI]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0734] ON [dbo].[TBS073]([CACEMPCOD], [CACDOC] DESC ) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS07312] ON [dbo].[TBS0731]([ESPCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS07311] ON [dbo].[TBS0731]([CACEMPCOD], [CACDOC], [ESPITE], [ESPCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0811] ON [dbo].[TBS081]([TBSNOM], [TBSATRNOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0821] ON [dbo].[TBS082]([PCOEMPCOD], [PCODES]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0831] ON [dbo].[TBS083]([CXAEMPCOD], [CXADES]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS08313] ON [dbo].[TBS0831]([PCOEMPCOD], [PCOCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS08314] ON [dbo].[TBS0831]([CXAEMPCOD], [CXANUM], [CXASEQLAN] DESC ) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS08315] ON [dbo].[TBS0831]([CXAEMPCOD], [CXANUM], [CXADATLAN]) ON [PRIMARY]
GO

 CREATE  INDEX [IMSL0022] ON [dbo].[MSL002]([M2_EMPCOD], [M2_LOJ], [M2_CXA], [M2_TIPREG], [M2_NUMORDITE]) ON [PRIMARY]
GO

 CREATE  INDEX [IMSL0021] ON [dbo].[MSL002]([M2_EMPCOD], [M2_LOJ], [M2_CXA], [M2_DAT], [M2_NUMDOC]) ON [PRIMARY]
GO

 CREATE  INDEX [IMSL0023] ON [dbo].[MSL002]([M2_NUMNFS]) ON [PRIMARY]
GO

 CREATE  INDEX [IMSL0025] ON [dbo].[MSL002]([M2_PROCOD], [M2_DAT]) ON [PRIMARY]
GO

 CREATE  INDEX [IMSL0024] ON [dbo].[MSL002]([M2_DAT], [M2_TIPREG]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS08013] ON [dbo].[TBS0801]([ENFEMPCOD], [ENFNUM], [ENFDATHOR] DESC ) ON [PRIMARY]
GO

