ALTER TABLE [dbo].[TBS059] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[NFEEMPCOD],
		[NFETIP],
		[NFENUM],
		[NFECOD],
		[SEREMPCOD],
		[SERCOD]
	)  ON [PRIMARY] 
GO

 CREATE  INDEX [ITBS0591] ON [dbo].[TBS059]([TPTEMPCOD], [TPTCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0592] ON [dbo].[TBS059]([SEREMPCOD], [SERCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0593] ON [dbo].[TBS059]([NFEEMPCOD], [NFECOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0594] ON [dbo].[TBS059]([NFEEMPCOD], [NFEDATEMI]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0595] ON [dbo].[TBS059]([NFEEMPCOD], [NFEUSUEFE]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0596] ON [dbo].[TBS059]([NFEEMPCOD], [NFENOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0598] ON [dbo].[TBS059]([NFEEMPCOD], [NFENUM], [NFECOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0599] ON [dbo].[TBS059]([NFEEMPCOD], [NFENUM], [NFEDATEMI]) ON [PRIMARY]
GO

