ALTER TABLE [dbo].[TBS002] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[CLICOD],
		[CLIEMPCOD]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TBS003] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[ENDCOD],
		[ENDTIP],
		[ENDEMPCOD]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TBS004] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[VENCOD],
		[VENEMPCOD]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TBS005] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[TRNCOD],
		[TRNEMPCOD]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TBS006] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[FORCOD],
		[FOREMPCOD]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TBS010] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[PROCOD],
		[PROEMPCOD]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TBS011] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[UNICOD],
		[UNIEMPCOD]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TBS014] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[MARCOD],
		[MAREMPCOD]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TBS015] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[PDPCOD],
		[PDPEMPCOD]
	)  ON [PRIMARY] 
GO

 CREATE  INDEX [ITBS0025] ON [dbo].[TBS002]([CPGCOD], [CPGEMPCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0027] ON [dbo].[TBS002]([RAMCOD], [RAMEMPCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0024] ON [dbo].[TBS002]([TRNCOD], [TRNEMPCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0023] ON [dbo].[TBS002]([UFESIG]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0028] ON [dbo].[TBS002]([VENCOD], [VENEMPCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0026] ON [dbo].[TBS002]([TESCOD], [TESEMPCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0031] ON [dbo].[TBS003]([UFESIG]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0041] ON [dbo].[TBS004]([VENUFESIG]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0051] ON [dbo].[TBS005]([TRNUFESIG]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0061] ON [dbo].[TBS006]([CPGCOD], [CPGEMPCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0062] ON [dbo].[TBS006]([UFESIG]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0063] ON [dbo].[TBS006]([TRNCOD], [TRNEMPCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0064] ON [dbo].[TBS006]([FORTESCOD], [FORTESEMP]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0107] ON [dbo].[TBS010]([FORCOD], [FOREMPCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0101] ON [dbo].[TBS010]([PROUM1], [PROEMPUM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0102] ON [dbo].[TBS010]([PROUM2], [PROEMPUM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0103] ON [dbo].[TBS010]([PROUM3], [PROEMPUM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0104] ON [dbo].[TBS010]([PROUM4], [PROEMPUM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0108] ON [dbo].[TBS010]([GRUCOD], [GRUEMPCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0106] ON [dbo].[TBS010]([MARCOD], [MAREMPCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0105] ON [dbo].[TBS010]([FABCOD], [FABEMPCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0109] ON [dbo].[TBS010]([PROEMPCOD], [FORCOD], [FOREMPCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010A] ON [dbo].[TBS010]([PROTESCOD], [PROTESEMP]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010B] ON [dbo].[TBS010]([PROEMPCOD], [PROCODBAR1]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010C] ON [dbo].[TBS010]([PROEMPCOD], [PROCODBAR2]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010D] ON [dbo].[TBS010]([PROEMPCOD], [PROCODBAR3]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010E] ON [dbo].[TBS010]([PROEMPCOD], [PROCODBAR4]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0153] ON [dbo].[TBS015]([PDPCOD], [PDPEMPCOD], [PDPSEGFOR]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0151] ON [dbo].[TBS015]([PDPCOD], [PDPPROEMP]) ON [PRIMARY]
GO

