if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[MSL002]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[MSL002]
GO

CREATE TABLE [dbo].[MSL002] (
	[M2_EMPCOD] [smallint] NOT NULL ,
	[M2_NUMDOC] [int] NOT NULL ,
	[M2_NUMPED] [char] (8) COLLATE Latin1_General_BIN NOT NULL ,
	[M2_TIPDOC] [char] (1) COLLATE Latin1_General_BIN NOT NULL ,
	[M2_TIPREG] [char] (2) COLLATE Latin1_General_BIN NOT NULL ,
	[M2_PROCOD] [char] (15) COLLATE Latin1_General_BIN NOT NULL ,
	[M2_NUMORDITE] [int] NOT NULL ,
	[M2_TIPPRO] [char] (1) COLLATE Latin1_General_BIN NULL ,
	[M2_QTD] [smallmoney] NULL ,
	[M2_VALUNI] [money] NULL ,
	[M2_VALTOT] [money] NULL ,
	[M2_CODVEN] [smallint] NULL ,
	[M2_CODEMP] [smallint] NULL ,
	[M2_CODCLI] [decimal](16, 0) NULL ,
	[M2_TIPCLI] [char] (1) COLLATE Latin1_General_BIN NULL ,
	[M2_LOJ] [smallint] NOT NULL ,
	[M2_CXA] [smallint] NOT NULL ,
	[M2_OPE] [smallint] NULL ,
	[M2_DAT] [datetime] NOT NULL ,
	[M2_HOR] [char] (5) COLLATE Latin1_General_BIN NOT NULL ,
	[M2_FINVEN] [char] (3) COLLATE Latin1_General_BIN NOT NULL ,
	[M2_CGCCPFCHQ] [char] (19) COLLATE Latin1_General_BIN NULL ,
	[M2_BANNUM] [char] (3) COLLATE Latin1_General_BIN NULL ,
	[M2_BANAGE] [char] (7) COLLATE Latin1_General_BIN NULL ,
	[M2_CTAANT] [char] (9) COLLATE Latin1_General_BIN NULL ,
	[M2_NUMCHQ] [char] (6) COLLATE Latin1_General_BIN NULL ,
	[M2_VENCHQ] [datetime] NULL ,
	[M2_RES] [char] (2) COLLATE Latin1_General_BIN NULL ,
	[M2_CODTIT] [int] NOT NULL ,
	[M2_SEQ] [smallint] NULL ,
	[M2_VIA] [smallint] NULL ,
	[M2_NUMBOL] [int] NULL ,
	[M2_CODPAG] [smallint] NULL ,
	[M2_CONPAG] [char] (10) COLLATE Latin1_General_BIN NULL ,
	[M2_TEL] [char] (10) COLLATE Latin1_General_BIN NULL ,
	[M2_CTAATU] [char] (10) COLLATE Latin1_General_BIN NULL ,
	[M2_CMCSETDOC] [char] (70) COLLATE Latin1_General_BIN NULL ,
	[M2_REDDESTRN] [smallint] NULL ,
	[M2_TIPTRN] [char] (1) COLLATE Latin1_General_BIN NULL ,
	[M2_NUMCART] [char] (40) COLLATE Latin1_General_BIN NULL ,
	[M2_TIPDOCPAG] [smallint] NULL ,
	[M2_STATRN] [char] (1) COLLATE Latin1_General_BIN NULL ,
	[M2_VALTRO] [money] NULL ,
	[M2_TABPRE] [char] (1) COLLATE Latin1_General_BIN NULL ,
	[M2_PONCED] [decimal](7, 4) NULL ,
	[M2_TRB] [char] (6) COLLATE Latin1_General_BIN NULL ,
	[M2_PRIDOCDIG] [char] (20) COLLATE Latin1_General_BIN NULL ,
	[M2_COO] [int] NULL ,
	[M2_SEGDOCDIG] [char] (20) COLLATE Latin1_General_BIN NULL ,
	[M2_TERDOCDIG] [char] (20) COLLATE Latin1_General_BIN NULL ,
	[M2_QUADOCDIG] [char] (20) COLLATE Latin1_General_BIN NULL ,
	[M2_NUMECF] [smallint] NULL ,
	[M2_SUP] [smallint] NULL ,
	[M2_DATMOV] [datetime] NULL ,
	[M2_CODBARDIG] [char] (20) COLLATE Latin1_General_BIN NULL ,
	[M2_DESITE] [money] NULL ,
	[M2_ABT] [money] NULL ,
	[M2_ACR] [money] NULL ,
	[M2_TIPPAR] [char] (2) COLLATE Latin1_General_BIN NULL ,
	[M2_CODTABPRE] [int] NULL ,
	[M2_BINCAR] [char] (6) COLLATE Latin1_General_BIN NULL ,
	[M2_NUMPAR] [smallint] NULL ,
	[M2_REGCAN] [char] (1) COLLATE Latin1_General_BIN NULL ,
	[M2_FINVENANT] [char] (3) COLLATE Latin1_General_BIN NULL ,
	[M2_TIPREGFIN] [char] (2) COLLATE Latin1_General_BIN NULL ,
	[M2_NUMTICTRO] [int] NULL ,
	[M2_TAN] [char] (2) COLLATE Latin1_General_BIN NULL ,
	[M2_BIC] [char] (2) COLLATE Latin1_General_BIN NULL ,
	[M2_NUMABA] [int] NULL ,
	[M2_NUMSEQABA] [int] NULL ,
	[M2_LOCCANREG] [smallint] NULL ,
	[M2_CODLISCAS] [decimal](10, 0) NULL ,
	[M2_C1] [smallint] NULL ,
	[M2_C2] [smallint] NULL ,
	[M2_C3] [smallint] NULL ,
	[M2_CONCUPFIS] [int] NULL ,
	[M2_CAMCOM] [smallint] NULL ,
	[M2_DESPROPREMUL] [money] NULL ,
	[M2_DESPROCAM] [money] NULL ,
	[M2_CONREDZ] [int] NULL ,
	[M2_NSUALTTEF] [char] (15) COLLATE Latin1_General_BIN NULL ,
	[M2_CODCARCLI] [smallint] NULL ,
	[M2_QTDREFPRO] [int] NULL ,
	[M2_QTDMAXREF] [int] NULL ,
	[M2_CONSEQFIS] [int] NULL ,
	[M2_CONSEQNAOFIS] [int] NULL ,
	[M2_ACRITE] [money] NULL ,
	[M2_NUMDAVPED] [decimal](10, 0) NULL ,
	[M2_TITDAVPED] [char] (1) COLLATE Latin1_General_BIN NULL ,
	[M2_NUMNFS] [int] NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MSL002] WITH NOCHECK ADD 
	CONSTRAINT [PK__MSL002__57BDDBAA] PRIMARY KEY  CLUSTERED 
	(
		[M2_EMPCOD],
		[M2_LOJ],
		[M2_CXA],
		[M2_DAT],
		[M2_HOR],
		[M2_NUMDOC],
		[M2_NUMPED],
		[M2_TIPDOC],
		[M2_TIPREG],
		[M2_PROCOD],
		[M2_NUMORDITE],
		[M2_FINVEN],
		[M2_CODTIT]
	)  ON [PRIMARY] 
GO

 CREATE  INDEX [IMSL0022] ON [dbo].[MSL002]([M2_EMPCOD], [M2_LOJ], [M2_CXA], [M2_TIPREG], [M2_NUMORDITE]) ON [PRIMARY]
GO

 CREATE  INDEX [IMSL0021] ON [dbo].[MSL002]([M2_EMPCOD], [M2_LOJ], [M2_CXA], [M2_DAT], [M2_NUMDOC]) ON [PRIMARY]
GO

 CREATE  INDEX [IMSL0023] ON [dbo].[MSL002]([M2_NUMNFS]) ON [PRIMARY]
GO

 CREATE  INDEX [IMSL0025] ON [dbo].[MSL002]([M2_PROCOD], [M2_DAT]) ON [PRIMARY]
GO

 CREATE  INDEX [IMSL0024] ON [dbo].[MSL002]([M2_DAT], [M2_TIPREG]) ON [PRIMARY]
GO

