CREATE TABLE [dbo].[TBS080] (
	[ENFEMPCOD] [smallint] NOT NULL ,
	[ENFNUM] [int] NOT NULL ,
	[ENFTIPDOC] [smallint] NULL ,
	[ENFMOD] [smallint] NULL ,
	[ENFSER] [smallint] NULL ,
	[ENFDATEMI] [datetime] NULL ,
	[ENFFORDAN] [smallint] NULL ,
	[ENFFORPAG] [smallint] NULL ,
	[ENFFOREMI] [smallint] NULL ,
	[ENFCNPJCPF] [char] (18) COLLATE Latin1_General_BIN NULL ,
	[ENFFINEMI] [smallint] NULL ,
	[ENFDESREM] [char] (60) COLLATE Latin1_General_BIN NULL ,
	[ENFVALTOT] [money] NULL ,
	[ENFCHAACE] [char] (44) COLLATE Latin1_General_BIN NULL ,
	[ENFDANIMP] [char] (1) COLLATE Latin1_General_BIN NULL ,
	[ENFCODDES] [int] NULL ,
	[ENFSIT] [smallint] NULL ,
	[ENFARQ] [char] (20) COLLATE Latin1_General_BIN NULL ,
	[ENFRECIBO] [decimal](15, 0) NULL ,
	[ENFPROTOC] [decimal](15, 0) NULL ,
	[ENFDIGVAL] [char] (28) COLLATE Latin1_General_BIN NULL ,
	[ENFJUSTIF] [char] (255) COLLATE Latin1_General_BIN NULL ,
	[ENFEMAIL] [char] (1) COLLATE Latin1_General_BIN NULL ,
	[ENFTIPENT] [char] (1) COLLATE Latin1_General_BIN NULL ,
	[ENFESTDES] [char] (2) COLLATE Latin1_General_BIN NULL ,
	[ENFVENCOD] [smallint] NULL ,
	[ENFTIPAMB] [smallint] NULL ,
	[ENFDATHORPRO] [datetime] NULL ,
	[ENFPROCAN] [decimal](15, 0) NULL ,
	[ENFDEHPROCAN] [datetime] NULL ,
	[ENFPROINU] [decimal](15, 0) NULL ,
	[ENFDEHPROINU] [datetime] NULL ,
	[ENFJUSINU] [char] (255) COLLATE Latin1_General_BIN NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[TBS0801] (
	[ENFEMPCOD] [smallint] NOT NULL ,
	[ENFNUM] [int] NOT NULL ,
	[ENFDATHOR] [datetime] NOT NULL ,
	[ENFCODPRO] [smallint] NULL ,
	[ENFDESPRO] [char] (250) COLLATE Latin1_General_BIN NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[TBS080] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[ENFEMPCOD],
		[ENFNUM]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TBS0801] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[ENFEMPCOD],
		[ENFNUM],
		[ENFDATHOR]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TBS080] ADD 
	CONSTRAINT [DF_TBS080_ENFTIPDOC] DEFAULT (0) FOR [ENFTIPDOC],
	CONSTRAINT [DF_TBS080_ENFMOD] DEFAULT (0) FOR [ENFMOD],
	CONSTRAINT [DF_TBS080_ENFSER] DEFAULT (0) FOR [ENFSER],
	CONSTRAINT [DF_TBS080_ENFDATEMI] DEFAULT ('17530101') FOR [ENFDATEMI],
	CONSTRAINT [DF_TBS080_ENFFORDAN] DEFAULT (0) FOR [ENFFORDAN],
	CONSTRAINT [DF_TBS080_ENFFORPAG] DEFAULT (0) FOR [ENFFORPAG],
	CONSTRAINT [DF_TBS080_ENFFOREMI] DEFAULT (0) FOR [ENFFOREMI],
	CONSTRAINT [DF_TBS080_ENFCNPJCPF] DEFAULT ('') FOR [ENFCNPJCPF],
	CONSTRAINT [DF_TBS080_ENFFINEMI] DEFAULT (0) FOR [ENFFINEMI],
	CONSTRAINT [DF_TBS080_ENFDESREM] DEFAULT ('') FOR [ENFDESREM],
	CONSTRAINT [DF_TBS080_ENFVALTOT] DEFAULT (0) FOR [ENFVALTOT],
	CONSTRAINT [DF_TBS080_ENFCHAACE] DEFAULT ('') FOR [ENFCHAACE],
	CONSTRAINT [DF_TBS080_ENFDANIMP] DEFAULT ('') FOR [ENFDANIMP],
	CONSTRAINT [DF_TBS080_ENFCODDES] DEFAULT (0) FOR [ENFCODDES],
	CONSTRAINT [DF_TBS080_ENFSIT] DEFAULT (0) FOR [ENFSIT],
	CONSTRAINT [DF_TBS080_ENFARQ] DEFAULT ('') FOR [ENFARQ],
	CONSTRAINT [DF_TBS080_ENFRECIBO] DEFAULT (0) FOR [ENFRECIBO],
	CONSTRAINT [DF_TBS080_ENFPROTOC] DEFAULT (0) FOR [ENFPROTOC],
	CONSTRAINT [DF_TBS080_ENFDIGVAL] DEFAULT ('') FOR [ENFDIGVAL],
	CONSTRAINT [DF_TBS080_ENFJUSTIF] DEFAULT ('') FOR [ENFJUSTIF],
	CONSTRAINT [DF_TBS080_ENFEMAIL] DEFAULT ('') FOR [ENFEMAIL],
	CONSTRAINT [DF_TBS080_ENFTIPENT] DEFAULT ('') FOR [ENFTIPENT],
	CONSTRAINT [DF_TBS080_ENFESTDES] DEFAULT ('') FOR [ENFESTDES],
	CONSTRAINT [DF_TBS080_ENFVENCOD] DEFAULT (0) FOR [ENFVENCOD],
	CONSTRAINT [DF_TBS080_ENFTIPAMB] DEFAULT (0) FOR [ENFTIPAMB],
	CONSTRAINT [DF_TBS080_ENFDATHORPRO] DEFAULT ('17530101') FOR [ENFDATHORPRO],
	CONSTRAINT [DF_TBS080_ENFPROCAN] DEFAULT (0) FOR [ENFPROCAN],
	CONSTRAINT [DF_TBS080_ENFDEHPROCAN] DEFAULT ('17530101') FOR [ENFDEHPROCAN],
	CONSTRAINT [DF_TBS080_ENFPROINU] DEFAULT (0) FOR [ENFPROINU],
	CONSTRAINT [DF_TBS080_ENFDEHPROINU] DEFAULT ('17530101') FOR [ENFDEHPROINU],
	CONSTRAINT [DF_TBS080_ENFJUSINU] DEFAULT ('') FOR [ENFJUSINU]
GO

 CREATE  INDEX [ITBS0801] ON [dbo].[TBS080]([ENFEMPCOD], [ENFNUM] DESC ) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0802] ON [dbo].[TBS080]([ENFEMPCOD], [ENFCHAACE]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0803] ON [dbo].[TBS080]([ENFEMPCOD], [ENFDESREM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0804] ON [dbo].[TBS080]([ENFEMPCOD], [ENFDATEMI]) ON [PRIMARY]
GO

ALTER TABLE [dbo].[TBS0801] ADD 
	CONSTRAINT [DF_TBS0801_ENFCODPRO] DEFAULT (0) FOR [ENFCODPRO],
	CONSTRAINT [DF_TBS0801_ENFDESPRO] DEFAULT ('') FOR [ENFDESPRO]
GO

 CREATE  INDEX [ITBS08013] ON [dbo].[TBS0801]([ENFEMPCOD], [ENFNUM], [ENFDATHOR] DESC ) ON [PRIMARY]
GO

