 CREATE  INDEX [ITBS0072] ON [dbo].[TBS007]([BANEMPCOD], [BANNOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0135] ON [dbo].[TBS013]([PROEMPCOD], [INVPRODES]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS055A] ON [dbo].[TBS055]([PDVEMPCOD], [PDVREQNOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS067D] ON [dbo].[TBS067]([NFSEMPCOD], [NFSDATEMI], [NFSCLICOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0696] ON [dbo].[TBS069]([PDFNFSEMP], [PDFPRODES]) ON [PRIMARY]
GO

