-- RECRIA INDICES DAS TABELAS -----------------------------------------------------------------------------------------------

-- clientes
ALTER TABLE [dbo].[TBS002] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[CLIEMPCOD],
		[CLICOD]
	)  ON [PRIMARY] 
GO

-- outros enderecos de clientes
ALTER TABLE [dbo].[TBS003] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[ENDEMPCOD],
		[ENDTIP],
		[ENDCOD]
	)  ON [PRIMARY] 
GO

-- vendedores
ALTER TABLE [dbo].[TBS004] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[VENEMPCOD],
		[VENCOD]
	)  ON [PRIMARY] 
GO

-- transportadoras
ALTER TABLE [dbo].[TBS005] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[TRNEMPCOD],
		[TRNCOD]
	)  ON [PRIMARY] 
GO

-- fornecedores
ALTER TABLE [dbo].[TBS006] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[FOREMPCOD],
		[FORCOD]
	)  ON [PRIMARY] 
GO

-- produtos
ALTER TABLE [dbo].[TBS010] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[PROEMPCOD],
		[PROCOD]
	)  ON [PRIMARY] 
GO

-- unidades de medidas
ALTER TABLE [dbo].[TBS011] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[UNIEMPCOD],
		[UNICOD]
	)  ON [PRIMARY] 
GO

-- marcas de produtos
ALTER TABLE [dbo].[TBS014] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[MAREMPCOD],
		[MARCOD]
	)  ON [PRIMARY] 
GO

-- politica de precos
ALTER TABLE [dbo].[TBS015] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[PDPEMPCOD],
		[PDPCOD]
	)  ON [PRIMARY] 
GO


-- clientes -----------------------------------------------------------------------------------------------------------------
 CREATE  INDEX [ITBS0021] ON [dbo].[TBS002]([TESEMPCOD], [TESCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0022] ON [dbo].[TBS002]([UFESIG]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0023] ON [dbo].[TBS002]([TRNEMPCOD], [TRNCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0024] ON [dbo].[TBS002]([VENEMPCOD], [VENCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0025] ON [dbo].[TBS002]([CPGEMPCOD], [CPGCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0026] ON [dbo].[TBS002]([RAMEMPCOD], [RAMCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0027] ON [dbo].[TBS002]([CLIEMPCOD], [CLICGC]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0028] ON [dbo].[TBS002]([CLIEMPCOD], [CLICPF]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0029] ON [dbo].[TBS002]([CLIEMPCOD], [UFESIG]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS002A] ON [dbo].[TBS002]([CLIEMPCOD], [CLINOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS002B] ON [dbo].[TBS002]([CLIEMPCOD], [CLINOMFAN]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS002C] ON [dbo].[TBS002]([CLIEMPCOD], [VENCOD]) ON [PRIMARY]
GO

-- outros enderecos ---------------------------------------------------------------------------------------------------------
 CREATE  INDEX [ITBS0031] ON [dbo].[TBS003]([UFESIG]) ON [PRIMARY]
GO

-- vendedores ---------------------------------------------------------------------------------------------------------------
 CREATE  INDEX [ITBS0041] ON [dbo].[TBS004]([VENUFESIG]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0042] ON [dbo].[TBS004]([VENEMPCOD], [VENCPF]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0043] ON [dbo].[TBS004]([VENEMPCOD], [VENLOC]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0044] ON [dbo].[TBS004]([VENEMPCOD], [VENNOM]) ON [PRIMARY]
GO

-- transportadoras ----------------------------------------------------------------------------------------------------------
 CREATE  INDEX [ITBS0051] ON [dbo].[TBS005]([TRNUFESIG]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0052] ON [dbo].[TBS005]([TRNEMPCOD], [TRNCGC]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0053] ON [dbo].[TBS005]([TRNEMPCOD], [TRNUFESIG]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0054] ON [dbo].[TBS005]([TRNEMPCOD], [TRNNOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0055] ON [dbo].[TBS005]([TRNEMPCOD], [TRNNOMFAN]) ON [PRIMARY]
GO

-- fornecedores -------------------------------------------------------------------------------------------------------------
 CREATE  INDEX [ITBS0061] ON [dbo].[TBS006]([FORTESEMP], [FORTESCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0062] ON [dbo].[TBS006]([TRNEMPCOD], [TRNCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0063] ON [dbo].[TBS006]([CPGEMPCOD], [CPGCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0064] ON [dbo].[TBS006]([UFESIG]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0065] ON [dbo].[TBS006]([FOREMPCOD], [FORCGC]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0066] ON [dbo].[TBS006]([FOREMPCOD], [FORCPF]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0068] ON [dbo].[TBS006]([FOREMPCOD], [FORNOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0069] ON [dbo].[TBS006]([FOREMPCOD], [FORNOMFAN]) ON [PRIMARY]
GO

-- produtos -----------------------------------------------------------------------------------------------------------------
 CREATE  INDEX [ITBS0102] ON [dbo].[TBS010]([PROEMPUM], [PROUM1]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0103] ON [dbo].[TBS010]([PROEMPUM], [PROUM2]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0104] ON [dbo].[TBS010]([PROEMPUM], [PROUM3]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0105] ON [dbo].[TBS010]([PROEMPUM], [PROUM4]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0106] ON [dbo].[TBS010]([FABEMPCOD], [FABCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0107] ON [dbo].[TBS010]([MAREMPCOD], [MARCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0108] ON [dbo].[TBS010]([FOREMPCOD], [FORCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0109] ON [dbo].[TBS010]([GRUEMPCOD], [GRUCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010B] ON [dbo].[TBS010]([PROEMPCOD], [PROCODBAR1]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010C] ON [dbo].[TBS010]([PROEMPCOD], [PROCODBAR2]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010D] ON [dbo].[TBS010]([PROEMPCOD], [PROCODBAR3]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010E] ON [dbo].[TBS010]([PROEMPCOD], [PROCODBAR4]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010F] ON [dbo].[TBS010]([PROEMPCOD], [FOREMPCOD], [FORCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010A] ON [dbo].[TBS010]([PROEMPCOD], [PRODES]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010G] ON [dbo].[TBS010]([PROEMPCOD], [FABCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010H] ON [dbo].[TBS010]([PROEMPCOD], [FORCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010I] ON [dbo].[TBS010]([PROEMPCOD], [GRUCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010J] ON [dbo].[TBS010]([PROEMPCOD], [PROLOCFIS]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010K] ON [dbo].[TBS010]([PROEMPCOD], [MARCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010L] ON [dbo].[TBS010]([PROEMPCOD], [PROREFFOR]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010M] ON [dbo].[TBS010]([PROEMPCOD], [PROSTATUS]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS01010] ON [dbo].[TBS010]([PROSAIEMP], [PROSAICOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS01011] ON [dbo].[TBS010]([PROENTEMP], [PROENTCOD]) ON [PRIMARY]
GO

-- unidades de medidas ------------------------------------------------------------------------------------------------------
 CREATE  INDEX [ITBS0111] ON [dbo].[TBS011]([UNIEMPCOD], [UNIDES]) ON [PRIMARY]
GO

-- marcas de produtos -------------------------------------------------------------------------------------------------------
 CREATE  INDEX [ITBS0141] ON [dbo].[TBS014]([MAREMPCOD], [MARNOM]) ON [PRIMARY]
GO

-- politica de precos -------------------------------------------------------------------------------------------------------
 CREATE  INDEX [ITBS0151] ON [dbo].[TBS015]([PDPPROEMP], [PDPCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0152] ON [dbo].[TBS015]([PDPPROEMP], [PDPEMPCOD], [PDPCOD], [PDPSEGFOR]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0153] ON [dbo].[TBS015]([PDPEMPCOD], [PDPDATALT]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0154] ON [dbo].[TBS015]([PDPEMPCOD], [PDPDATATU]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0155] ON [dbo].[TBS015]([PDPEMPCOD], [PDPVALPROF]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0156] ON [dbo].[TBS015]([PDPEMPCOD], [PDPVALPROI]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0157] ON [dbo].[TBS015]([PDPEMPCOD], [PDPSEGFOR]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0159] ON [dbo].[TBS015]([MOEEMPCOD], [MOECOD]) ON [PRIMARY]
GO
