 CREATE  INDEX [ITBS0011] ON [dbo].[TBS001]([UFENOM]) ON [PRIMARY]
GO

 CREATE  INDEX [IMSL0016] ON [dbo].[MSL001]([M1_EMPCOD], [M1_START_TIME_data], [M1_STORE_KEY], [M1_POS_NUMBER], [M1_TICKET_NUMBER], [M1_SEQUENCE]) ON [PRIMARY]
GO

 CREATE  INDEX [IMSL0012] ON [dbo].[MSL001]([M1_EMPCOD], [M1_PLU_ID], [M1_TAXA]) ON [PRIMARY]
GO

 CREATE  INDEX [IMSL0013] ON [dbo].[MSL001]([M1_EMPCOD], [M1_PRODES]) ON [PRIMARY]
GO

 CREATE  INDEX [IMSL0014] ON [dbo].[MSL001]([M1_EMPCOD], [M1_TICKET_NUMBER]) ON [PRIMARY]
GO

 CREATE  INDEX [IMSL0015] ON [dbo].[MSL001]([M1_EMPCOD], [M1_VOIDED]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0021] ON [dbo].[TBS002]([TESEMPCOD], [TESCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0022] ON [dbo].[TBS002]([UFESIG]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0023] ON [dbo].[TBS002]([TRNEMPCOD], [TRNCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0024] ON [dbo].[TBS002]([VENEMPCOD], [VENCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0025] ON [dbo].[TBS002]([CPGEMPCOD], [CPGCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0026] ON [dbo].[TBS002]([RAMEMPCOD], [RAMCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0027] ON [dbo].[TBS002]([CLIEMPCOD], [CLICGC]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0028] ON [dbo].[TBS002]([CLIEMPCOD], [CLICPF]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0029] ON [dbo].[TBS002]([CLIEMPCOD], [UFESIG]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS002A] ON [dbo].[TBS002]([CLIEMPCOD], [CLINOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS002B] ON [dbo].[TBS002]([CLIEMPCOD], [CLINOMFAN]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS002C] ON [dbo].[TBS002]([CLIEMPCOD], [VENCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS00210] ON [dbo].[TBS002]([CLIPOREMP], [CLIPORCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0031] ON [dbo].[TBS003]([UFESIG]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0041] ON [dbo].[TBS004]([VENUFESIG]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0042] ON [dbo].[TBS004]([VENEMPCOD], [VENCPF]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0043] ON [dbo].[TBS004]([VENEMPCOD], [VENLOC]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0044] ON [dbo].[TBS004]([VENEMPCOD], [VENNOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0051] ON [dbo].[TBS005]([TRNUFESIG]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0052] ON [dbo].[TBS005]([TRNEMPCOD], [TRNCGC]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0053] ON [dbo].[TBS005]([TRNEMPCOD], [TRNUFESIG]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0054] ON [dbo].[TBS005]([TRNEMPCOD], [TRNNOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0055] ON [dbo].[TBS005]([TRNEMPCOD], [TRNNOMFAN]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0061] ON [dbo].[TBS006]([FORTESEMP], [FORTESCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0062] ON [dbo].[TBS006]([TRNEMPCOD], [TRNCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0063] ON [dbo].[TBS006]([CPGEMPCOD], [CPGCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0064] ON [dbo].[TBS006]([UFESIG]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0065] ON [dbo].[TBS006]([FOREMPCOD], [FORCGC]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0066] ON [dbo].[TBS006]([FOREMPCOD], [FORCPF]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0068] ON [dbo].[TBS006]([FOREMPCOD], [FORNOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0069] ON [dbo].[TBS006]([FOREMPCOD], [FORNOMFAN]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS006A] ON [dbo].[TBS006]([FOREMPCOD], [FORDATCAD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0071] ON [dbo].[TBS007]([UFESIG]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0081] ON [dbo].[TBS008]([CPGEMPCOD], [CPGDES]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0082] ON [dbo].[TBS008]([CPGEMPCOD], [CPGMOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0091] ON [dbo].[TBS009]([RAMEMPCOD], [RAMDES]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0102] ON [dbo].[TBS010]([PROEMPUM], [PROUM1]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0103] ON [dbo].[TBS010]([PROEMPUM], [PROUM2]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0104] ON [dbo].[TBS010]([PROEMPUM], [PROUM3]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0105] ON [dbo].[TBS010]([PROEMPUM], [PROUM4]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0106] ON [dbo].[TBS010]([FABEMPCOD], [FABCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0107] ON [dbo].[TBS010]([MAREMPCOD], [MARCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0108] ON [dbo].[TBS010]([FOREMPCOD], [FORCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0109] ON [dbo].[TBS010]([GRUEMPCOD], [GRUCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010B] ON [dbo].[TBS010]([PROEMPCOD], [PROCODBAR1]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010C] ON [dbo].[TBS010]([PROEMPCOD], [PROCODBAR2]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010D] ON [dbo].[TBS010]([PROEMPCOD], [PROCODBAR3]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010E] ON [dbo].[TBS010]([PROEMPCOD], [PROCODBAR4]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010F] ON [dbo].[TBS010]([PROEMPCOD], [FOREMPCOD], [FORCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010A] ON [dbo].[TBS010]([PROEMPCOD], [PRODES]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010G] ON [dbo].[TBS010]([PROEMPCOD], [FABCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010H] ON [dbo].[TBS010]([PROEMPCOD], [FORCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010I] ON [dbo].[TBS010]([PROEMPCOD], [GRUCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010J] ON [dbo].[TBS010]([PROEMPCOD], [PROLOCFIS]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010K] ON [dbo].[TBS010]([PROEMPCOD], [MARCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010L] ON [dbo].[TBS010]([PROEMPCOD], [PROREFFOR]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010M] ON [dbo].[TBS010]([PROEMPCOD], [PROSTATUS]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS01010] ON [dbo].[TBS010]([PROSAIEMP], [PROSAICOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS01011] ON [dbo].[TBS010]([PROENTEMP], [PROENTCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010O] ON [dbo].[TBS010]([PROEMPCOD], [PRODATCAD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0111] ON [dbo].[TBS011]([UNIEMPCOD], [UNIDES]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0121] ON [dbo].[TBS012]([GRUEMPCOD], [GRUDES]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0131] ON [dbo].[TBS013]([LESEMPCOD], [LESCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0132] ON [dbo].[TBS013]([CCSEMPCOD], [CCSCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0133] ON [dbo].[TBS013]([PROEMPCOD], [PROCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0134] ON [dbo].[TBS013]([PROEMPCOD], [INVDATLAN], [LESCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0141] ON [dbo].[TBS014]([MAREMPCOD], [MARNOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0151] ON [dbo].[TBS015]([PDPPROEMP], [PDPCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0152] ON [dbo].[TBS015]([PDPPROEMP], [PDPEMPCOD], [PDPCOD], [PDPSEGFOR]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0153] ON [dbo].[TBS015]([PDPEMPCOD], [PDPDATALT]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0154] ON [dbo].[TBS015]([PDPEMPCOD], [PDPDATATU]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0155] ON [dbo].[TBS015]([PDPEMPCOD], [PDPVALPROF]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0156] ON [dbo].[TBS015]([PDPEMPCOD], [PDPVALPROI]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0157] ON [dbo].[TBS015]([PDPEMPCOD], [PDPSEGFOR]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0159] ON [dbo].[TBS015]([MOEEMPCOD], [MOECOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS015A] ON [dbo].[TBS015]([PDPEMPCOD], [PRODES]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0164] ON [dbo].[TBS016]([USUBLOQ]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0165] ON [dbo].[TBS016]([USUDEP]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0166] ON [dbo].[TBS016]([USUNOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS01611] ON [dbo].[TBS0161]([EMPCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS01621] ON [dbo].[TBS0162]([MNUNOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS01622] ON [dbo].[TBS0162]([MODNOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS01631] ON [dbo].[TBS0163]([LESEMPCOD], [LESCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS01643] ON [dbo].[TBS0164]([TMVEMPCOD], [TMVCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0171] ON [dbo].[TBS017]([USUCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0172] ON [dbo].[TBS017]([GRUUSUDES]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS01712] ON [dbo].[TBS0171]([USULISTCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0181] ON [dbo].[TBS018]([NIVNOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0182] ON [dbo].[TBS018]([PRGDES]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0183] ON [dbo].[TBS018]([PRGNOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS1813] ON [dbo].[TBS0181]([PRGCOD], [PRGEVENOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0192] ON [dbo].[TBS019]([MNUDES]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS01912] ON [dbo].[TBS0191]([PRGCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0201] ON [dbo].[TBS020]([MODDES]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0211] ON [dbo].[TBS021]([NIVPOS]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0212] ON [dbo].[TBS021]([NIVDES]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0232] ON [dbo].[TBS023]([EMPCGC]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0233] ON [dbo].[TBS023]([EMPCPF]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0234] ON [dbo].[TBS023]([EMPNOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0235] ON [dbo].[TBS023]([EMPNOMFAN]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0241] ON [dbo].[TBS024]([TBSATRNOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0242] ON [dbo].[TBS024]([TBSSEQ]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0243] ON [dbo].[TBS024]([TBSTIP]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0244] ON [dbo].[TBS024]([TBSZERESC]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS02412] ON [dbo].[TBS0241]([EMPCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0251] ON [dbo].[TBS025]([PARDES]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0252] ON [dbo].[TBS025]([PARTIP]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0253] ON [dbo].[TBS025]([PARVAL]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0261] ON [dbo].[TBS026]([VENEMPCOD], [VENCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0262] ON [dbo].[TBS026]([TPCEMPCOD], [TPCDATCAD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0263] ON [dbo].[TBS026]([TPCEMPCOD], [TPCCLICOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0264] ON [dbo].[TBS026]([TPCEMPCOD], [TPCCLINOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0265] ON [dbo].[TBS026]([TPCEMPCOD], [VENCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0266] ON [dbo].[TBS026]([TPCEMPCOD], [VENNOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS02612] ON [dbo].[TBS0261]([PROEMPCOD], [PROCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0272] ON [dbo].[TBS027]([TPTEMPCOD], [TPTNOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0281] ON [dbo].[TBS028]([FABEMPCOD], [FABNOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0301] ON [dbo].[TBS030]([PROEMPCOD], [PROCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0302] ON [dbo].[TBS030]([CASEMPCOD], [PROCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0303] ON [dbo].[TBS030]([CASEMPCOD], [CASDES]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0311] ON [dbo].[TBS031]([TDPEMPCOD], [TDPDATATU]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0321] ON [dbo].[TBS032]([PROEMPCOD], [PROCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0322] ON [dbo].[TBS032]([PROEMPCOD], [PRODES]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0323] ON [dbo].[TBS032]([FORCOD], [PROEMPCOD], [PRODES]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0331] ON [dbo].[TBS033]([TMVEMPCOD], [TMVDES]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0332] ON [dbo].[TBS033]([TMVEMPCOD], [TMVTIP]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0341] ON [dbo].[TBS034]([LESEMPCOD], [LESDES]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0351] ON [dbo].[TBS035]([PRGCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0352] ON [dbo].[TBS035]([USUCOD], [EMPCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0353] ON [dbo].[TBS035]([TBSNOM], [EMPCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0354] ON [dbo].[TBS035]([USUCOD], [MODNOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0361] ON [dbo].[TBS036]([CCSEMPCOD], [CCSHBL]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0362] ON [dbo].[TBS036]([CCSEMPCOD], [CCSNOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0371] ON [dbo].[TBS037]([MVIEMPLES], [MVILOCORI]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0372] ON [dbo].[TBS037]([MVIEMPLES], [MVILOCDES]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0373] ON [dbo].[TBS037]([CLIEMPCOD], [CLICOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0374] ON [dbo].[TBS037]([CCSEMPCOD], [CCSCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0375] ON [dbo].[TBS037]([TMVEMPCOD], [TMVCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0376] ON [dbo].[TBS037]([MVIEMPCOD], [CCSCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0377] ON [dbo].[TBS037]([MVIEMPCOD], [TMVCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0378] ON [dbo].[TBS037]([MVIEMPCOD], [MVIDATLAN]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0379] ON [dbo].[TBS037]([MVIEMPCOD], [MVIDATEFE]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS037A] ON [dbo].[TBS037]([MVIEMPCOD], [CLICOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS03712] ON [dbo].[TBS0371]([PROEMPCOD], [PROCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0381] ON [dbo].[TBS038]([UFESIG]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0382] ON [dbo].[TBS038]([VENEMPCOD], [VENCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0383] ON [dbo].[TBS038]([PSTEMPCOD], [PSTDATCAD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0384] ON [dbo].[TBS038]([PSTEMPCOD], [PSTNOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0385] ON [dbo].[TBS038]([PSTEMPCOD], [PSTNOMFAN]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0386] ON [dbo].[TBS038]([PSTEMPCOD], [VENCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0391] ON [dbo].[TBS039]([CSTCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0392] ON [dbo].[TBS039]([CSTDES]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0401] ON [dbo].[TBS040]([GOPTIP], [GOPDST]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0402] ON [dbo].[TBS040]([GOPDES]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0411] ON [dbo].[TBS041]([COPCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0412] ON [dbo].[TBS041]([COPCODDDE]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0413] ON [dbo].[TBS041]([COPDES]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0414] ON [dbo].[TBS041]([COPCODDFE]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0415] ON [dbo].[TBS041]([COPCODDOP]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0416] ON [dbo].[TBS041]([COPTXT]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0421] ON [dbo].[TBS042]([COPTIP], [COPCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0422] ON [dbo].[TBS042]([TESEMPCOD], [TESDES]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0423] ON [dbo].[TBS042]([TESEMPCOD], [COPTIP]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0431] ON [dbo].[TBS043]([CPGEMPCOD], [CPGCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0432] ON [dbo].[TBS043]([TRNEMPCOD], [TRNCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0433] ON [dbo].[TBS043]([VENEMPCOD], [VENCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0434] ON [dbo].[TBS043]([ORCEMPCOD], [ORCDATCAD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0435] ON [dbo].[TBS043]([ORCEMPCOD], [ORCCLI]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0436] ON [dbo].[TBS043]([ORCEMPCOD], [ORCNOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0437] ON [dbo].[TBS043]([ORCEMPCOD], [ORCPARA]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0438] ON [dbo].[TBS043]([ORCEMPCOD], [VENCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0439] ON [dbo].[TBS043]([ORCEMPCOD], [ORCPDVNUM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS04312] ON [dbo].[TBS0431]([TESEMPCOD], [TESCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS04313] ON [dbo].[TBS0431]([LESEMPCOD], [LESCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS04314] ON [dbo].[TBS0431]([PROEMPCOD], [PROCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS04316] ON [dbo].[TBS0431]([ORCEMPCOD], [ORCNUM], [PROCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0441] ON [dbo].[TBS044]([MOEEMPCOD], [MOENOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0442] ON [dbo].[TBS044]([MOEEMPCOD], [MOESIM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0451] ON [dbo].[TBS045]([PDCTRNEMP], [PDCTRNCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0452] ON [dbo].[TBS045]([PDCCPGEMP], [PDCCPGCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0453] ON [dbo].[TBS045]([COMEMPCOD], [COMCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0454] ON [dbo].[TBS045]([FOREMPCOD], [FORCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0455] ON [dbo].[TBS045]([PDCEMPCOD], [PDCDATCAD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0456] ON [dbo].[TBS045]([PDCEMPCOD], [FORCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS04512] ON [dbo].[TBS0451]([LESEMPCOD], [LESCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS04513] ON [dbo].[TBS0451]([PROEMPCOD], [PROCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS4515] ON [dbo].[TBS0451]([PDCEMPCOD], [PDCNUM], [PROCOD], [PDCDATPRE]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS4516] ON [dbo].[TBS0451]([PDCEMPCOD], [PROEMPCOD], [PROCOD], [PDCDATPRE]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS04515] ON [dbo].[TBS0451]([PDCEMPCOD], [PDCDATPRE]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS04516] ON [dbo].[TBS0451]([PDCEMPCOD], [PDCDES]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0461] ON [dbo].[TBS046]([COMEMPCOD], [COMNOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0462] ON [dbo].[TBS046]([COMEMPCOD], [COMSTA]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0472] ON [dbo].[TBS047]([CLIEMPCOD], [CLICOD], [REQCDC]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0473] ON [dbo].[TBS047]([CLIEMPCOD], [CLICOD], [REQNOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0481] ON [dbo].[TBS048]([COMEMPCOD], [COMCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0482] ON [dbo].[TBS048]([FOREMPCOD], [FORCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0491] ON [dbo].[TBS049]([OCOEMPCOD], [OCOROT], [OCOCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0492] ON [dbo].[TBS049]([LESEMPCOD], [LESCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0493] ON [dbo].[TBS049]([PROEMPCOD], [PROCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0494] ON [dbo].[TBS049]([MDSEMPCOD], [PROCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0495] ON [dbo].[TBS049]([MDSEMPCOD], [MDSTIP]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0501] ON [dbo].[TBS050]([OCOEMPCOD], [OCOROT], [OCODES]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0503] ON [dbo].[TBS050]([OCOEMPCOD], [OCOCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0504] ON [dbo].[TBS050]([OCOEMPCOD], [OCODES]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0511] ON [dbo].[TBS051]([PROEMPCOD], [PROCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0521] ON [dbo].[TBS052]([TDCCLIEMP], [TDCCLICOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS05212] ON [dbo].[TBS0521]([PROEMPCOD], [PROCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS05214] ON [dbo].[TBS0521]([TDCEMPCOD], [TDCCLICOD], [PROEMPCOD], [PROCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS05215] ON [dbo].[TBS0521]([TDCEMPCOD], [TDCPRODES]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS05216] ON [dbo].[TBS0521]([TDCEMPCOD], [PROCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS05217] ON [dbo].[TBS0521]([TDCEMPCOD], [TDCPROCLI]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0531] ON [dbo].[TBS053]([BCPNUMEMP], [BCPTIPTRN], [BCPCLIEMP], [BCPCLICOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0532] ON [dbo].[TBS053]([BCPNUMEMP], [BCPTIPTRN], [BCPCLIEMP], [BCPCLINOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0533] ON [dbo].[TBS053]([BCPNUMEMP], [BCPTIPTRN], [BCPVENEMP], [BCPVENCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0534] ON [dbo].[TBS053]([BCPNUMEMP], [BCPTIPTRN], [BCPVENEMP], [BCPVENNOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0541] ON [dbo].[TBS054]([EFSUFE], [EFSCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0551] ON [dbo].[TBS055]([CPGEMPCOD], [CPGCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0552] ON [dbo].[TBS055]([TRNEMPCOD], [TRNCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0553] ON [dbo].[TBS055]([VENEMPCOD], [VENCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0554] ON [dbo].[TBS055]([PDVEMPCOD], [VENCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0555] ON [dbo].[TBS055]([PDVEMPCOD], [PDVDATCAD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0556] ON [dbo].[TBS055]([PDVEMPCOD], [PDVCLICOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0557] ON [dbo].[TBS055]([PDVEMPCOD], [PDVCLINOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS05512] ON [dbo].[TBS0551]([TESEMPCOD], [TESCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS05513] ON [dbo].[TBS0551]([LESEMPCOD], [LESCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS05514] ON [dbo].[TBS0551]([PROEMPCOD], [PROCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS05516] ON [dbo].[TBS0551]([PDVEMPCOD], [PDVNUM], [PROCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0561] ON [dbo].[TBS056]([POREMPCOD], [PORCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0562] ON [dbo].[TBS056]([TPTEMPCOD], [TPTCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0563] ON [dbo].[TBS056]([CLIEMPCOD], [CLICOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0564] ON [dbo].[TBS056]([PFXEMPCOD], [PFXCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0565] ON [dbo].[TBS056]([CREEMPCOD], [PFXEMPCOD], [CLIEMPCOD], [CRENUMBOR]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0566] ON [dbo].[TBS056]([CREEMPCOD], [PFXEMPCOD], [CLIEMPCOD], [CLICOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0567] ON [dbo].[TBS056]([CREEMPCOD], [PFXEMPCOD], [CLIEMPCOD], [CLINOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0568] ON [dbo].[TBS056]([CREEMPCOD], [PFXEMPCOD], [CLIEMPCOD], [CREDATEMI]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0569] ON [dbo].[TBS056]([CREEMPCOD], [PFXEMPCOD], [CLIEMPCOD], [PORCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS056B] ON [dbo].[TBS056]([CREEMPCOD], [PFXEMPCOD], [CLIEMPCOD], [CRETIT]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS056C] ON [dbo].[TBS056]([CREEMPCOD], [PFXEMPCOD], [CLIEMPCOD], [CREDATVEN]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS056D] ON [dbo].[TBS056]([CREEMPCOD], [PFXEMPCOD], [CLIEMPCOD], [CREDATVENREA]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS056E] ON [dbo].[TBS056]([CREEMPCOD], [PFXEMPCOD], [CLIEMPCOD], [CREPFXFAT], [CREFATURA]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS056F] ON [dbo].[TBS056]([CREEMPCOD], [PFXEMPCOD], [CLIEMPCOD], [CREVAL]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0571] ON [dbo].[TBS057]([POREMPCOD], [PORCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0572] ON [dbo].[TBS057]([TPTEMPCOD], [TPTCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0573] ON [dbo].[TBS057]([FOREMPCOD], [FORCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0574] ON [dbo].[TBS057]([PFXEMPCOD], [PFXCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0575] ON [dbo].[TBS057]([CPAEMPCOD], [PFXEMPCOD], [FOREMPCOD], [CPANUMBOR]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0576] ON [dbo].[TBS057]([CPAEMPCOD], [PFXEMPCOD], [FOREMPCOD], [FORCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0577] ON [dbo].[TBS057]([CPAEMPCOD], [PFXEMPCOD], [FOREMPCOD], [FORNOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0578] ON [dbo].[TBS057]([CPAEMPCOD], [PFXEMPCOD], [FOREMPCOD], [CPADATEMI]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0579] ON [dbo].[TBS057]([CPAEMPCOD], [PFXEMPCOD], [FOREMPCOD], [PORCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS057B] ON [dbo].[TBS057]([CPAEMPCOD], [PFXEMPCOD], [FOREMPCOD], [CPATIT]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS057C] ON [dbo].[TBS057]([CPAEMPCOD], [PFXEMPCOD], [FOREMPCOD], [CPADATVEN]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS057D] ON [dbo].[TBS057]([CPAEMPCOD], [PFXEMPCOD], [FOREMPCOD], [CPADATVENREA]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0581] ON [dbo].[TBS058]([PROEMPCOD], [PROCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0582] ON [dbo].[TBS058]([PRPEMP], [PRPSIT], [PROEMPCOD], [PROCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0583] ON [dbo].[TBS058]([PRPEMP], [PROCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0584] ON [dbo].[TBS058]([PRPEMP], [PRPNUM], [PRPITEM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0585] ON [dbo].[TBS058]([PRPEMP], [PRPPRODES]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0586] ON [dbo].[TBS058]([PRPEMP], [PRPCLICOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0587] ON [dbo].[TBS058]([PRPEMP], [PRPVENCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS058C] ON [dbo].[TBS058]([PRPEMP], [PRPSIT], [PRPFORCOD], [PRPMARCOD], [PROCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0589] ON [dbo].[TBS058]([PRPEMP], [PRPNUM], [PRPSIT], [PROCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS058A] ON [dbo].[TBS058]([PRPEMP], [PRPDOCREA], [PRPNUM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS058B] ON [dbo].[TBS058]([PRPEMP], [PRPSIT], [PROCOD], [PRPNUM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0592] ON [dbo].[TBS059]([NFEEMPCOD], [NFECOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0593] ON [dbo].[TBS059]([NFEEMPCOD], [NFEDATEMI]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0594] ON [dbo].[TBS059]([NFEEMPCOD], [NFEUSUEFE]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0595] ON [dbo].[TBS059]([NFEEMPCOD], [NFENOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0597] ON [dbo].[TBS059]([SEREMPCOD], [SERCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0598] ON [dbo].[TBS059]([TPTEMPCOD], [TPTCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0599] ON [dbo].[TBS059]([NFEEMPCOD], [NFENUM], [NFECOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS05911] ON [dbo].[TBS0591]([TESEMPCOD], [TESCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS05912] ON [dbo].[TBS0591]([LESEMPCOD], [LESCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS05913] ON [dbo].[TBS0591]([PROEMPCOD], [PROCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS05917] ON [dbo].[TBS0591]([NFEEMPCOD], [NFETIP], [NFENUM], [NFECOD], [PROCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS05918] ON [dbo].[TBS0591]([NFEEMPCOD], [PROCOD], [NFENUM], [NFECOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS05923] ON [dbo].[TBS0592]([NFEEMPCOD], [NFETIP], [NFENUM], [NFECOD], [NFETIPPED], [NFEPEDEMP], [NFEPEDNUM], [NFEPEDITE]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0612] ON [dbo].[TBS061]([PFXEMPCOD], [PFXDES]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0632] ON [dbo].[TBS063]([POREMPCOD], [PORNOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0652] ON [dbo].[TBS065]([LAYTIP]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0671] ON [dbo].[TBS067]([VENEMPCOD], [VENCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0672] ON [dbo].[TBS067]([SEREMPCOD], [SERCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0673] ON [dbo].[TBS067]([TRNEMPCOD], [TRNCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0674] ON [dbo].[TBS067]([CPGEMPCOD], [CPGCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0675] ON [dbo].[TBS067]([UFESIG]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0676] ON [dbo].[TBS067]([NFSEMPCOD], [NFSNUM], [NFSDATEMI]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0677] ON [dbo].[TBS067]([NFSEMPCOD], [NFSCAN]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0678] ON [dbo].[TBS067]([NFSEMPCOD], [NFSCLICOD], [NFSDATEMI]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0679] ON [dbo].[TBS067]([NFSEMPCOD], [NFSDATEMI], [NFSNUM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS067A] ON [dbo].[TBS067]([NFSEMPCOD], [NFSCLINOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS067B] ON [dbo].[TBS067]([NFSEMPCOD], [VENCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS067C] ON [dbo].[TBS067]([NFSEMPCOD], [NFSDATEMI], [VENCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS06712] ON [dbo].[TBS0671]([PROEMPCOD], [PROCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS06714] ON [dbo].[TBS0671]([TESEMPCOD], [TESCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS06715] ON [dbo].[TBS0671]([LESEMPCOD], [LESCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS06716] ON [dbo].[TBS0671]([NFSEMPCOD], [NFSNUM], [NFSCFOP]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS06717] ON [dbo].[TBS0671]([NFSEMPCOD], [NFSNUM], [NFSPERICMS]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS06718] ON [dbo].[TBS0671]([NFSEMPCOD], [NFSNUM], [TESCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0691] ON [dbo].[TBS069]([PROEMPCOD], [PROCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0692] ON [dbo].[TBS069]([PDFNFSEMP], [PDFNFSNUM], [PDFNFSITE]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0693] ON [dbo].[TBS069]([PDFNFSEMP], [PROCOD], [PDFNFSDAT]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0701] ON [dbo].[TBS070]([VENEMPCOD], [VENCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITMP0012] ON [dbo].[TMP001]([T1_EMPRESA], [T1_REGISTRO], [T1_DESCRICAO]) ON [PRIMARY]
GO

 CREATE  INDEX [ITMP0013] ON [dbo].[TMP001]([T1_EMPRESA], [T1_REGISTRO], [T1_LOCALIZACAO]) ON [PRIMARY]
GO

 CREATE  INDEX [ITMP0031] ON [dbo].[TMP003]([T3_EMPRESA], [T3_MARNOM], [T3_PREDATATU]) ON [PRIMARY]
GO

 CREATE  INDEX [ITMP0041] ON [dbo].[TMP004]([T4_EMPRESA], [T4_REGISTRO], [T4_FORNOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITMP0042] ON [dbo].[TMP004]([T4_EMPRESA], [T4_REGISTRO], [T4_MARCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITMP0043] ON [dbo].[TMP004]([T4_EMPRESA], [T4_REGISTRO], [T4_MARNOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITMP0044] ON [dbo].[TMP004]([T4_EMPRESA], [T4_REGISTRO], [T4_QITENS]) ON [PRIMARY]
GO

 CREATE  INDEX [ITMP0045] ON [dbo].[TMP004]([T4_EMPRESA], [T4_REGISTRO], [T4_TOTMARCA]) ON [PRIMARY]
GO

 CREATE  INDEX [ITMP0052] ON [dbo].[TMP005]([T5_EMPRESA], [T5_REGISTRO], [T5_MARLUC]) ON [PRIMARY]
GO

 CREATE  INDEX [ITMP0053] ON [dbo].[TMP005]([T5_EMPRESA], [T5_REGISTRO], [T5_NOME]) ON [PRIMARY]
GO

 CREATE  INDEX [ITMP0054] ON [dbo].[TMP005]([T5_EMPRESA], [T5_REGISTRO], [T5_PERTOTVEN]) ON [PRIMARY]
GO

 CREATE  INDEX [ITMP0055] ON [dbo].[TMP005]([T5_EMPRESA], [T5_REGISTRO], [T5_TOTCUS]) ON [PRIMARY]
GO

 CREATE  INDEX [ITMP0056] ON [dbo].[TMP005]([T5_EMPRESA], [T5_REGISTRO], [T5_VENCICMS]) ON [PRIMARY]
GO

 CREATE  INDEX [ITMP0072] ON [dbo].[TMP007]([T7_EMPRESA], [T7_REGISTRO], [T7_PRODES]) ON [PRIMARY]
GO

 CREATE  INDEX [ITMP0073] ON [dbo].[TMP007]([T7_EMPRESA], [T7_REGISTRO], [T7_QTDVEN]) ON [PRIMARY]
GO

 CREATE  INDEX [ITMP0074] ON [dbo].[TMP007]([T7_EMPRESA], [T7_REGISTRO], [T7_VALVEN]) ON [PRIMARY]
GO

