if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[SYSTAX]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[SYSTAX]
GO

CREATE TABLE [dbo].[SYSTAX] (
	[codigoUnico] [char] (15) COLLATE Latin1_General_BIN NULL ,
	[codigoBOffice] [char] (15) COLLATE Latin1_General_BIN NULL ,
	[descricaoBOffice] [char] (60) COLLATE Latin1_General_BIN NULL ,
	[codigoBB] [char] (15) COLLATE Latin1_General_BIN NULL ,
	[descricaoBB] [char] (60) COLLATE Latin1_General_BIN NULL ,
	[codigoMisaspel] [char] (15) COLLATE Latin1_General_BIN NULL ,
	[descricaoMisaspel] [char] (60) COLLATE Latin1_General_BIN NULL ,
	[codigoPapelyna] [char] (15) COLLATE Latin1_General_BIN NULL ,
	[descricaoPapelyna] [char] (60) COLLATE Latin1_General_BIN NULL ,
	[codigoTbyMatriz] [char] (15) COLLATE Latin1_General_BIN NULL ,
	[descricaoTbyMatriz] [char] (60) COLLATE Latin1_General_BIN NULL ,
	[codigoTbyTte] [char] (15) COLLATE Latin1_General_BIN NULL ,
	[descricaoTbyTte] [char] (60) COLLATE Latin1_General_BIN NULL ,
	[codigoTbyCD] [char] (15) COLLATE Latin1_General_BIN NULL ,
	[descricaoTbyCD] [char] (60) COLLATE Latin1_General_BIN NULL ,
	[totalEntrada] [int] NULL ,
	[ultimaEntrada] [datetime] NULL ,
	[totalSaida] [int] NULL ,
	[ultimaSaida] [datetime] NULL ,
	[destino] [char] (2) COLLATE Latin1_General_BIN NULL ,
	[naturezaOperacao] [char] (30) COLLATE Latin1_General_BIN NULL ,
	[finalidadeAquisicao] [char] (1) COLLATE Latin1_General_BIN NULL ,
	[ultimaEntBOffice] [datetime] NULL ,
	[ultimaEntBB] [datetime] NULL ,
	[ultimaEntMisaspel] [datetime] NULL ,
	[ultimaEntPapelyna] [datetime] NULL ,
	[ultimaEntTbyMatriz] [datetime] NULL ,
	[ultimaEntTbyTte] [datetime] NULL ,
	[ultimaEntTbyCD] [datetime] NULL ,
	[ultimaSaiBOffice] [datetime] NULL ,
	[ultimaSaiBB] [datetime] NULL ,
	[ultimaSaiMisaspel] [datetime] NULL ,
	[ultimaSaiPapelyna] [datetime] NULL ,
	[ultimaSaiTbyMatriz] [datetime] NULL ,
	[ultimaSaiTbyTte] [datetime] NULL ,
	[ultimaSaiTbyCD] [datetime] NULL ,
	[qtdeVezesEntBOffice] [smallint] NULL ,
	[qtdeVezesEntBB] [smallint] NULL ,
	[qtdeVezesEntMisaspel] [smallint] NULL ,
	[qtdeVezesEntPapelyna] [smallint] NULL ,
	[qtdeVezesEntTbyMatriz] [smallint] NULL ,
	[qtdeVezesEntTbyTte] [smallint] NULL ,
	[qtdeVezesEntTbyCD] [smallint] NULL ,
	[qtdeVezesSaiBOffice] [smallint] NULL ,
	[qtdeVezesSaiBB] [smallint] NULL ,
	[qtdeVezesSaiMisaspel] [smallint] NULL ,
	[qtdeVezesSaiPapelyna] [smallint] NULL ,
	[qtdeVezesSaiTbyMatriz] [smallint] NULL ,
	[qtdeVezesSaiTbyTte] [smallint] NULL ,
	[qtdeVezesSaiTbyCD] [smallint] NULL 
) ON [PRIMARY]
GO

