if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[TBS015]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TBS015]
GO

CREATE TABLE [dbo].[TBS015] (
	[PDPEMPCOD] [smallint] NOT NULL ,
	[PDPCOD] [char] (15) COLLATE Latin1_General_BIN NOT NULL ,
	[PDPPROEMP] [smallint] NULL ,
	[PDPIPI] [decimal](8, 5) NULL ,
	[PDPDIFICM] [decimal](8, 5) NULL ,
	[PDPPIS] [decimal](8, 5) NULL ,
	[PDPCOF] [decimal](8, 5) NULL ,
	[PDPFRE] [decimal](8, 5) NULL ,
	[PDPCUSADM] [decimal](8, 5) NULL ,
	[PDPCMS] [decimal](8, 5) NULL ,
	[PDPMKPCOR1] [decimal](8, 5) NULL ,
	[PDPMKPCOR2] [decimal](8, 5) NULL ,
	[PDPMKPLOJ1] [decimal](8, 5) NULL ,
	[PDPMKPLOJ2] [decimal](8, 5) NULL ,
	[PDPMKPREV1] [decimal](8, 5) NULL ,
	[PDPMKPREV2] [decimal](8, 5) NULL ,
	[PDPMKPWE11] [decimal](8, 5) NULL ,
	[PDPMKPWE12] [decimal](8, 5) NULL ,
	[PDPMKPWE21] [decimal](8, 5) NULL ,
	[PDPMKPWE22] [decimal](8, 5) NULL ,
	[PDPMKPPRO1] [decimal](8, 5) NULL ,
	[PDPMKPPRO2] [decimal](8, 5) NULL ,
	[PDPVALPROI] [datetime] NULL ,
	[PDPVALPROF] [datetime] NULL ,
	[PDPPROCOR] [char] (1) COLLATE Latin1_General_BIN NULL ,
	[PDPPROLOJ] [char] (1) COLLATE Latin1_General_BIN NULL ,
	[PDPPROWE1] [char] (1) COLLATE Latin1_General_BIN NULL ,
	[PDPPROWE2] [char] (1) COLLATE Latin1_General_BIN NULL ,
	[PDPPROREV] [char] (1) COLLATE Latin1_General_BIN NULL ,
	[PDPPDD1] [decimal](8, 5) NULL ,
	[PDPPDD2] [decimal](8, 5) NULL ,
	[PDPPDD3] [decimal](8, 5) NULL ,
	[PDPPDD4] [decimal](8, 5) NULL ,
	[PDPPDD5] [decimal](8, 5) NULL ,
	[PDPPREFOR] [money] NULL ,
	[PDPUNI] [char] (2) COLLATE Latin1_General_BIN NULL ,
	[PDPQTDEMB] [money] NULL ,
	[PDPPREUNI] [decimal](11, 4) NULL ,
	[PDPSEGFOR] [char] (1) COLLATE Latin1_General_BIN NULL ,
	[PDPREDCOR1] [decimal](8, 5) NULL ,
	[PDPREDCOR2] [decimal](8, 5) NULL ,
	[PDPREDCOR3] [decimal](8, 5) NULL ,
	[PDPREDCOR4] [decimal](8, 5) NULL ,
	[PDPREDLOJ1] [decimal](8, 5) NULL ,
	[PDPREDLOJ2] [decimal](8, 5) NULL ,
	[PDPREDLOJ3] [decimal](8, 5) NULL ,
	[PDPREDLOJ4] [decimal](8, 5) NULL ,
	[PDPREDREV1] [decimal](8, 5) NULL ,
	[PDPREDREV2] [decimal](8, 5) NULL ,
	[PDPREDREV3] [decimal](8, 5) NULL ,
	[PDPREDREV4] [decimal](8, 5) NULL ,
	[PDPREDWE11] [decimal](8, 5) NULL ,
	[PDPREDWE12] [decimal](8, 5) NULL ,
	[PDPREDWE13] [decimal](8, 5) NULL ,
	[PDPREDWE14] [decimal](8, 5) NULL ,
	[PDPREDWE21] [decimal](8, 5) NULL ,
	[PDPREDWE22] [decimal](8, 5) NULL ,
	[PDPREDWE23] [decimal](8, 5) NULL ,
	[PDPREDWE24] [decimal](8, 5) NULL ,
	[PDPREDPRO1] [decimal](8, 5) NULL ,
	[PDPREDPRO2] [decimal](8, 5) NULL ,
	[PDPREDPRO3] [decimal](8, 5) NULL ,
	[PDPREDPRO4] [decimal](8, 5) NULL ,
	[PDPDATALT] [datetime] NULL ,
	[PDPDATATU] [datetime] NULL ,
	[PDPSEL] [char] (1) COLLATE Latin1_General_BIN NULL ,
	[PDPDATCAD] [datetime] NULL ,
	[MOEEMPCOD] [smallint] NULL ,
	[MOECOD] [smallint] NULL ,
	[PRODES] [char] (50) COLLATE Latin1_General_BIN NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[TBS015] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[PDPEMPCOD],
		[PDPCOD]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TBS015] WITH NOCHECK ADD 
	CONSTRAINT [DF_TBS015_PDPEMPCOD] DEFAULT (0) FOR [PDPEMPCOD],
	CONSTRAINT [DF_TBS015_PDPCOD] DEFAULT ('') FOR [PDPCOD],
	CONSTRAINT [DF_TBS015_PDPPROEMP] DEFAULT (0) FOR [PDPPROEMP],
	CONSTRAINT [DF_TBS015_PDPIPI] DEFAULT (0) FOR [PDPIPI],
	CONSTRAINT [DF_TBS015_PDPDIFICM] DEFAULT (0) FOR [PDPDIFICM],
	CONSTRAINT [DF_TBS015_PDPPIS] DEFAULT (0) FOR [PDPPIS],
	CONSTRAINT [DF_TBS015_PDPCOF] DEFAULT (0) FOR [PDPCOF],
	CONSTRAINT [DF_TBS015_PDPFRE] DEFAULT (0) FOR [PDPFRE],
	CONSTRAINT [DF_TBS015_PDPCUSADM] DEFAULT (0) FOR [PDPCUSADM],
	CONSTRAINT [DF_TBS015_PDPCMS] DEFAULT (0) FOR [PDPCMS],
	CONSTRAINT [DF_TBS015_PDPMKPCOR1] DEFAULT (0) FOR [PDPMKPCOR1],
	CONSTRAINT [DF_TBS015_PDPMKPCOR2] DEFAULT (0) FOR [PDPMKPCOR2],
	CONSTRAINT [DF_TBS015_PDPMKPLOJ1] DEFAULT (0) FOR [PDPMKPLOJ1],
	CONSTRAINT [DF_TBS015_PDPMKPLOJ2] DEFAULT (0) FOR [PDPMKPLOJ2],
	CONSTRAINT [DF_TBS015_PDPMKPREV1] DEFAULT (0) FOR [PDPMKPREV1],
	CONSTRAINT [DF_TBS015_PDPMKPREV2] DEFAULT (0) FOR [PDPMKPREV2],
	CONSTRAINT [DF_TBS015_PDPMKPWE11] DEFAULT (0) FOR [PDPMKPWE11],
	CONSTRAINT [DF_TBS015_PDPMKPWE12] DEFAULT (0) FOR [PDPMKPWE12],
	CONSTRAINT [DF_TBS015_PDPMKPWE21] DEFAULT (0) FOR [PDPMKPWE21],
	CONSTRAINT [DF_TBS015_PDPMKPWE22] DEFAULT (0) FOR [PDPMKPWE22],
	CONSTRAINT [DF_TBS015_PDPMKPPRO1] DEFAULT (0) FOR [PDPMKPPRO1],
	CONSTRAINT [DF_TBS015_PDPMKPPRO2] DEFAULT (0) FOR [PDPMKPPRO2],
	CONSTRAINT [DF_TBS015_PDPVALPROI] DEFAULT (1 / 1 / 1753) FOR [PDPVALPROI],
	CONSTRAINT [DF_TBS015_PDPVALPROF] DEFAULT (1 / 1 / 1753) FOR [PDPVALPROF],
	CONSTRAINT [DF_TBS015_PDPPROCOR] DEFAULT ('') FOR [PDPPROCOR],
	CONSTRAINT [DF_TBS015_PDPPROLOJ] DEFAULT ('') FOR [PDPPROLOJ],
	CONSTRAINT [DF_TBS015_PDPPROWE1] DEFAULT ('') FOR [PDPPROWE1],
	CONSTRAINT [DF_TBS015_PDPPROWE2] DEFAULT ('') FOR [PDPPROWE2],
	CONSTRAINT [DF_TBS015_PDPPROREV] DEFAULT ('') FOR [PDPPROREV],
	CONSTRAINT [DF_TBS015_PDPPDD1] DEFAULT (0) FOR [PDPPDD1],
	CONSTRAINT [DF_TBS015_PDPPDD2] DEFAULT (0) FOR [PDPPDD2],
	CONSTRAINT [DF_TBS015_PDPPDD3] DEFAULT (0) FOR [PDPPDD3],
	CONSTRAINT [DF_TBS015_PDPPDD4] DEFAULT (0) FOR [PDPPDD4],
	CONSTRAINT [DF_TBS015_PDPPDD5] DEFAULT (0) FOR [PDPPDD5],
	CONSTRAINT [DF_TBS015_PDPPREFOR] DEFAULT (0) FOR [PDPPREFOR],
	CONSTRAINT [DF_TBS015_PDPUNI] DEFAULT ('') FOR [PDPUNI],
	CONSTRAINT [DF_TBS015_PDPQTDEMB] DEFAULT (0) FOR [PDPQTDEMB],
	CONSTRAINT [DF_TBS015_PDPPREUNI] DEFAULT (0) FOR [PDPPREUNI],
	CONSTRAINT [DF_TBS015_PDPSEGFOR] DEFAULT ('') FOR [PDPSEGFOR],
	CONSTRAINT [DF_TBS015_PDPREDCOR1] DEFAULT (0) FOR [PDPREDCOR1],
	CONSTRAINT [DF_TBS015_PDPREDCOR2] DEFAULT (0) FOR [PDPREDCOR2],
	CONSTRAINT [DF_TBS015_PDPREDCOR3] DEFAULT (0) FOR [PDPREDCOR3],
	CONSTRAINT [DF_TBS015_PDPREDCOR4] DEFAULT (0) FOR [PDPREDCOR4],
	CONSTRAINT [DF_TBS015_PDPREDLOJ1] DEFAULT (0) FOR [PDPREDLOJ1],
	CONSTRAINT [DF_TBS015_PDPREDLOJ2] DEFAULT (0) FOR [PDPREDLOJ2],
	CONSTRAINT [DF_TBS015_PDPREDLOJ3] DEFAULT (0) FOR [PDPREDLOJ3],
	CONSTRAINT [DF_TBS015_PDPREDLOJ4] DEFAULT (0) FOR [PDPREDLOJ4],
	CONSTRAINT [DF_TBS015_PDPREDREV1] DEFAULT (0) FOR [PDPREDREV1],
	CONSTRAINT [DF_TBS015_PDPREDREV2] DEFAULT (0) FOR [PDPREDREV2],
	CONSTRAINT [DF_TBS015_PDPREDREV3] DEFAULT (0) FOR [PDPREDREV3],
	CONSTRAINT [DF_TBS015_PDPREDREV4] DEFAULT (0) FOR [PDPREDREV4],
	CONSTRAINT [DF_TBS015_PDPREDWE11] DEFAULT (0) FOR [PDPREDWE11],
	CONSTRAINT [DF_TBS015_PDPREDWE12] DEFAULT (0) FOR [PDPREDWE12],
	CONSTRAINT [DF_TBS015_PDPREDWE13] DEFAULT (0) FOR [PDPREDWE13],
	CONSTRAINT [DF_TBS015_PDPREDWE14] DEFAULT (0) FOR [PDPREDWE14],
	CONSTRAINT [DF_TBS015_PDPREDWE21] DEFAULT (0) FOR [PDPREDWE21],
	CONSTRAINT [DF_TBS015_PDPREDWE22] DEFAULT (0) FOR [PDPREDWE22],
	CONSTRAINT [DF_TBS015_PDPREDWE23] DEFAULT (0) FOR [PDPREDWE23],
	CONSTRAINT [DF_TBS015_PDPREDWE24] DEFAULT (0) FOR [PDPREDWE24],
	CONSTRAINT [DF_TBS015_PDPREDPRO1] DEFAULT (0) FOR [PDPREDPRO1],
	CONSTRAINT [DF_TBS015_PDPREDPRO2] DEFAULT (0) FOR [PDPREDPRO2],
	CONSTRAINT [DF_TBS015_PDPREDPRO3] DEFAULT (0) FOR [PDPREDPRO3],
	CONSTRAINT [DF_TBS015_PDPREDPRO4] DEFAULT (0) FOR [PDPREDPRO4],
	CONSTRAINT [DF_TBS015_PDPDATALT] DEFAULT (1 / 1 / 1753) FOR [PDPDATALT],
	CONSTRAINT [DF_TBS015_PDPDATATU] DEFAULT (1 / 1 / 1753) FOR [PDPDATATU],
	CONSTRAINT [DF_TBS015_PDPSEL] DEFAULT ('') FOR [PDPSEL],
	CONSTRAINT [DF_TBS015_PDPDATCAD] DEFAULT (1 / 1 / 1753) FOR [PDPDATCAD],
	CONSTRAINT [DF_TBS015_MOEEMPCOD] DEFAULT (0) FOR [MOEEMPCOD],
	CONSTRAINT [DF_TBS015_MOECOD] DEFAULT (0) FOR [MOECOD],
	CONSTRAINT [DF_TBS015_PRODES] DEFAULT ('') FOR [PRODES]
GO

 CREATE  INDEX [ITBS0151] ON [dbo].[TBS015]([PDPPROEMP], [PDPCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0152] ON [dbo].[TBS015]([PDPPROEMP], [PDPEMPCOD], [PDPCOD], [PDPSEGFOR]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0153] ON [dbo].[TBS015]([PDPEMPCOD], [PDPDATALT]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0154] ON [dbo].[TBS015]([PDPEMPCOD], [PDPDATATU]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0155] ON [dbo].[TBS015]([PDPEMPCOD], [PDPVALPROF]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0156] ON [dbo].[TBS015]([PDPEMPCOD], [PDPVALPROI]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0157] ON [dbo].[TBS015]([PDPEMPCOD], [PDPSEGFOR]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0158] ON [dbo].[TBS015]([PDPEMPCOD] DESC , [PDPCOD] DESC ) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0159] ON [dbo].[TBS015]([MOEEMPCOD], [MOECOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS015A] ON [dbo].[TBS015]([PDPEMPCOD], [PRODES]) ON [PRIMARY]
GO

