CREATE TABLE [dbo].[TBS0801] (
	[ENFEMPCOD] [smallint] NOT NULL ,
	[ENFNUM] [int] NOT NULL ,
	[ENFDATHOR] [datetime] NOT NULL ,
	[ENFCODPRO] [smallint] NULL ,
	[ENFDESPRO] [char] (250) COLLATE Latin1_General_BIN NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[TBS0801] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[ENFEMPCOD],
		[ENFNUM],
		[ENFDATHOR]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TBS0801] ADD 
	CONSTRAINT [DF_TBS0801_ENFCODPRO] DEFAULT (0) FOR [ENFCODPRO],
	CONSTRAINT [DF_TBS0801_ENFDESPRO] DEFAULT ('') FOR [ENFDESPRO]
GO

 CREATE  INDEX [ITBS08013] ON [dbo].[TBS0801]([ENFEMPCOD], [ENFNUM], [ENFDATHOR] DESC ) ON [PRIMARY]
GO

