 CREATE  INDEX [ITBS0151] ON [dbo].[TBS015]([PDPPROEMP], [PDPCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0152] ON [dbo].[TBS015]([PDPPROEMP], [PDPEMPCOD], [PDPCOD], [PDPSEGFOR]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0153] ON [dbo].[TBS015]([PDPEMPCOD], [PDPDATALT]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0154] ON [dbo].[TBS015]([PDPEMPCOD], [PDPDATATU]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0155] ON [dbo].[TBS015]([PDPEMPCOD], [PDPVALPROF]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0156] ON [dbo].[TBS015]([PDPEMPCOD], [PDPVALPROI]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0157] ON [dbo].[TBS015]([PDPEMPCOD], [PDPSEGFOR]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0159] ON [dbo].[TBS015]([MOEEMPCOD], [MOECOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS015A] ON [dbo].[TBS015]([PDPEMPCOD], [PRODES]) ON [PRIMARY]
GO

