if exists (select * from sysobjects where id = object_id(N'[dbo].[TBS003]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TBS003]
GO

CREATE TABLE [dbo].[TBS003] (
	[ENDEMPCOD] [smallint] NOT NULL ,
	[ENDTIP] [smallint] NOT NULL ,
	[ENDCOD] [int] NOT NULL ,
	[ENDEND] [char] (50) NULL ,
	[ENDBAI] [char] (30) NULL ,
	[ENDCID] [char] (30) NULL ,
	[ENDCEP] [char] (9) NULL ,
	[ENDCGC] [char] (14) NULL ,
	[ENDCPF] [char] (11) NULL ,
	[ENDIES] [char] (18) NULL ,
	[ENDIMU] [char] (18) NULL ,
	[ENDCONTAT] [char] (30) NULL ,
	[ENDTEL] [char] (15) NULL ,
	[ENDFAX] [char] (15) NULL ,
	[ENDMAIL] [char] (40) NULL ,
	[UFESIG] [char] (2) NULL ,
	[ENDTIPPES] [char] (1) NULL ,
	[ENDDATCAD] [datetime] NULL 
)
GO

ALTER TABLE [dbo].[TBS003] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[ENDEMPCOD],
		[ENDTIP],
		[ENDCOD]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TBS003] WITH NOCHECK ADD 
	CONSTRAINT [DF_TBS003_ENDEMPCOD] DEFAULT (0) FOR [ENDEMPCOD],
	CONSTRAINT [DF_TBS003_ENDTIP] DEFAULT (0) FOR [ENDTIP],
	CONSTRAINT [DF_TBS003_ENDCOD] DEFAULT (0) FOR [ENDCOD],
	CONSTRAINT [DF_TBS003_ENDEND] DEFAULT ('') FOR [ENDEND],
	CONSTRAINT [DF_TBS003_ENDBAI] DEFAULT ('') FOR [ENDBAI],
	CONSTRAINT [DF_TBS003_ENDCID] DEFAULT ('') FOR [ENDCID],
	CONSTRAINT [DF_TBS003_ENDCEP] DEFAULT ('') FOR [ENDCEP],
	CONSTRAINT [DF_TBS003_ENDCGC] DEFAULT ('') FOR [ENDCGC],
	CONSTRAINT [DF_TBS003_ENDCPF] DEFAULT ('') FOR [ENDCPF],
	CONSTRAINT [DF_TBS003_ENDIES] DEFAULT ('') FOR [ENDIES],
	CONSTRAINT [DF_TBS003_ENDIMU] DEFAULT ('') FOR [ENDIMU],
	CONSTRAINT [DF_TBS003_ENDCONTAT] DEFAULT ('') FOR [ENDCONTAT],
	CONSTRAINT [DF_TBS003_ENDTEL] DEFAULT ('') FOR [ENDTEL],
	CONSTRAINT [DF_TBS003_ENDFAX] DEFAULT ('') FOR [ENDFAX],
	CONSTRAINT [DF_TBS003_ENDMAIL] DEFAULT ('') FOR [ENDMAIL],
	CONSTRAINT [DF_TBS003_UFESIG] DEFAULT ('') FOR [UFESIG],
	CONSTRAINT [DF_TBS003_ENDTIPPES] DEFAULT ('') FOR [ENDTIPPES],
	CONSTRAINT [DF_TBS003_ENDDATCAD] DEFAULT ('') FOR [ENDDATCAD]
GO

 CREATE  INDEX [ITBS0031] ON [dbo].[TBS003]([UFESIG]) ON [PRIMARY]
GO

