if exists (select * from sysobjects where id = object_id(N'[dbo].[TBS014]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TBS014]
GO

CREATE TABLE [dbo].[TBS014] (
	[MAREMPCOD] [smallint] NOT NULL ,
	[MARCOD] [smallint] NOT NULL ,
	[MARNOM] [char] (30) NULL ,
	[MARSEQPRO] [smallint] NULL ,
	[MARDATCAD] [datetime] NULL 
)
GO

ALTER TABLE [dbo].[TBS014] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[MAREMPCOD],
		[MARCOD]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TBS014] WITH NOCHECK ADD 
	CONSTRAINT [DF_TBS014_MAREMPCOD] DEFAULT (0) FOR [MAREMPCOD],
	CONSTRAINT [DF_TBS014_MARCOD] DEFAULT (0) FOR [MARCOD],
	CONSTRAINT [DF_TBS014_MARNOM] DEFAULT ('') FOR [MARNOM],
	CONSTRAINT [DF_TBS014_MARSEQPRO] DEFAULT (0) FOR [MARSEQPRO],
	CONSTRAINT [DF_TBS014_MARDATCAD] DEFAULT ('1/1/1753') FOR [MARDATCAD]
GO

 CREATE  INDEX [ITBS0141] ON [dbo].[TBS014]([MAREMPCOD], [MARNOM]) ON [PRIMARY]
GO

