if exists (select * from sysobjects where id = object_id(N'[dbo].[TBS005]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TBS005]
GO

CREATE TABLE [dbo].[TBS005] (
	[TRNEMPCOD] [smallint] NOT NULL ,
	[TRNCOD] [int] NOT NULL ,
	[TRNNOM] [char] (50) NULL ,
	[TRNNOMFAN] [char] (15) NULL ,
	[TRNEND] [char] (40) NULL ,
	[TRNBAI] [char] (30) NULL ,
	[TRNCEP] [char] (9) NULL ,
	[TRNCID] [char] (15) NULL ,
	[TRNCGC] [char] (14) NULL ,
	[TRNIES] [char] (18) NULL ,
	[TRNTEL] [char] (15) NULL ,
	[TRNFAX] [char] (15) NULL ,
	[TRNEMAIL] [char] (40) NULL ,
	[TRNURL] [char] (30) NULL ,
	[TRNCONTAT] [char] (15) NULL ,
	[TRNUFESIG] [char] (2) NULL ,
	[TRNDATCAD] [datetime] NULL 
)
GO

ALTER TABLE [dbo].[TBS005] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[TRNEMPCOD],
		[TRNCOD]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TBS005] WITH NOCHECK ADD 
	CONSTRAINT [DF_TBS005_TRNEMPCOD] DEFAULT (0) FOR [TRNEMPCOD],
	CONSTRAINT [DF_TBS005_TRNCOD] DEFAULT (0) FOR [TRNCOD],
	CONSTRAINT [DF_TBS005_TRNNOM] DEFAULT ('') FOR [TRNNOM],
	CONSTRAINT [DF_TBS005_TRNNOMFAN] DEFAULT ('') FOR [TRNNOMFAN],
	CONSTRAINT [DF_TBS005_TRNEND] DEFAULT ('') FOR [TRNEND],
	CONSTRAINT [DF_TBS005_TRNBAI] DEFAULT ('') FOR [TRNBAI],
	CONSTRAINT [DF_TBS005_TRNCEP] DEFAULT ('') FOR [TRNCEP],
	CONSTRAINT [DF_TBS005_TRNCID] DEFAULT ('') FOR [TRNCID],
	CONSTRAINT [DF_TBS005_TRNCGC] DEFAULT ('') FOR [TRNCGC],
	CONSTRAINT [DF_TBS005_TRNIES] DEFAULT ('') FOR [TRNIES],
	CONSTRAINT [DF_TBS005_TRNTEL] DEFAULT ('') FOR [TRNTEL],
	CONSTRAINT [DF_TBS005_TRNFAX] DEFAULT ('') FOR [TRNFAX],
	CONSTRAINT [DF_TBS005_TRNEMAIL] DEFAULT ('') FOR [TRNEMAIL],
	CONSTRAINT [DF_TBS005_TRNURL] DEFAULT ('') FOR [TRNURL],
	CONSTRAINT [DF_TBS005_TRNCONTAT] DEFAULT ('') FOR [TRNCONTAT],
	CONSTRAINT [DF_TBS005_TRNUFESIG] DEFAULT ('') FOR [TRNUFESIG],
	CONSTRAINT [DF_TBS005_TRNDATCAD] DEFAULT ('') FOR [TRNDATCAD]
GO

 CREATE  INDEX [ITBS0051] ON [dbo].[TBS005]([TRNUFESIG]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0052] ON [dbo].[TBS005]([TRNEMPCOD], [TRNCGC]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0053] ON [dbo].[TBS005]([TRNEMPCOD], [TRNUFESIG]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0054] ON [dbo].[TBS005]([TRNEMPCOD], [TRNNOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0055] ON [dbo].[TBS005]([TRNEMPCOD], [TRNNOMFAN]) ON [PRIMARY]
GO

