if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[TBS002]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TBS002]
GO

CREATE TABLE [dbo].[TBS002] (
	[CLIEMPCOD] [smallint] NOT NULL ,
	[CLICOD] [int] NOT NULL ,
	[CLINOM] [char] (50) COLLATE Latin1_General_BIN NULL ,
	[CLINOMFAN] [char] (25) COLLATE Latin1_General_BIN NULL ,
	[CLIEND] [char] (50) COLLATE Latin1_General_BIN NULL ,
	[CLICEP] [char] (9) COLLATE Latin1_General_BIN NULL ,
	[CLIBAI] [char] (30) COLLATE Latin1_General_BIN NULL ,
	[CLICID] [char] (35) COLLATE Latin1_General_BIN NULL ,
	[CLICONTAT] [char] (30) COLLATE Latin1_General_BIN NULL ,
	[CLITEL] [char] (15) COLLATE Latin1_General_BIN NULL ,
	[CLIFAX] [char] (15) COLLATE Latin1_General_BIN NULL ,
	[RAMCOD] [smallint] NULL ,
	[RAMEMPCOD] [smallint] NULL ,
	[CLICGC] [char] (14) COLLATE Latin1_General_BIN NULL ,
	[CLICPF] [char] (11) COLLATE Latin1_General_BIN NULL ,
	[CLIIES] [char] (18) COLLATE Latin1_General_BIN NULL ,
	[CLIIMU] [char] (18) COLLATE Latin1_General_BIN NULL ,
	[CLIDATCAD] [datetime] NULL ,
	[CLISTATUS] [char] (1) COLLATE Latin1_General_BIN NULL ,
	[CLIEMAIL] [char] (40) COLLATE Latin1_General_BIN NULL ,
	[CLIURL] [char] (30) COLLATE Latin1_General_BIN NULL ,
	[CPGCOD] [smallint] NULL ,
	[CPGEMPCOD] [smallint] NULL ,
	[VENCOD] [smallint] NULL ,
	[VENEMPCOD] [smallint] NULL ,
	[CLIBLCRED] [char] (1) COLLATE Latin1_General_BIN NULL ,
	[CLIUCPDAT] [datetime] NULL ,
	[CLIUCPVAL] [money] NULL ,
	[CLICLA] [char] (1) COLLATE Latin1_General_BIN NULL ,
	[CLILIC] [money] NULL ,
	[CLILICVEN] [datetime] NULL ,
	[TRNCOD] [int] NULL ,
	[TRNEMPCOD] [smallint] NULL ,
	[UFESIG] [char] (2) COLLATE Latin1_General_BIN NULL ,
	[CLITIPPES] [char] (1) COLLATE Latin1_General_BIN NULL ,
	[CLITIPCLI] [char] (1) COLLATE Latin1_General_BIN NULL ,
	[CLIPRICOM] [datetime] NULL ,
	[CLIMCPDAT] [datetime] NULL ,
	[CLIMCPVAL] [money] NULL ,
	[CLIPEDLIB] [money] NULL ,
	[CLIPEDBLQ] [money] NULL ,
	[CLITITABT] [money] NULL ,
	[CLIPSTCOD] [int] NULL ,
	[CLIDATFUN] [datetime] NULL ,
	[CLIINTENT] [char] (3) COLLATE Latin1_General_BIN NULL ,
	[CLIOBS] [char] (254) COLLATE Latin1_General_BIN NULL ,
	[CLIDIAE11] [smallint] NULL ,
	[CLIINTDIA1] [char] (2) COLLATE Latin1_General_BIN NULL ,
	[CLIDIAE12] [smallint] NULL ,
	[CLIHORE11] [char] (5) COLLATE Latin1_General_BIN NULL ,
	[CLIINTHOR1] [char] (3) COLLATE Latin1_General_BIN NULL ,
	[CLIHORE12] [char] (5) COLLATE Latin1_General_BIN NULL ,
	[CLIDIAE21] [smallint] NULL ,
	[CLIINTDIA2] [char] (2) COLLATE Latin1_General_BIN NULL ,
	[CLIDIAE22] [smallint] NULL ,
	[CLIHORE21] [char] (5) COLLATE Latin1_General_BIN NULL ,
	[CLIINTHOR2] [char] (3) COLLATE Latin1_General_BIN NULL ,
	[CLIHORE22] [char] (5) COLLATE Latin1_General_BIN NULL ,
	[CLIDIAE31] [smallint] NULL ,
	[CLIINTDIA3] [char] (2) COLLATE Latin1_General_BIN NULL ,
	[CLIDIAE32] [smallint] NULL ,
	[CLIHORE31] [char] (5) COLLATE Latin1_General_BIN NULL ,
	[CLIINTHOR3] [char] (3) COLLATE Latin1_General_BIN NULL ,
	[CLIHORE32] [char] (5) COLLATE Latin1_General_BIN NULL ,
	[CLIRECENT] [char] (15) COLLATE Latin1_General_BIN NULL ,
	[CLITELREC] [char] (15) COLLATE Latin1_General_BIN NULL ,
	[CLIRAMREC] [smallint] NULL ,
	[CLICARREC] [char] (15) COLLATE Latin1_General_BIN NULL ,
	[TESCOD] [smallint] NULL ,
	[TESEMPCOD] [smallint] NULL ,
	[CLIISEICMS] [char] (1) COLLATE Latin1_General_BIN NULL ,
	[CLIBLQTRN] [char] (1) COLLATE Latin1_General_BIN NULL ,
	[CLITIPFRE] [smallint] NULL ,
	[CLIPCPVAL] [money] NULL ,
	[CLIMAIATR] [smallint] NULL ,
	[CLIACUATR] [int] NULL ,
	[CLIQTDBAI] [int] NULL ,
	[CLIACUCOM] [money] NULL ,
	[CLIACUTIT] [money] NULL ,
	[CLIQTDCOM] [int] NULL ,
	[CLIQTDTIT] [int] NULL ,
	[CLIPCPNFS] [int] NULL ,
	[CLIMCPNFS] [int] NULL ,
	[CLIUCPNFS] [int] NULL ,
	[CLIIMPBLT] [char] (1) COLLATE Latin1_General_BIN NULL ,
	[CLIPOREMP] [smallint] NULL ,
	[CLIPORCOD] [smallint] NULL ,
	[CLIENDCOB] [char] (50) COLLATE Latin1_General_BIN NULL ,
	[CLIBAICOB] [char] (30) COLLATE Latin1_General_BIN NULL ,
	[CLICIDCOB] [char] (35) COLLATE Latin1_General_BIN NULL ,
	[CLICEPCOB] [char] (9) COLLATE Latin1_General_BIN NULL ,
	[CLITELCOB] [char] (15) COLLATE Latin1_General_BIN NULL ,
	[CLIFAXCOB] [char] (15) COLLATE Latin1_General_BIN NULL ,
	[CLIUFECOB] [char] (2) COLLATE Latin1_General_BIN NULL ,
	[CLIENDENT] [char] (50) COLLATE Latin1_General_BIN NULL ,
	[CLIBAIENT] [char] (30) COLLATE Latin1_General_BIN NULL ,
	[CLICIDENT] [char] (35) COLLATE Latin1_General_BIN NULL ,
	[CLICEPENT] [char] (9) COLLATE Latin1_General_BIN NULL ,
	[CLITELENT] [char] (15) COLLATE Latin1_General_BIN NULL ,
	[CLIFAXENT] [char] (15) COLLATE Latin1_General_BIN NULL ,
	[CLIUFEENT] [char] (2) COLLATE Latin1_General_BIN NULL ,
	[CLICONCOB] [char] (30) COLLATE Latin1_General_BIN NULL ,
	[CLICONENT] [char] (30) COLLATE Latin1_General_BIN NULL ,
	[codigo] [int] NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[TBS002] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[CLIEMPCOD],
		[CLICOD]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TBS002] WITH NOCHECK ADD 
	CONSTRAINT [DF_TBS002_CLIEMPCOD] DEFAULT (0) FOR [CLIEMPCOD],
	CONSTRAINT [DF_TBS002_CLICOD] DEFAULT (0) FOR [CLICOD],
	CONSTRAINT [DF_TBS002_CLINOM] DEFAULT ('') FOR [CLINOM],
	CONSTRAINT [DF_TBS002_CLINOMFAN] DEFAULT ('') FOR [CLINOMFAN],
	CONSTRAINT [DF_TBS002_CLIEND] DEFAULT ('') FOR [CLIEND],
	CONSTRAINT [DF_TBS002_CLICEP] DEFAULT ('') FOR [CLICEP],
	CONSTRAINT [DF_TBS002_CLIBAI] DEFAULT ('') FOR [CLIBAI],
	CONSTRAINT [DF_TBS002_CLICID] DEFAULT ('') FOR [CLICID],
	CONSTRAINT [DF_TBS002_CLICONTAT] DEFAULT ('') FOR [CLICONTAT],
	CONSTRAINT [DF_TBS002_CLITEL] DEFAULT ('') FOR [CLITEL],
	CONSTRAINT [DF_TBS002_CLIFAX] DEFAULT ('') FOR [CLIFAX],
	CONSTRAINT [DF_TBS002_RAMCOD] DEFAULT (0) FOR [RAMCOD],
	CONSTRAINT [DF_TBS002_RAMEMPCOD] DEFAULT (0) FOR [RAMEMPCOD],
	CONSTRAINT [DF_TBS002_CLICGC] DEFAULT ('') FOR [CLICGC],
	CONSTRAINT [DF_TBS002_CLICPF] DEFAULT ('') FOR [CLICPF],
	CONSTRAINT [DF_TBS002_CLIIES] DEFAULT ('') FOR [CLIIES],
	CONSTRAINT [DF_TBS002_CLIIMU] DEFAULT ('') FOR [CLIIMU],
	CONSTRAINT [DF_TBS002_CLIDATCAD] DEFAULT (1 / 1 / 1753) FOR [CLIDATCAD],
	CONSTRAINT [DF_TBS002_CLISTATUS] DEFAULT ('') FOR [CLISTATUS],
	CONSTRAINT [DF_TBS002_CLIEMAIL] DEFAULT ('') FOR [CLIEMAIL],
	CONSTRAINT [DF_TBS002_CLIURL] DEFAULT ('') FOR [CLIURL],
	CONSTRAINT [DF_TBS002_CPGCOD] DEFAULT (0) FOR [CPGCOD],
	CONSTRAINT [DF_TBS002_CPGEMPCOD] DEFAULT (0) FOR [CPGEMPCOD],
	CONSTRAINT [DF_TBS002_VENCOD] DEFAULT (0) FOR [VENCOD],
	CONSTRAINT [DF_TBS002_VENEMPCOD] DEFAULT (0) FOR [VENEMPCOD],
	CONSTRAINT [DF_TBS002_CLIBLCRED] DEFAULT ('') FOR [CLIBLCRED],
	CONSTRAINT [DF_TBS002_CLIUCPDAT] DEFAULT (1 / 1 / 1753) FOR [CLIUCPDAT],
	CONSTRAINT [DF_TBS002_CLIUCPVAL] DEFAULT (0) FOR [CLIUCPVAL],
	CONSTRAINT [DF_TBS002_CLICLA] DEFAULT ('') FOR [CLICLA],
	CONSTRAINT [DF_TBS002_CLILIC] DEFAULT (0) FOR [CLILIC],
	CONSTRAINT [DF_TBS002_CLILICVEN] DEFAULT (1 / 1 / 1753) FOR [CLILICVEN],
	CONSTRAINT [DF_TBS002_TRNCOD] DEFAULT (0) FOR [TRNCOD],
	CONSTRAINT [DF_TBS002_TRNEMPCOD] DEFAULT (0) FOR [TRNEMPCOD],
	CONSTRAINT [DF_TBS002_UFESIG] DEFAULT ('') FOR [UFESIG],
	CONSTRAINT [DF_TBS002_CLITIPPES] DEFAULT ('') FOR [CLITIPPES],
	CONSTRAINT [DF_TBS002_CLITIPCLI] DEFAULT ('') FOR [CLITIPCLI],
	CONSTRAINT [DF_TBS002_CLIPRICOM] DEFAULT (1 / 1 / 1753) FOR [CLIPRICOM],
	CONSTRAINT [DF_TBS002_CLIMCPDAT] DEFAULT (1 / 1 / 1753) FOR [CLIMCPDAT],
	CONSTRAINT [DF_TBS002_CLIMCPVAL] DEFAULT (0) FOR [CLIMCPVAL],
	CONSTRAINT [DF_TBS002_CLIPEDLIB] DEFAULT (0) FOR [CLIPEDLIB],
	CONSTRAINT [DF_TBS002_CLIPEDBLQ] DEFAULT (0) FOR [CLIPEDBLQ],
	CONSTRAINT [DF_TBS002_CLITITABT] DEFAULT (0) FOR [CLITITABT],
	CONSTRAINT [DF_TBS002_CLIPSTCOD] DEFAULT (0) FOR [CLIPSTCOD],
	CONSTRAINT [DF_TBS002_CLIDATFUN] DEFAULT (1 / 1 / 1753) FOR [CLIDATFUN],
	CONSTRAINT [DF_TBS002_CLIINTENT] DEFAULT ('') FOR [CLIINTENT],
	CONSTRAINT [DF_TBS002_CLIOBS] DEFAULT ('') FOR [CLIOBS],
	CONSTRAINT [DF_TBS002_CLIDIAE11] DEFAULT (0) FOR [CLIDIAE11],
	CONSTRAINT [DF_TBS002_CLIINTDIA1] DEFAULT ('') FOR [CLIINTDIA1],
	CONSTRAINT [DF_TBS002_CLIDIAE12] DEFAULT (0) FOR [CLIDIAE12],
	CONSTRAINT [DF_TBS002_CLIHORE11] DEFAULT ('') FOR [CLIHORE11],
	CONSTRAINT [DF_TBS002_CLIINTHOR1] DEFAULT ('') FOR [CLIINTHOR1],
	CONSTRAINT [DF_TBS002_CLIHORE12] DEFAULT ('') FOR [CLIHORE12],
	CONSTRAINT [DF_TBS002_CLIDIAE21] DEFAULT (0) FOR [CLIDIAE21],
	CONSTRAINT [DF_TBS002_CLIINTDIA2] DEFAULT ('') FOR [CLIINTDIA2],
	CONSTRAINT [DF_TBS002_CLIDIAE22] DEFAULT (0) FOR [CLIDIAE22],
	CONSTRAINT [DF_TBS002_CLIHORE21] DEFAULT ('') FOR [CLIHORE21],
	CONSTRAINT [DF_TBS002_CLIINTHOR2] DEFAULT ('') FOR [CLIINTHOR2],
	CONSTRAINT [DF_TBS002_CLIHORE22] DEFAULT ('') FOR [CLIHORE22],
	CONSTRAINT [DF_TBS002_CLIDIAE31] DEFAULT (0) FOR [CLIDIAE31],
	CONSTRAINT [DF_TBS002_CLIINTDIA3] DEFAULT ('') FOR [CLIINTDIA3],
	CONSTRAINT [DF_TBS002_CLIDIAE32] DEFAULT (0) FOR [CLIDIAE32],
	CONSTRAINT [DF_TBS002_CLIHORE31] DEFAULT ('') FOR [CLIHORE31],
	CONSTRAINT [DF_TBS002_CLIINTHOR3] DEFAULT ('') FOR [CLIINTHOR3],
	CONSTRAINT [DF_TBS002_CLIHORE32] DEFAULT ('') FOR [CLIHORE32],
	CONSTRAINT [DF_TBS002_CLIRECENT] DEFAULT ('') FOR [CLIRECENT],
	CONSTRAINT [DF_TBS002_CLITELREC] DEFAULT ('') FOR [CLITELREC],
	CONSTRAINT [DF_TBS002_CLIRAMREC] DEFAULT (0) FOR [CLIRAMREC],
	CONSTRAINT [DF_TBS002_CLICARREC] DEFAULT ('') FOR [CLICARREC],
	CONSTRAINT [DF_TBS002_TESCOD] DEFAULT (0) FOR [TESCOD],
	CONSTRAINT [DF_TBS002_TESEMPCOD] DEFAULT (0) FOR [TESEMPCOD],
	CONSTRAINT [DF_TBS002_CLIISEICMS] DEFAULT ('') FOR [CLIISEICMS],
	CONSTRAINT [DF_TBS002_CLIBLQTRN] DEFAULT ('') FOR [CLIBLQTRN],
	CONSTRAINT [DF_TBS002_CLITIPFRE] DEFAULT (0) FOR [CLITIPFRE],
	CONSTRAINT [DF_TBS002_CLIPCPVAL] DEFAULT (0) FOR [CLIPCPVAL],
	CONSTRAINT [DF_TBS002_CLIMAIATR] DEFAULT (0) FOR [CLIMAIATR],
	CONSTRAINT [DF_TBS002_CLIACUATR] DEFAULT (0) FOR [CLIACUATR],
	CONSTRAINT [DF_TBS002_CLIQTDBAI] DEFAULT (0) FOR [CLIQTDBAI],
	CONSTRAINT [DF_TBS002_CLIACUCOM] DEFAULT (0) FOR [CLIACUCOM],
	CONSTRAINT [DF_TBS002_CLIACUTIT] DEFAULT (0) FOR [CLIACUTIT],
	CONSTRAINT [DF_TBS002_CLIQTDCOM] DEFAULT (0) FOR [CLIQTDCOM],
	CONSTRAINT [DF_TBS002_CLIQTDTIT] DEFAULT (0) FOR [CLIQTDTIT],
	CONSTRAINT [DF_TBS002_CLIPCPNFS] DEFAULT (0) FOR [CLIPCPNFS],
	CONSTRAINT [DF_TBS002_CLIMCPNFS] DEFAULT (0) FOR [CLIMCPNFS],
	CONSTRAINT [DF_TBS002_CLIUCPNFS] DEFAULT (0) FOR [CLIUCPNFS],
	CONSTRAINT [DF_TBS002_CLIIMPBLT] DEFAULT ('') FOR [CLIIMPBLT],
	CONSTRAINT [DF_TBS002_CLIPOREMP] DEFAULT (0) FOR [CLIPOREMP],
	CONSTRAINT [DF_TBS002_CLIPORCOD] DEFAULT (0) FOR [CLIPORCOD],
	CONSTRAINT [DF_TBS002_CLIENDCOB] DEFAULT ('') FOR [CLIENDCOB],
	CONSTRAINT [DF_TBS002_CLIBAICOB] DEFAULT ('') FOR [CLIBAICOB],
	CONSTRAINT [DF_TBS002_CLICIDCOB] DEFAULT ('') FOR [CLICIDCOB],
	CONSTRAINT [DF_TBS002_CLICEPCOB] DEFAULT ('') FOR [CLICEPCOB],
	CONSTRAINT [DF_TBS002_CLITELCOB] DEFAULT ('') FOR [CLITELCOB],
	CONSTRAINT [DF_TBS002_CLIFAXCOB] DEFAULT ('') FOR [CLIFAXCOB],
	CONSTRAINT [DF_TBS002_CLIUFECOB] DEFAULT ('') FOR [CLIUFECOB],
	CONSTRAINT [DF_TBS002_CLIENDENT] DEFAULT ('') FOR [CLIENDENT],
	CONSTRAINT [DF_TBS002_CLIBAIENT] DEFAULT ('') FOR [CLIBAIENT],
	CONSTRAINT [DF_TBS002_CLICIDENT] DEFAULT ('') FOR [CLICIDENT],
	CONSTRAINT [DF_TBS002_CLICEPENT] DEFAULT ('') FOR [CLICEPENT],
	CONSTRAINT [DF_TBS002_CLITELENT] DEFAULT ('') FOR [CLITELENT],
	CONSTRAINT [DF_TBS002_CLIFAXENT] DEFAULT ('') FOR [CLIFAXENT],
	CONSTRAINT [DF_TBS002_CLIUFEENT] DEFAULT ('') FOR [CLIUFEENT],
	CONSTRAINT [DF_TBS002_CLICONCOB] DEFAULT ('') FOR [CLICONCOB],
	CONSTRAINT [DF_TBS002_CLICONENT] DEFAULT ('') FOR [CLICONENT],
	CONSTRAINT [DF__TBS002__codigo__54968AE5] DEFAULT (0) FOR [codigo]
GO

 CREATE  INDEX [ITBS0021] ON [dbo].[TBS002]([TESEMPCOD], [TESCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0022] ON [dbo].[TBS002]([UFESIG]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0023] ON [dbo].[TBS002]([TRNEMPCOD], [TRNCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0024] ON [dbo].[TBS002]([VENEMPCOD], [VENCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0025] ON [dbo].[TBS002]([CPGEMPCOD], [CPGCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0026] ON [dbo].[TBS002]([RAMEMPCOD], [RAMCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0027] ON [dbo].[TBS002]([CLIEMPCOD], [CLICGC]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0028] ON [dbo].[TBS002]([CLIEMPCOD], [CLICPF]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0029] ON [dbo].[TBS002]([CLIEMPCOD], [UFESIG]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS002A] ON [dbo].[TBS002]([CLIEMPCOD], [CLINOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS002B] ON [dbo].[TBS002]([CLIEMPCOD], [CLINOMFAN]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS002C] ON [dbo].[TBS002]([CLIEMPCOD], [VENCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS002D] ON [dbo].[TBS002]([CLIEMPCOD] DESC , [CLICOD] DESC ) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS00210] ON [dbo].[TBS002]([CLIPOREMP], [CLIPORCOD]) ON [PRIMARY]
GO

