if exists (select * from sysobjects where id = object_id(N'[dbo].[TBS010]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TBS010]
GO

CREATE TABLE [dbo].[TBS010] (
	[PROEMPCOD] [smallint] NOT NULL ,
	[PROCOD] [char] (15) NOT NULL ,
	[PRODES] [char] (50) NULL ,
	[PROCODBAR1] [char] (15) NULL ,
	[PROCODBAR2] [char] (15) NULL ,
	[PROCODBAR3] [char] (15) NULL ,
	[PROCODBAR4] [char] (15) NULL ,
	[PROSTATUS] [char] (1) NULL ,
	[PROPESLIQ] [money] NULL ,
	[PROPESBRU] [money] NULL ,
	[PROEMPUM] [smallint] NULL ,
	[PROUM1] [char] (2) NULL ,
	[PROUM1QTD] [money] NULL ,
	[PROUM2] [char] (2) NULL ,
	[PROUM2QTD] [money] NULL ,
	[PROUM3] [char] (2) NULL ,
	[PROUM3QTD] [money] NULL ,
	[PROUM4] [char] (2) NULL ,
	[PROUM4QTD] [money] NULL ,
	[GRUCOD] [smallint] NULL ,
	[GRUEMPCOD] [smallint] NULL ,
	[PRODATVAL] [datetime] NULL ,
	[FORCOD] [int] NULL ,
	[FOREMPCOD] [smallint] NULL ,
	[MARCOD] [smallint] NULL ,
	[MAREMPCOD] [smallint] NULL ,
	[PROICMSSAI] [smallmoney] NULL ,
	[PROICMSENT] [smallmoney] NULL ,
	[PROPBISAI] [decimal](8, 5) NULL ,
	[PROPBIENT] [decimal](8, 5) NULL ,
	[PROIPI] [smallmoney] NULL ,
	[PRODATCAD] [datetime] NULL ,
	[FABCOD] [smallint] NULL ,
	[FABEMPCOD] [smallint] NULL ,
	[PROLOCFIS] [char] (20) NULL ,
	[PROREFFOR] [char] (15) NULL ,
	[PROISS] [smallmoney] NULL ,
	[PROSTBA] [char] (1) NULL ,
	[PROSTBB] [char] (2) NULL ,
	[PROPRIVEN] [datetime] NULL ,
	[PROMVDDAT] [datetime] NULL ,
	[PROMVDVAL] [money] NULL ,
	[PROUVDDAT] [datetime] NULL ,
	[PROUVDVAL] [money] NULL ,
	[PROPRICOM] [datetime] NULL ,
	[PROMCPDAT] [datetime] NULL ,
	[PROMCPVAL] [money] NULL ,
	[PROUCPDAT] [datetime] NULL ,
	[PROUCPVAL] [money] NULL ,
	[PROGERPEN] [char] (1) NULL ,
	[MARNOM] [char] (30) NULL ,
	[PROSAIEMP] [smallint] NULL ,
	[PROSAICOD] [smallint] NULL ,
	[PROENTEMP] [smallint] NULL ,
	[PROENTCOD] [smallint] NULL ,
	[PROPVDVAL] [money] NULL ,
	[PROPVDNFS] [int] NULL ,
	[PROUVDNFS] [int] NULL ,
	[PROMVDNFS] [int] NULL ,
	[PROPCPVAL] [money] NULL ,
	[PROPCPNFE] [int] NULL ,
	[PROUCPNFE] [int] NULL ,
	[PROMCPNFE] [int] NULL 
)
GO

ALTER TABLE [dbo].[TBS010] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[PROEMPCOD],
		[PROCOD]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TBS010] WITH NOCHECK ADD 
	CONSTRAINT [DF_TBS010_PROEMPCOD] DEFAULT (0) FOR [PROEMPCOD],
	CONSTRAINT [DF_TBS010_PROCOD] DEFAULT ('') FOR [PROCOD],
	CONSTRAINT [DF_TBS010_PRODES] DEFAULT ('') FOR [PRODES],
	CONSTRAINT [DF_TBS010_PROCODBAR1] DEFAULT ('') FOR [PROCODBAR1],
	CONSTRAINT [DF_TBS010_PROCODBAR2] DEFAULT ('') FOR [PROCODBAR2],
	CONSTRAINT [DF_TBS010_PROCODBAR3] DEFAULT ('') FOR [PROCODBAR3],
	CONSTRAINT [DF_TBS010_PROCODBAR4] DEFAULT ('') FOR [PROCODBAR4],
	CONSTRAINT [DF_TBS010_PROSTATUS] DEFAULT ('') FOR [PROSTATUS],
	CONSTRAINT [DF_TBS010_PROPESLIQ] DEFAULT (0) FOR [PROPESLIQ],
	CONSTRAINT [DF_TBS010_PROPESBRU] DEFAULT (0) FOR [PROPESBRU],
	CONSTRAINT [DF_TBS010_PROEMPUM] DEFAULT (0) FOR [PROEMPUM],
	CONSTRAINT [DF_TBS010_PROUM1] DEFAULT ('') FOR [PROUM1],
	CONSTRAINT [DF_TBS010_PROUM1QTD] DEFAULT (0) FOR [PROUM1QTD],
	CONSTRAINT [DF_TBS010_PROUM2] DEFAULT ('') FOR [PROUM2],
	CONSTRAINT [DF_TBS010_PROUM2QTD] DEFAULT (0) FOR [PROUM2QTD],
	CONSTRAINT [DF_TBS010_PROUM3] DEFAULT ('') FOR [PROUM3],
	CONSTRAINT [DF_TBS010_PROUM3QTD] DEFAULT (0) FOR [PROUM3QTD],
	CONSTRAINT [DF_TBS010_PROUM4] DEFAULT ('') FOR [PROUM4],
	CONSTRAINT [DF_TBS010_PROUM4QTD] DEFAULT (0) FOR [PROUM4QTD],
	CONSTRAINT [DF_TBS010_GRUCOD] DEFAULT (0) FOR [GRUCOD],
	CONSTRAINT [DF_TBS010_GRUEMPCOD] DEFAULT (0) FOR [GRUEMPCOD],
	CONSTRAINT [DF_TBS010_PRODATVAL] DEFAULT ('1/1/1753') FOR [PRODATVAL],
	CONSTRAINT [DF_TBS010_FORCOD] DEFAULT (0) FOR [FORCOD],
	CONSTRAINT [DF_TBS010_FOREMPCOD] DEFAULT (0) FOR [FOREMPCOD],
	CONSTRAINT [DF_TBS010_MARCOD] DEFAULT (0) FOR [MARCOD],
	CONSTRAINT [DF_TBS010_MAREMPCOD] DEFAULT (0) FOR [MAREMPCOD],
	CONSTRAINT [DF_TBS010_PROICMSSAI] DEFAULT (0) FOR [PROICMSSAI],
	CONSTRAINT [DF_TBS010_PROICMSENT] DEFAULT (0) FOR [PROICMSENT],
	CONSTRAINT [DF_TBS010_PROPBISAI] DEFAULT (0) FOR [PROPBISAI],
	CONSTRAINT [DF_TBS010_PROPBIENT] DEFAULT (0) FOR [PROPBIENT],
	CONSTRAINT [DF_TBS010_PROIPI] DEFAULT (0) FOR [PROIPI],
	CONSTRAINT [DF_TBS010_PRODATCAD] DEFAULT ('1/1/1753') FOR [PRODATCAD],
	CONSTRAINT [DF_TBS010_FABCOD] DEFAULT (0) FOR [FABCOD],
	CONSTRAINT [DF_TBS010_FABEMPCOD] DEFAULT (0) FOR [FABEMPCOD],
	CONSTRAINT [DF_TBS010_PROLOCFIS] DEFAULT ('') FOR [PROLOCFIS],
	CONSTRAINT [DF_TBS010_PROREFFOR] DEFAULT ('') FOR [PROREFFOR],
	CONSTRAINT [DF_TBS010_PROISS] DEFAULT (0) FOR [PROISS],
	CONSTRAINT [DF_TBS010_PROSTBA] DEFAULT ('') FOR [PROSTBA],
	CONSTRAINT [DF_TBS010_PROSTBB] DEFAULT ('') FOR [PROSTBB],
	CONSTRAINT [DF_TBS010_PROPRIVEN] DEFAULT ('1/1/1753') FOR [PROPRIVEN],
	CONSTRAINT [DF_TBS010_PROMVDDAT] DEFAULT ('1/1/1753') FOR [PROMVDDAT],
	CONSTRAINT [DF_TBS010_PROMVDVAL] DEFAULT (0) FOR [PROMVDVAL],
	CONSTRAINT [DF_TBS010_PROUVDDAT] DEFAULT ('1/1/1753') FOR [PROUVDDAT],
	CONSTRAINT [DF_TBS010_PROUVDVAL] DEFAULT (0) FOR [PROUVDVAL],
	CONSTRAINT [DF_TBS010_PROPRICOM] DEFAULT ('1/1/1753') FOR [PROPRICOM],
	CONSTRAINT [DF_TBS010_PROMCPDAT] DEFAULT ('1/1/1753') FOR [PROMCPDAT],
	CONSTRAINT [DF_TBS010_PROMCPVAL] DEFAULT (0) FOR [PROMCPVAL],
	CONSTRAINT [DF_TBS010_PROUCPDAT] DEFAULT ('1/1/1753') FOR [PROUCPDAT],
	CONSTRAINT [DF_TBS010_PROUCPVAL] DEFAULT (0) FOR [PROUCPVAL],
	CONSTRAINT [DF_TBS010_PROGERPEN] DEFAULT ('') FOR [PROGERPEN],
	CONSTRAINT [DF_TBS010_MARNOM] DEFAULT ('') FOR [MARNOM],
	CONSTRAINT [DF_TBS010_PROSAIEMP] DEFAULT (0) FOR [PROSAIEMP],
	CONSTRAINT [DF_TBS010_PROSAICOD] DEFAULT (0) FOR [PROSAICOD],
	CONSTRAINT [DF_TBS010_PROENTEMP] DEFAULT (0) FOR [PROENTEMP],
	CONSTRAINT [DF_TBS010_PROENTCOD] DEFAULT (0) FOR [PROENTCOD],
	CONSTRAINT [DF_TBS010_PROPVDVAL] DEFAULT (0) FOR [PROPVDVAL],
	CONSTRAINT [DF_TBS010_PROPVDNFS] DEFAULT (0) FOR [PROPVDNFS],
	CONSTRAINT [DF_TBS010_PROUVDNFS] DEFAULT (0) FOR [PROUVDNFS],
	CONSTRAINT [DF_TBS010_PROMVDNFS] DEFAULT (0) FOR [PROMVDNFS],
	CONSTRAINT [DF_TBS010_PROPCPVAL] DEFAULT (0) FOR [PROPCPVAL],
	CONSTRAINT [DF_TBS010_PROPCPNFE] DEFAULT (0) FOR [PROPCPNFE],
	CONSTRAINT [DF_TBS010_PROUCPNFE] DEFAULT (0) FOR [PROUCPNFE],
	CONSTRAINT [DF_TBS010_PROMCPNFE] DEFAULT (0) FOR [PROMCPNFE]
GO

 CREATE  INDEX [ITBS0102] ON [dbo].[TBS010]([PROEMPUM], [PROUM1]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0103] ON [dbo].[TBS010]([PROEMPUM], [PROUM2]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0104] ON [dbo].[TBS010]([PROEMPUM], [PROUM3]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0105] ON [dbo].[TBS010]([PROEMPUM], [PROUM4]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0106] ON [dbo].[TBS010]([FABEMPCOD], [FABCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0107] ON [dbo].[TBS010]([MAREMPCOD], [MARCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0108] ON [dbo].[TBS010]([FOREMPCOD], [FORCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0109] ON [dbo].[TBS010]([GRUEMPCOD], [GRUCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010B] ON [dbo].[TBS010]([PROEMPCOD], [PROCODBAR1]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010C] ON [dbo].[TBS010]([PROEMPCOD], [PROCODBAR2]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010D] ON [dbo].[TBS010]([PROEMPCOD], [PROCODBAR3]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010E] ON [dbo].[TBS010]([PROEMPCOD], [PROCODBAR4]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010F] ON [dbo].[TBS010]([PROEMPCOD], [FOREMPCOD], [FORCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010A] ON [dbo].[TBS010]([PROEMPCOD], [PRODES]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010G] ON [dbo].[TBS010]([PROEMPCOD], [FABCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010H] ON [dbo].[TBS010]([PROEMPCOD], [FORCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010I] ON [dbo].[TBS010]([PROEMPCOD], [GRUCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010J] ON [dbo].[TBS010]([PROEMPCOD], [PROLOCFIS]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010K] ON [dbo].[TBS010]([PROEMPCOD], [MARCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010L] ON [dbo].[TBS010]([PROEMPCOD], [PROREFFOR]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS010M] ON [dbo].[TBS010]([PROEMPCOD], [PROSTATUS]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS01010] ON [dbo].[TBS010]([PROSAIEMP], [PROSAICOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS01011] ON [dbo].[TBS010]([PROENTEMP], [PROENTCOD]) ON [PRIMARY]
GO

