CREATE TABLE [dbo].[TBS0372] (
	[MVIEMPCOD] [smallint] NOT NULL ,
	[MVIDOC] [int] NOT NULL ,
	[MVIITE] [smallint] NOT NULL ,
	[MVIDATVAL] [datetime] NOT NULL ,
	[MVINUMLOT] [char] (20) COLLATE Latin1_General_BIN NOT NULL ,
	[MVIDATFAB] [datetime] NULL ,
	[MVIQTDLOT] [money] NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[TBS0372] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[MVIEMPCOD],
		[MVIDOC],
		[MVIITE],
		[MVIDATVAL],
		[MVINUMLOT]
	)  ON [PRIMARY] 
GO

