if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[TBS006]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TBS006]
GO

CREATE TABLE [dbo].[TBS006] (
	[FOREMPCOD] [smallint] NOT NULL ,
	[FORCOD] [int] NOT NULL ,
	[FORNOM] [char] (50) COLLATE Latin1_General_BIN NULL ,
	[FORNOMFAN] [char] (25) COLLATE Latin1_General_BIN NULL ,
	[FOREND] [char] (50) COLLATE Latin1_General_BIN NULL ,
	[FORBAI] [char] (30) COLLATE Latin1_General_BIN NULL ,
	[FORCEP] [char] (9) COLLATE Latin1_General_BIN NULL ,
	[FORCID] [char] (35) COLLATE Latin1_General_BIN NULL ,
	[UFESIG] [char] (2) COLLATE Latin1_General_BIN NULL ,
	[FORCGC] [char] (14) COLLATE Latin1_General_BIN NULL ,
	[FORCPF] [char] (11) COLLATE Latin1_General_BIN NULL ,
	[FORIES] [char] (18) COLLATE Latin1_General_BIN NULL ,
	[FORIMU] [char] (18) COLLATE Latin1_General_BIN NULL ,
	[FORTEL] [char] (15) COLLATE Latin1_General_BIN NULL ,
	[FORFAX] [char] (15) COLLATE Latin1_General_BIN NULL ,
	[FOREMAIL] [char] (40) COLLATE Latin1_General_BIN NULL ,
	[FORURL] [char] (30) COLLATE Latin1_General_BIN NULL ,
	[FORCONTAT] [char] (30) COLLATE Latin1_General_BIN NULL ,
	[FORDATCAD] [datetime] NULL ,
	[FORLIC] [money] NULL ,
	[FORLICVEN] [datetime] NULL ,
	[FORPRICOM] [datetime] NULL ,
	[FORMCPDAT] [datetime] NULL ,
	[FORMCPVAL] [money] NULL ,
	[FORUCPDAT] [datetime] NULL ,
	[FORUCPVAL] [money] NULL ,
	[FORPEDLIB] [money] NULL ,
	[FORPEDBLQ] [money] NULL ,
	[FORTITABT] [money] NULL ,
	[FORTIPPES] [char] (1) COLLATE Latin1_General_BIN NULL ,
	[CPGCOD] [smallint] NULL ,
	[CPGEMPCOD] [smallint] NULL ,
	[FORIPI] [decimal](8, 5) NULL ,
	[FORDIFICM] [decimal](8, 5) NULL ,
	[FORPIS] [decimal](8, 5) NULL ,
	[FORCOF] [decimal](8, 5) NULL ,
	[FORFRE] [decimal](8, 5) NULL ,
	[FORCUSADM] [decimal](8, 5) NULL ,
	[FORMKPCOR1] [decimal](8, 5) NULL ,
	[FORMKPCOR2] [decimal](8, 5) NULL ,
	[FORMKPLOJ1] [decimal](8, 5) NULL ,
	[FORMKPLOJ2] [decimal](8, 5) NULL ,
	[FORMKPREV1] [decimal](8, 5) NULL ,
	[FORMKPREV2] [decimal](8, 5) NULL ,
	[FORMKPWE11] [decimal](8, 5) NULL ,
	[FORMKPWE12] [decimal](8, 5) NULL ,
	[FORMKPWE21] [decimal](8, 5) NULL ,
	[FORMKPWE22] [decimal](8, 5) NULL ,
	[FORREDCOR1] [decimal](8, 5) NULL ,
	[FORREDCOR2] [decimal](8, 5) NULL ,
	[FORREDCOR3] [decimal](8, 5) NULL ,
	[FORREDCOR4] [decimal](8, 5) NULL ,
	[FORREDLOJ1] [decimal](8, 5) NULL ,
	[FORREDLOJ2] [decimal](8, 5) NULL ,
	[FORREDLOJ3] [decimal](8, 5) NULL ,
	[FORREDLOJ4] [decimal](8, 5) NULL ,
	[FORREDREV1] [decimal](8, 5) NULL ,
	[FORREDREV2] [decimal](8, 5) NULL ,
	[FORREDREV3] [decimal](8, 5) NULL ,
	[FORREDREV4] [decimal](8, 5) NULL ,
	[FORREDWE11] [decimal](8, 5) NULL ,
	[FORREDWE12] [decimal](8, 5) NULL ,
	[FORREDWE13] [decimal](8, 5) NULL ,
	[FORREDWE14] [decimal](8, 5) NULL ,
	[FORREDWE21] [decimal](8, 5) NULL ,
	[FORREDWE22] [decimal](8, 5) NULL ,
	[FORREDWE23] [decimal](8, 5) NULL ,
	[FORREDWE24] [decimal](8, 5) NULL ,
	[FORCMS] [decimal](8, 5) NULL ,
	[FORPDD1] [decimal](8, 5) NULL ,
	[FORPDD2] [decimal](8, 5) NULL ,
	[FORPDD3] [decimal](8, 5) NULL ,
	[FORPDD4] [decimal](8, 5) NULL ,
	[FORPDD5] [decimal](8, 5) NULL ,
	[FORDATFUN] [datetime] NULL ,
	[FOROBS] [char] (254) COLLATE Latin1_General_BIN NULL ,
	[TRNCOD] [int] NULL ,
	[TRNEMPCOD] [smallint] NULL ,
	[FORTESCOD] [smallint] NULL ,
	[FORTESEMP] [smallint] NULL ,
	[FORSINHAB] [char] (1) COLLATE Latin1_General_BIN NULL ,
	[FORRECATI] [char] (1) COLLATE Latin1_General_BIN NULL ,
	[FORCONRES] [datetime] NULL ,
	[FORPCPVAL] [money] NULL ,
	[FORPCPNFE] [int] NULL ,
	[FORMCPNFE] [int] NULL ,
	[FORUCPNFE] [int] NULL ,
	[codigo] [int] NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[TBS006] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[FOREMPCOD],
		[FORCOD]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TBS006] WITH NOCHECK ADD 
	CONSTRAINT [DF_TBS006_FOREMPCOD] DEFAULT (0) FOR [FOREMPCOD],
	CONSTRAINT [DF_TBS006_FORCOD] DEFAULT (0) FOR [FORCOD],
	CONSTRAINT [DF_TBS006_FORNOM] DEFAULT ('') FOR [FORNOM],
	CONSTRAINT [DF_TBS006_FORNOMFAN] DEFAULT ('') FOR [FORNOMFAN],
	CONSTRAINT [DF_TBS006_FOREND] DEFAULT ('') FOR [FOREND],
	CONSTRAINT [DF_TBS006_FORBAI] DEFAULT ('') FOR [FORBAI],
	CONSTRAINT [DF_TBS006_FORCEP] DEFAULT ('') FOR [FORCEP],
	CONSTRAINT [DF_TBS006_FORCID] DEFAULT ('') FOR [FORCID],
	CONSTRAINT [DF_TBS006_UFESIG] DEFAULT ('') FOR [UFESIG],
	CONSTRAINT [DF_TBS006_FORCGC] DEFAULT ('') FOR [FORCGC],
	CONSTRAINT [DF_TBS006_FORCPF] DEFAULT ('') FOR [FORCPF],
	CONSTRAINT [DF_TBS006_FORIES] DEFAULT ('') FOR [FORIES],
	CONSTRAINT [DF_TBS006_FORIMU] DEFAULT ('') FOR [FORIMU],
	CONSTRAINT [DF_TBS006_FORTEL] DEFAULT ('') FOR [FORTEL],
	CONSTRAINT [DF_TBS006_FORFAX] DEFAULT ('') FOR [FORFAX],
	CONSTRAINT [DF_TBS006_FOREMAIL] DEFAULT ('') FOR [FOREMAIL],
	CONSTRAINT [DF_TBS006_FORURL] DEFAULT ('') FOR [FORURL],
	CONSTRAINT [DF_TBS006_FORCONTAT] DEFAULT ('') FOR [FORCONTAT],
	CONSTRAINT [DF_TBS006_FORDATCAD] DEFAULT (1 / 1 / 1753) FOR [FORDATCAD],
	CONSTRAINT [DF_TBS006_FORLIC] DEFAULT (0) FOR [FORLIC],
	CONSTRAINT [DF_TBS006_FORLICVEN] DEFAULT (1 / 1 / 1753) FOR [FORLICVEN],
	CONSTRAINT [DF_TBS006_FORPRICOM] DEFAULT (1 / 1 / 1753) FOR [FORPRICOM],
	CONSTRAINT [DF_TBS006_FORMCPDAT] DEFAULT (1 / 1 / 1753) FOR [FORMCPDAT],
	CONSTRAINT [DF_TBS006_FORMCPVAL] DEFAULT (0) FOR [FORMCPVAL],
	CONSTRAINT [DF_TBS006_FORUCPDAT] DEFAULT (1 / 1 / 1753) FOR [FORUCPDAT],
	CONSTRAINT [DF_TBS006_FORUCPVAL] DEFAULT (0) FOR [FORUCPVAL],
	CONSTRAINT [DF_TBS006_FORPEDLIB] DEFAULT (0) FOR [FORPEDLIB],
	CONSTRAINT [DF_TBS006_FORPEDBLQ] DEFAULT (0) FOR [FORPEDBLQ],
	CONSTRAINT [DF_TBS006_FORTITABT] DEFAULT (0) FOR [FORTITABT],
	CONSTRAINT [DF_TBS006_FORTIPPES] DEFAULT ('') FOR [FORTIPPES],
	CONSTRAINT [DF_TBS006_CPGCOD] DEFAULT (0) FOR [CPGCOD],
	CONSTRAINT [DF_TBS006_CPGEMPCOD] DEFAULT (0) FOR [CPGEMPCOD],
	CONSTRAINT [DF_TBS006_FORIPI] DEFAULT (0) FOR [FORIPI],
	CONSTRAINT [DF_TBS006_FORDIFICM] DEFAULT (0) FOR [FORDIFICM],
	CONSTRAINT [DF_TBS006_FORPIS] DEFAULT (0) FOR [FORPIS],
	CONSTRAINT [DF_TBS006_FORCOF] DEFAULT (0) FOR [FORCOF],
	CONSTRAINT [DF_TBS006_FORFRE] DEFAULT (0) FOR [FORFRE],
	CONSTRAINT [DF_TBS006_FORCUSADM] DEFAULT (0) FOR [FORCUSADM],
	CONSTRAINT [DF_TBS006_FORMKPCOR1] DEFAULT (0) FOR [FORMKPCOR1],
	CONSTRAINT [DF_TBS006_FORMKPCOR2] DEFAULT (0) FOR [FORMKPCOR2],
	CONSTRAINT [DF_TBS006_FORMKPLOJ1] DEFAULT (0) FOR [FORMKPLOJ1],
	CONSTRAINT [DF_TBS006_FORMKPLOJ2] DEFAULT (0) FOR [FORMKPLOJ2],
	CONSTRAINT [DF_TBS006_FORMKPREV1] DEFAULT (0) FOR [FORMKPREV1],
	CONSTRAINT [DF_TBS006_FORMKPREV2] DEFAULT (0) FOR [FORMKPREV2],
	CONSTRAINT [DF_TBS006_FORMKPWE11] DEFAULT (0) FOR [FORMKPWE11],
	CONSTRAINT [DF_TBS006_FORMKPWE12] DEFAULT (0) FOR [FORMKPWE12],
	CONSTRAINT [DF_TBS006_FORMKPWE21] DEFAULT (0) FOR [FORMKPWE21],
	CONSTRAINT [DF_TBS006_FORMKPWE22] DEFAULT (0) FOR [FORMKPWE22],
	CONSTRAINT [DF_TBS006_FORREDCOR1] DEFAULT (0) FOR [FORREDCOR1],
	CONSTRAINT [DF_TBS006_FORREDCOR2] DEFAULT (0) FOR [FORREDCOR2],
	CONSTRAINT [DF_TBS006_FORREDCOR3] DEFAULT (0) FOR [FORREDCOR3],
	CONSTRAINT [DF_TBS006_FORREDCOR4] DEFAULT (0) FOR [FORREDCOR4],
	CONSTRAINT [DF_TBS006_FORREDLOJ1] DEFAULT (0) FOR [FORREDLOJ1],
	CONSTRAINT [DF_TBS006_FORREDLOJ2] DEFAULT (0) FOR [FORREDLOJ2],
	CONSTRAINT [DF_TBS006_FORREDLOJ3] DEFAULT (0) FOR [FORREDLOJ3],
	CONSTRAINT [DF_TBS006_FORREDLOJ4] DEFAULT (0) FOR [FORREDLOJ4],
	CONSTRAINT [DF_TBS006_FORREDREV1] DEFAULT (0) FOR [FORREDREV1],
	CONSTRAINT [DF_TBS006_FORREDREV2] DEFAULT (0) FOR [FORREDREV2],
	CONSTRAINT [DF_TBS006_FORREDREV3] DEFAULT (0) FOR [FORREDREV3],
	CONSTRAINT [DF_TBS006_FORREDREV4] DEFAULT (0) FOR [FORREDREV4],
	CONSTRAINT [DF_TBS006_FORREDWE11] DEFAULT (0) FOR [FORREDWE11],
	CONSTRAINT [DF_TBS006_FORREDWE12] DEFAULT (0) FOR [FORREDWE12],
	CONSTRAINT [DF_TBS006_FORREDWE13] DEFAULT (0) FOR [FORREDWE13],
	CONSTRAINT [DF_TBS006_FORREDWE14] DEFAULT (0) FOR [FORREDWE14],
	CONSTRAINT [DF_TBS006_FORREDWE21] DEFAULT (0) FOR [FORREDWE21],
	CONSTRAINT [DF_TBS006_FORREDWE22] DEFAULT (0) FOR [FORREDWE22],
	CONSTRAINT [DF_TBS006_FORREDWE23] DEFAULT (0) FOR [FORREDWE23],
	CONSTRAINT [DF_TBS006_FORREDWE24] DEFAULT (0) FOR [FORREDWE24],
	CONSTRAINT [DF_TBS006_FORCMS] DEFAULT (0) FOR [FORCMS],
	CONSTRAINT [DF_TBS006_FORPDD1] DEFAULT (0) FOR [FORPDD1],
	CONSTRAINT [DF_TBS006_FORPDD2] DEFAULT (0) FOR [FORPDD2],
	CONSTRAINT [DF_TBS006_FORPDD3] DEFAULT (0) FOR [FORPDD3],
	CONSTRAINT [DF_TBS006_FORPDD4] DEFAULT (0) FOR [FORPDD4],
	CONSTRAINT [DF_TBS006_FORPDD5] DEFAULT (0) FOR [FORPDD5],
	CONSTRAINT [DF_TBS006_FORDATFUN] DEFAULT (1 / 1 / 1753) FOR [FORDATFUN],
	CONSTRAINT [DF_TBS006_FOROBS] DEFAULT ('') FOR [FOROBS],
	CONSTRAINT [DF_TBS006_TRNCOD] DEFAULT (0) FOR [TRNCOD],
	CONSTRAINT [DF_TBS006_TRNEMPCOD] DEFAULT (0) FOR [TRNEMPCOD],
	CONSTRAINT [DF_TBS006_FORTESCOD] DEFAULT (0) FOR [FORTESCOD],
	CONSTRAINT [DF_TBS006_FORTESEMP] DEFAULT (0) FOR [FORTESEMP],
	CONSTRAINT [DF_TBS006_FORSINHAB] DEFAULT ('') FOR [FORSINHAB],
	CONSTRAINT [DF_TBS006_FORRECATI] DEFAULT ('') FOR [FORRECATI],
	CONSTRAINT [DF_TBS006_FORCONRES] DEFAULT (1 / 1 / 1753) FOR [FORCONRES],
	CONSTRAINT [DF_TBS006_FORPCPVAL] DEFAULT (0) FOR [FORPCPVAL],
	CONSTRAINT [DF_TBS006_FORPCPNFE] DEFAULT (0) FOR [FORPCPNFE],
	CONSTRAINT [DF_TBS006_FORMCPNFE] DEFAULT (0) FOR [FORMCPNFE],
	CONSTRAINT [DF_TBS006_FORUCPNFE] DEFAULT (0) FOR [FORUCPNFE],
	CONSTRAINT [DF__TBS006__codigo__3B95D2F1] DEFAULT ('') FOR [codigo]
GO

 CREATE  INDEX [ITBS0061] ON [dbo].[TBS006]([FORTESEMP], [FORTESCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0062] ON [dbo].[TBS006]([TRNEMPCOD], [TRNCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0063] ON [dbo].[TBS006]([CPGEMPCOD], [CPGCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0064] ON [dbo].[TBS006]([UFESIG]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0065] ON [dbo].[TBS006]([FOREMPCOD], [FORCGC]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0066] ON [dbo].[TBS006]([FOREMPCOD], [FORCPF]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0067] ON [dbo].[TBS006]([FOREMPCOD] DESC , [FORCOD] DESC ) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0068] ON [dbo].[TBS006]([FOREMPCOD], [FORNOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0069] ON [dbo].[TBS006]([FOREMPCOD], [FORNOMFAN]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS006A] ON [dbo].[TBS006]([FOREMPCOD], [FORDATCAD]) ON [PRIMARY]
GO

