if exists (select * from sysobjects where id = object_id(N'[dbo].[TBS011]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TBS011]
GO

CREATE TABLE [dbo].[TBS011] (
	[UNIEMPCOD] [smallint] NOT NULL ,
	[UNICOD] [char] (2) NOT NULL ,
	[UNIDES] [char] (20) NULL ,
	[UNIDATCAD] [datetime] NULL 
)
GO

ALTER TABLE [dbo].[TBS011] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[UNIEMPCOD],
		[UNICOD]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TBS011] WITH NOCHECK ADD 
	CONSTRAINT [DF_TBS011_UNIEMPCOD] DEFAULT (0) FOR [UNIEMPCOD],
	CONSTRAINT [DF_TBS011_UNICOD] DEFAULT ('') FOR [UNICOD],
	CONSTRAINT [DF_TBS011_UNIDES] DEFAULT ('') FOR [UNIDES],
	CONSTRAINT [DF_TBS011_UNIDATCAD] DEFAULT ('1/1/1753') FOR [UNIDATCAD]
GO

 CREATE  INDEX [ITBS0111] ON [dbo].[TBS011]([UNIEMPCOD], [UNIDES]) ON [PRIMARY]
GO

