if exists (select * from sysobjects where id = object_id(N'[dbo].[TBS004]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TBS004]
GO

CREATE TABLE [dbo].[TBS004] (
	[VENEMPCOD] [smallint] NOT NULL ,
	[VENCOD] [smallint] NOT NULL ,
	[VENNOM] [char] (50) NULL ,
	[VENNOMRED] [char] (30) NULL ,
	[VENEND] [char] (50) NULL ,
	[VENBAI] [char] (30) NULL ,
	[VENCID] [char] (35) NULL ,
	[VENCEP] [char] (9) NULL ,
	[VENCPF] [char] (11) NULL ,
	[VENTEL] [char] (15) NULL ,
	[VENFAX] [char] (15) NULL ,
	[VENRAM] [smallint] NULL ,
	[VENEMAIL] [char] (40) NULL ,
	[VENURL] [char] (30) NULL ,
	[VENLOC] [char] (1) NULL ,
	[VENUFESIG] [char] (2) NULL ,
	[VENDATCAD] [datetime] NULL ,
	[VENCALCOM] [char] (1) NULL ,
	[VENPERCOM] [smallmoney] NULL 
)
GO

ALTER TABLE [dbo].[TBS004] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[VENEMPCOD],
		[VENCOD]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TBS004] WITH NOCHECK ADD 
	CONSTRAINT [DF_TBS004_VENEMPCOD] DEFAULT (0) FOR [VENEMPCOD],
	CONSTRAINT [DF_TBS004_VENCOD] DEFAULT (0) FOR [VENCOD],
	CONSTRAINT [DF_TBS004_VENNOM] DEFAULT ('') FOR [VENNOM],
	CONSTRAINT [DF_TBS004_VENNOMRED] DEFAULT ('') FOR [VENNOMRED],
	CONSTRAINT [DF_TBS004_VENEND] DEFAULT ('') FOR [VENEND],
	CONSTRAINT [DF_TBS004_VENBAI] DEFAULT ('') FOR [VENBAI],
	CONSTRAINT [DF_TBS004_VENCID] DEFAULT ('') FOR [VENCID],
	CONSTRAINT [DF_TBS004_VENCEP] DEFAULT ('') FOR [VENCEP],
	CONSTRAINT [DF_TBS004_VENCPF] DEFAULT ('') FOR [VENCPF],
	CONSTRAINT [DF_TBS004_VENTEL] DEFAULT ('') FOR [VENTEL],
	CONSTRAINT [DF_TBS004_VENFAX] DEFAULT ('') FOR [VENFAX],
	CONSTRAINT [DF_TBS004_VENRAM] DEFAULT (0) FOR [VENRAM],
	CONSTRAINT [DF_TBS004_VENEMAIL] DEFAULT ('') FOR [VENEMAIL],
	CONSTRAINT [DF_TBS004_VENURL] DEFAULT ('') FOR [VENURL],
	CONSTRAINT [DF_TBS004_VENLOC] DEFAULT ('') FOR [VENLOC],
	CONSTRAINT [DF_TBS004_VENUFESIG] DEFAULT ('') FOR [VENUFESIG],
	CONSTRAINT [DF_TBS004_VENDATCAD] DEFAULT ('') FOR [VENDATCAD],
	CONSTRAINT [DF_TBS004_VENCALCOM] DEFAULT ('') FOR [VENCALCOM],
	CONSTRAINT [DF_TBS004_VENPERCOM] DEFAULT (0) FOR [VENPERCOM]
GO

 CREATE  INDEX [ITBS0041] ON [dbo].[TBS004]([VENUFESIG]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0042] ON [dbo].[TBS004]([VENEMPCOD], [VENCPF]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0043] ON [dbo].[TBS004]([VENEMPCOD], [VENLOC]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0044] ON [dbo].[TBS004]([VENEMPCOD], [VENNOM]) ON [PRIMARY]
GO

