if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[TMP008]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TMP008]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[TBS070]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TBS070]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[TBS0701]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TBS0701]
GO

CREATE TABLE [dbo].[TMP008] (
	[T8_EMPRESA] [smallint] NOT NULL ,
	[T8_REGISTRO] [int] NOT NULL ,
	[T8_VENCOD] [smallint] NOT NULL ,
	[T8_NFSNUM] [int] NOT NULL ,
	[T8_NFSITE] [smallint] NOT NULL ,
	[T8_PROCOD] [char] (15) COLLATE Latin1_General_BIN NULL ,
	[T8_PRODES] [char] (50) COLLATE Latin1_General_BIN NULL ,
	[T8_VALVEN] [money] NULL ,
	[T8_VALDEV] [money] NULL ,
	[T8_VALTOT] [money] NULL ,
	[T8_VALCUS] [money] NULL ,
	[T8_PERLUC] [smallmoney] NULL ,
	[T8_PERCOM] [smallmoney] NULL ,
	[T8_VALCOM] [money] NULL ,
	[T8_VENNOM] [char] (50) COLLATE Latin1_General_BIN NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[TBS070] (
	[CMSEMPCOD] [smallint] NOT NULL ,
	[CMSDOC] [int] NOT NULL ,
	[CMSDATPRO] [datetime] NULL ,
	[CMSDATPAG] [datetime] NULL ,
	[CMSDATINI] [datetime] NULL ,
	[CMSDATFIN] [datetime] NULL ,
	[CMSOBS] [char] (254) COLLATE Latin1_General_BIN NULL ,
	[CMSBAI] [char] (1) COLLATE Latin1_General_BIN NULL ,
	[CMSDATBAI] [datetime] NULL ,
	[CMSUSUBAI] [char] (25) COLLATE Latin1_General_BIN NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[TBS0701] (
	[CMSEMPCOD] [smallint] NOT NULL ,
	[CMSDOC] [int] NOT NULL ,
	[VENCOD] [smallint] NOT NULL ,
	[VENEMPCOD] [smallint] NOT NULL ,
	[CMSVALVEN] [money] NULL ,
	[CMSVALABT] [money] NULL ,
	[CMSVALACR] [money] NULL ,
	[CMSPERCOM] [smallmoney] NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[TMP008] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[T8_EMPRESA],
		[T8_REGISTRO],
		[T8_VENCOD],
		[T8_NFSNUM],
		[T8_NFSITE]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TBS070] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[CMSEMPCOD],
		[CMSDOC]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TBS0701] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[CMSEMPCOD],
		[CMSDOC],
		[VENCOD]
	)  ON [PRIMARY] 
GO

 CREATE  INDEX [ITMP0081] ON [dbo].[TMP008]([T8_EMPRESA], [T8_REGISTRO], [T8_VENCOD], [T8_PERCOM], [T8_PRODES]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0702] ON [dbo].[TBS070]([CMSEMPCOD], [CMSDOC] DESC ) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0703] ON [dbo].[TBS070]([CMSEMPCOD], [CMSDATPRO] DESC , [CMSDOC] DESC ) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS07012] ON [dbo].[TBS0701]([VENEMPCOD], [VENCOD]) ON [PRIMARY]
GO

