if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[TBS059]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TBS059]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[TBS0591]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TBS0591]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[TBS0592]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TBS0592]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[TBS0593]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TBS0593]
GO

CREATE TABLE [dbo].[TBS059] (
	[NFEEMPCOD] [smallint] NOT NULL ,
	[NFETIP] [char] (1) COLLATE Latin1_General_BIN NOT NULL ,
	[NFENUM] [int] NOT NULL ,
	[NFECOD] [int] NOT NULL ,
	[NFENOSFOR] [char] (1) COLLATE Latin1_General_BIN NULL ,
	[NFEEMPFC] [smallint] NULL ,
	[NFENOM] [char] (50) COLLATE Latin1_General_BIN NULL ,
	[NFEUSUEFE] [char] (45) COLLATE Latin1_General_BIN NULL ,
	[NFEDATEMI] [datetime] NULL ,
	[NFEULTITE] [smallint] NULL ,
	[NFEOBS] [char] (254) COLLATE Latin1_General_BIN NULL ,
	[SEREMPCOD] [smallint] NULL ,
	[SERCOD] [char] (3) COLLATE Latin1_General_BIN NULL ,
	[TPTEMPCOD] [smallint] NULL ,
	[TPTCOD] [char] (3) COLLATE Latin1_General_BIN NULL ,
	[NFEGERPDC] [char] (1) COLLATE Latin1_General_BIN NULL ,
	[NFEDADVAL] [char] (1) COLLATE Latin1_General_BIN NULL ,
	[NFEESTORI] [char] (2) COLLATE Latin1_General_BIN NULL ,
	[NFEVALFRE] [money] NULL ,
	[NFEVALDES] [money] NULL ,
	[NFEVDDTOT] [money] NULL ,
	[NFETOTICMS] [money] NULL ,
	[NFETOTBAS] [money] NULL ,
	[NFETOTIPI] [money] NULL ,
	[NFEBASSUB] [money] NULL ,
	[NFEVALSUB] [money] NULL ,
	[NFEVALSEG] [money] NULL ,
	[NFECAN] [char] (1) COLLATE Latin1_General_BIN NULL ,
	[NFEDATCAN] [datetime] NULL ,
	[NFEUSUCAN] [char] (25) COLLATE Latin1_General_BIN NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[TBS0591] (
	[NFEEMPCOD] [smallint] NOT NULL ,
	[NFETIP] [char] (1) COLLATE Latin1_General_BIN NOT NULL ,
	[NFENUM] [int] NOT NULL ,
	[NFECOD] [int] NOT NULL ,
	[NFEITE] [smallint] NOT NULL ,
	[PROCOD] [char] (15) COLLATE Latin1_General_BIN NULL ,
	[PROEMPCOD] [smallint] NULL ,
	[NFEDES] [char] (50) COLLATE Latin1_General_BIN NULL ,
	[NFEQTD] [money] NULL ,
	[NFEUNI] [char] (2) COLLATE Latin1_General_BIN NULL ,
	[NFEQTDEMB] [money] NULL ,
	[NFEPRE] [decimal](13, 6) NULL ,
	[NFEPDDITE] [decimal](8, 5) NULL ,
	[LESCOD] [smallint] NULL ,
	[LESEMPCOD] [smallint] NULL ,
	[TESCOD] [smallint] NULL ,
	[TESEMPCOD] [smallint] NULL ,
	[NFEMOVEST] [char] (1) COLLATE Latin1_General_BIN NULL ,
	[NFEPBI] [decimal](8, 5) NULL ,
	[NFEPERICMS] [smallmoney] NULL ,
	[NFECFOP] [char] (5) COLLATE Latin1_General_BIN NULL ,
	[NFECST] [char] (3) COLLATE Latin1_General_BIN NULL ,
	[NFEEFS] [char] (1) COLLATE Latin1_General_BIN NULL ,
	[NFEPDCNUM] [int] NULL ,
	[NFEPDCITE] [smallint] NULL ,
	[NFEPDVNUM] [int] NULL ,
	[NFEPDVITE] [smallint] NULL ,
	[NFENFSNUM] [int] NULL ,
	[NFENFSITE] [smallint] NULL ,
	[NFEPERIPI] [smallmoney] NULL ,
	[NFEBASICMS] [money] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[TBS0592] (
	[NFEEMPCOD] [smallint] NOT NULL ,
	[NFETIP] [char] (1) COLLATE Latin1_General_BIN NOT NULL ,
	[NFENUM] [int] NOT NULL ,
	[NFECOD] [int] NOT NULL ,
	[NFEITE] [smallint] NOT NULL ,
	[NFETIPPED] [char] (1) COLLATE Latin1_General_BIN NOT NULL ,
	[NFEPEDEMP] [smallint] NOT NULL ,
	[NFEPEDNUM] [int] NOT NULL ,
	[NFEPEDITE] [smallint] NOT NULL ,
	[NFEPEDUNI] [char] (2) COLLATE Latin1_General_BIN NULL ,
	[NFEPEDQTD] [money] NULL ,
	[NFEPEDEMB] [money] NULL ,
	[NFEATEQTD] [money] NULL ,
	[NFEATEDAT] [datetime] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[TBS0593] (
	[NFEEMPCOD] [smallint] NOT NULL ,
	[NFETIP] [char] (1) COLLATE Latin1_General_BIN NOT NULL ,
	[NFENUM] [int] NOT NULL ,
	[NFECOD] [int] NOT NULL ,
	[NFEDATVEN] [datetime] NOT NULL ,
	[NFEVALPAR] [money] NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[TBS059] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[NFEEMPCOD],
		[NFETIP],
		[NFENUM],
		[NFECOD]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TBS0591] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[NFEEMPCOD],
		[NFETIP],
		[NFENUM],
		[NFECOD],
		[NFEITE]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TBS0592] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[NFEEMPCOD],
		[NFETIP],
		[NFENUM],
		[NFECOD],
		[NFEITE],
		[NFETIPPED],
		[NFEPEDEMP],
		[NFEPEDNUM],
		[NFEPEDITE]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TBS0593] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[NFEEMPCOD],
		[NFETIP],
		[NFENUM],
		[NFECOD],
		[NFEDATVEN]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TBS059] ADD 
	CONSTRAINT [DF_TBS059_NFEEMPCOD] DEFAULT (0) FOR [NFEEMPCOD],
	CONSTRAINT [DF_TBS059_NFETIP] DEFAULT ('') FOR [NFETIP],
	CONSTRAINT [DF_TBS059_NFENUM] DEFAULT (0) FOR [NFENUM],
	CONSTRAINT [DF_TBS059_NFECOD] DEFAULT (0) FOR [NFECOD],
	CONSTRAINT [DF_TBS059_NFENOSFOR] DEFAULT ('') FOR [NFENOSFOR],
	CONSTRAINT [DF_TBS059_NFEEMPFC] DEFAULT (0) FOR [NFEEMPFC],
	CONSTRAINT [DF_TBS059_NFENOM] DEFAULT ('') FOR [NFENOM],
	CONSTRAINT [DF_TBS059_NFEUSUEFE] DEFAULT ('') FOR [NFEUSUEFE],
	CONSTRAINT [DF_TBS059_NFEDATEMI] DEFAULT ('17530101') FOR [NFEDATEMI],
	CONSTRAINT [DF_TBS059_NFEULTITE] DEFAULT (0) FOR [NFEULTITE],
	CONSTRAINT [DF_TBS059_NFEOBS] DEFAULT ('') FOR [NFEOBS],
	CONSTRAINT [DF_TBS059_SEREMPCOD] DEFAULT (0) FOR [SEREMPCOD],
	CONSTRAINT [DF_TBS059_SERCOD] DEFAULT ('') FOR [SERCOD],
	CONSTRAINT [DF_TBS059_TPTEMPCOD] DEFAULT (0) FOR [TPTEMPCOD],
	CONSTRAINT [DF_TBS059_TPTCOD] DEFAULT ('') FOR [TPTCOD],
	CONSTRAINT [DF_TBS059_NFEGERPDC] DEFAULT ('') FOR [NFEGERPDC],
	CONSTRAINT [DF_TBS059_NFEDADVAL] DEFAULT ('') FOR [NFEDADVAL],
	CONSTRAINT [DF_TBS059_NFEESTORI] DEFAULT ('') FOR [NFEESTORI],
	CONSTRAINT [DF_TBS059_NFEVALFRE] DEFAULT (0) FOR [NFEVALFRE],
	CONSTRAINT [DF_TBS059_NFEVALDES] DEFAULT (0) FOR [NFEVALDES],
	CONSTRAINT [DF__TBS059__NFEVDDTO__73E5190C] DEFAULT (0) FOR [NFEVDDTOT],
	CONSTRAINT [DF__TBS059__NFETOTIC__74D93D45] DEFAULT (0) FOR [NFETOTICMS],
	CONSTRAINT [DF__TBS059__NFETOTBA__75CD617E] DEFAULT (0) FOR [NFETOTBAS],
	CONSTRAINT [DF__TBS059__NFETOTIP__76C185B7] DEFAULT (0) FOR [NFETOTIPI],
	CONSTRAINT [DF__TBS059__NFEBASSU__77B5A9F0] DEFAULT (0) FOR [NFEBASSUB],
	CONSTRAINT [DF__TBS059__NFEVALSU__78A9CE29] DEFAULT (0) FOR [NFEVALSUB],
	CONSTRAINT [DF__TBS059__NFEVALSE__799DF262] DEFAULT (0) FOR [NFEVALSEG],
	CONSTRAINT [DF__TBS059__NFECAN__7A92169B] DEFAULT ('') FOR [NFECAN],
	CONSTRAINT [DF__TBS059__NFEDATCA__7B863AD4] DEFAULT ('17530101') FOR [NFEDATCAN],
	CONSTRAINT [DF__TBS059__NFEUSUCA__7C7A5F0D] DEFAULT ('') FOR [NFEUSUCAN]
GO

 CREATE  INDEX [ITBS0598] ON [dbo].[TBS059]([TPTEMPCOD], [TPTCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0597] ON [dbo].[TBS059]([SEREMPCOD], [SERCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0592] ON [dbo].[TBS059]([NFEEMPCOD], [NFECOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0593] ON [dbo].[TBS059]([NFEEMPCOD], [NFEDATEMI]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0594] ON [dbo].[TBS059]([NFEEMPCOD], [NFEUSUEFE]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0595] ON [dbo].[TBS059]([NFEEMPCOD], [NFENOM]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0599] ON [dbo].[TBS059]([NFEEMPCOD], [NFENUM], [NFECOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS059A] ON [dbo].[TBS059]([NFEEMPCOD], [NFENUM], [NFEDATEMI]) ON [PRIMARY]
GO

ALTER TABLE [dbo].[TBS0591] ADD 
	CONSTRAINT [DF_TBS0591_NFEEMPCOD] DEFAULT (0) FOR [NFEEMPCOD],
	CONSTRAINT [DF_TBS0591_NFETIP] DEFAULT ('') FOR [NFETIP],
	CONSTRAINT [DF_TBS0591_NFENUM] DEFAULT (0) FOR [NFENUM],
	CONSTRAINT [DF_TBS0591_NFECOD] DEFAULT (0) FOR [NFECOD],
	CONSTRAINT [DF_TBS0591_NFEITE] DEFAULT (0) FOR [NFEITE],
	CONSTRAINT [DF_TBS0591_PROCOD] DEFAULT ('') FOR [PROCOD],
	CONSTRAINT [DF_TBS0591_PROEMPCOD] DEFAULT (0) FOR [PROEMPCOD],
	CONSTRAINT [DF_TBS0591_NFEDES] DEFAULT ('') FOR [NFEDES],
	CONSTRAINT [DF_TBS0591_NFEQTD] DEFAULT (0) FOR [NFEQTD],
	CONSTRAINT [DF_TBS0591_NFEUNI] DEFAULT ('') FOR [NFEUNI],
	CONSTRAINT [DF_TBS0591_NFEQTDEMB] DEFAULT (0) FOR [NFEQTDEMB],
	CONSTRAINT [DF_TBS0591_NFEPRE] DEFAULT (0) FOR [NFEPRE],
	CONSTRAINT [DF_TBS0591_NFEPDDITE] DEFAULT (0) FOR [NFEPDDITE],
	CONSTRAINT [DF_TBS0591_LESCOD] DEFAULT (0) FOR [LESCOD],
	CONSTRAINT [DF_TBS0591_LESEMPCOD] DEFAULT (0) FOR [LESEMPCOD],
	CONSTRAINT [DF_TBS0591_TESCOD] DEFAULT (0) FOR [TESCOD],
	CONSTRAINT [DF_TBS0591_TESEMPCOD] DEFAULT (0) FOR [TESEMPCOD],
	CONSTRAINT [DF_TBS0591_NFEMOVEST] DEFAULT ('') FOR [NFEMOVEST],
	CONSTRAINT [DF_TBS0591_NFEPBI] DEFAULT (0) FOR [NFEPBI],
	CONSTRAINT [DF_TBS0591_NFEPERICMS] DEFAULT (0) FOR [NFEPERICMS],
	CONSTRAINT [DF_TBS0591_NFECFOP] DEFAULT ('') FOR [NFECFOP],
	CONSTRAINT [DF_TBS0591_NFECST] DEFAULT ('') FOR [NFECST],
	CONSTRAINT [DF_TBS0591_NFEEFS] DEFAULT ('') FOR [NFEEFS],
	CONSTRAINT [DF_TBS0591_NFEPDCNUM] DEFAULT (0) FOR [NFEPDCNUM],
	CONSTRAINT [DF_TBS0591_NFEPDCITE] DEFAULT (0) FOR [NFEPDCITE],
	CONSTRAINT [DF_TBS0591_NFEPDVNUM] DEFAULT (0) FOR [NFEPDVNUM],
	CONSTRAINT [DF_TBS0591_NFEPDVITE] DEFAULT (0) FOR [NFEPDVITE],
	CONSTRAINT [DF_TBS0591_NFENFSNUM] DEFAULT (0) FOR [NFENFSNUM],
	CONSTRAINT [DF_TBS0591_NFENFSITE] DEFAULT (0) FOR [NFENFSITE],
	CONSTRAINT [DF_TBS0591_NFEPERIPI] DEFAULT (0) FOR [NFEPERIPI],
	CONSTRAINT [DF__TBS0591__NFEBASI__7D6E8346] DEFAULT (0) FOR [NFEBASICMS]
GO

 CREATE  INDEX [ITBS05911] ON [dbo].[TBS0591]([TESEMPCOD], [TESCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS05912] ON [dbo].[TBS0591]([LESEMPCOD], [LESCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS05913] ON [dbo].[TBS0591]([PROEMPCOD], [PROCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS05917] ON [dbo].[TBS0591]([NFEEMPCOD], [NFETIP], [NFENUM], [NFECOD], [PROCOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS05918] ON [dbo].[TBS0591]([NFEEMPCOD], [PROCOD], [NFENUM], [NFECOD]) ON [PRIMARY]
GO

 CREATE  INDEX [ITBS0591A] ON [dbo].[TBS0591]([NFEEMPCOD], [NFENUM], [TESCOD]) ON [PRIMARY]
GO

ALTER TABLE [dbo].[TBS0592] ADD 
	CONSTRAINT [DF_TBS0592_NFEEMPCOD] DEFAULT (0) FOR [NFEEMPCOD],
	CONSTRAINT [DF_TBS0592_NFETIP] DEFAULT ('') FOR [NFETIP],
	CONSTRAINT [DF_TBS0592_NFENUM] DEFAULT (0) FOR [NFENUM],
	CONSTRAINT [DF_TBS0592_NFECOD] DEFAULT (0) FOR [NFECOD],
	CONSTRAINT [DF_TBS0592_NFEITE] DEFAULT (0) FOR [NFEITE],
	CONSTRAINT [DF_TBS0592_NFETIPPED] DEFAULT ('') FOR [NFETIPPED],
	CONSTRAINT [DF_TBS0592_NFEPEDEMP] DEFAULT (0) FOR [NFEPEDEMP],
	CONSTRAINT [DF_TBS0592_NFEPEDNUM] DEFAULT (0) FOR [NFEPEDNUM],
	CONSTRAINT [DF_TBS0592_NFEPEDITE] DEFAULT (0) FOR [NFEPEDITE],
	CONSTRAINT [DF_TBS0592_NFEPEDUNI] DEFAULT ('') FOR [NFEPEDUNI],
	CONSTRAINT [DF_TBS0592_NFEPEDQTD] DEFAULT (0) FOR [NFEPEDQTD],
	CONSTRAINT [DF_TBS0592_NFEPEDEMB] DEFAULT (0) FOR [NFEPEDEMB],
	CONSTRAINT [DF_TBS0592_NFEATEQTD] DEFAULT (0) FOR [NFEATEQTD],
	CONSTRAINT [DF_TBS0592_NFEATEDAT] DEFAULT ('17530101') FOR [NFEATEDAT]
GO

 CREATE  INDEX [ITBS05923] ON [dbo].[TBS0592]([NFEEMPCOD], [NFETIP], [NFENUM], [NFECOD], [NFETIPPED], [NFEPEDEMP], [NFEPEDNUM], [NFEPEDITE]) ON [PRIMARY]
GO

ALTER TABLE [dbo].[TBS0593] ADD 
	CONSTRAINT [DF_TBS0593_NFEEMPCOD] DEFAULT (0) FOR [NFEEMPCOD],
	CONSTRAINT [DF_TBS0593_NFETIP] DEFAULT ('') FOR [NFETIP],
	CONSTRAINT [DF_TBS0593_NFENUM] DEFAULT (0) FOR [NFENUM],
	CONSTRAINT [DF_TBS0593_NFECOD] DEFAULT (0) FOR [NFECOD],
	CONSTRAINT [DF_TBS0593_NFEDATVEN] DEFAULT ('17530101') FOR [NFEDATVEN],
	CONSTRAINT [DF_TBS0593_NFEVALPAR] DEFAULT (0) FOR [NFEVALPAR]
GO

